= cache(:action => 'help_out', :action_suffic => "#{idea.id}_#{idea.updated_at.to_s}_filter:#{params[:filter_out]}") do
  %article.cell.game-idea-block
    %a{href:idea_path(idea)}
      %img.banner{:src => idea.details.banner_image? ? idea.details.banner_image : "/assets/default-idea.png"}

    .details
      %h4.title.close= link_to idea.title, idea
      %p.byline
        = render :partial => 'byline', :locals => {user: idea.owner}
      %p.description.close= idea.details.pitch
      = render :partial => 'tags', :locals => {idea: idea}    
      
      %p.lastupdate
        Last updated
        = distance_of_time_in_words DateTime.now, idea.updated_at
        ago

    .helpwanted
      %h5 #{idea.title} needs Help With:
      = render :partial => 'ideas/show/help_wanted', :locals => {idea: idea, hide_controls: true}
      .learnMoreLink
        = link_to 'How do I help?', '', 'data-dialog-target-id' => "help_out_#{idea.goals.first.id}", :class => "btn narrow"
        .help-out{id: "help_out_#{idea.goals.first.id}", title: 'Help Out With This Goal', 'data-dialog-size' => '400x200'}
          = render :partial => 'ideas/show/help_out'
