by
%a{:href => user_path(user.username)}
  %img.avatar{:src => user.avatar? ? user.avatar : "/assets/default-avatar.png"}
  = user.username

  / reputation
  - unless user.admin?
    (#{user.reputation})