= cache("design_game_card_#{idea.id}_#{idea.updated_at.to_s}") do
  %article.cell.game-idea-block 
    %a.img-block{:href => design_document_idea_path(idea)}
      %img{:src => idea.details.banner_image? ? idea.details.banner_image : "/assets/default-idea.png"}
    %h4.gamename= link_to idea.title, design_document_idea_path(idea)
    %p.byline
      = render :partial => 'ideas_collection/byline', :locals => {user: idea.owner}
    %p.description.close= idea.details.pitch

    = render :partial => 'ideas_collection/tags', :locals => {idea: idea}

    %footer
      = render :partial => 'ideas_collection/last_updated', :locals => {idea: idea} 
      = render :partial => 'ideas_collection/idea_activity_count', :locals => {idea: idea}     