- yield # required before any named yield works, will swallow any unnamed block content

%main.tile#browse{:class => browse_type_class}
  %h5
    - if browse_type_class == 'design'
      Browsing #{Idea.count.to_s} Ideas
    - if browse_type_class == 'search'
      Search Results
    - if browse_type_class == 'play'
      Showing #{Post.prototypes.count} Demos
    - if browse_type_class == 'build'
      Ideas that Need Help

  %article.grid{:class => ('tile' if browse_type_class == 'design' || browse_type_class == 'search'), :'data-async-scroll' => '/more/', :'data-async-scroll-loader-element' => '#show-more-loader', :'data-async-qstring' => "?" + params.except(:action, :controller).to_param}
    = yield :collection
    %img#show-more-loader{src: '/assets/ajax-loader.gif', style: 'display: none; margin-left: 350px;'}

  %section.sidebar
    %section{:class => ('active-search' if params[:action] == 'browse_search')}
      %input.simplesearch{search_text, :type => "text", "data-url" => search_ideas_path}

    %section.orderby
      %h5.section-header Order By
      %ul.unstyled
        - @order_by.each_pair do |sym, name|
          %li.fake-radio{:class => ('current' if @order_scope == sym)}= link_to name, params.merge(:order_by => sym)
    
    = yield :sidebar
    
    %section.tags
      %h4.section-header Popular Tags
      %ul.unstyled.tags
        - current_tags = params.keys.include?("tags") ? params["tags"].split(',') : []
        - (["ggj14"] + Tag.popular_tag_names + current_tags).uniq.each do |tag|
          %li= link_to tag, '', :"data-tag" => tag