= cache(:action => 'play', :action_suffix => "prototype:#{prototype.id}_#{prototype.updated_at}_idea:#{prototype.idea.id}_#{prototype.idea.updated_at.to_s}") do
  %article.cell.game-idea-block
    //Prototype Info
    %a{href: post_path(prototype)}
      %img.banner{:src => prototype_banner(prototype)}

    .details  
      %h4.title.close{:class => browse_prototype_icon_class(prototype)}
        = link_to prototype.title, post_path(prototype)

      %p.byline
        = render :partial => 'byline', :locals => {user: prototype.user}
      %p.description.close= prototype.description
      = link_to prototype.verb, post_path(prototype), :class => 'btn stacked', :style => "display: inline-block;"

      //using <p> as block-level container to clear button
      %p.close
        %span.lastupdate
          Added
          = distance_of_time_in_words DateTime.now, prototype.created_at
          ago
        %span.total-activity
          = render :partial => 'demo_activity_count', :locals => {prototype: prototype}

    //Idea Info
    .idea-info
      %a{href: design_document_idea_path(prototype.idea)}
        %img.banner{:src => idea_banner(prototype.idea)}
        
      %h4.gamename{:'data-resize-down-to' => 21}= link_to prototype.idea.title, design_document_idea_path(prototype.idea)
      %p.byline
        = render :partial => 'byline', :locals => {user: prototype.idea.owner}

      = render :partial => 'tags', :locals => {idea: prototype.idea}
      //= render :partial => 'ideas/browse/social', :locals => {idea: prototype.idea}
