= render :partial => 'shared/news_alert'

= render :layout => 'layout' do

  = content_for(:collection) do
    = render :partial => 'build_game_card', :collection => @results, :as => :idea

  = content_for(:sidebar) do
    %section#filters-for-browse
      %section#filters-for-browse
        %h5.section-header Filter by Help Requested:
        - ["all", "art", "demo", "design", "sound"].each do |filter|
          .radio
            = radio_button_tag 'filter_for', filter, filter == params[:filter_for] || filter == "all", 'data-href' => filter_for_url(filter)
            = label_tag "filter_for_#{filter.downcase}", filter.titleize