= render :partial => 'shared/news_alert'

= render :layout => 'layout' do

  = content_for(:collection) do
    = render :partial => 'play_game_card', :collection => @results, :as => :prototype

  = content_for(:sidebar) do
    / %aside.sidebar
    /   .section.filters#filters-for-browse
    /     %h5.section-header Filter By:
    /     - ["all", "videos", "playables"].each do |filter|
    /       %radio{style: 'display: block; margin-top: 8px; font-size: 14px;'}
    /         = radio_button_tag 'filter_for', filter, filter == params[:filter_for] || filter == "all", 'data-href' => url_for(params.merge(:filter_for => filter))
    /         = label_tag "filter_for_#{filter.downcase}", filter == "playables" ? "Gameplay Prototypes" : filter.titleize
    / %section#filters-for-browse
    /   %h4.section-header Filter By:
    /   %ul.unstyled.boxed
    /     %li
    /       %input#cb_discuss{:type => "checkbox", checked: browse_filter_checked?(:videos), 'data-href' => browse_filter_href(:videos)}
    /       %label{:for => "cb_discuss"}
    /         %span Videos
    /     %li
    /       %input#cb_polls{:type => "checkbox", checked: browse_filter_checked?(:playables), 'data-href' => browse_filter_href(:playables)}
    /       %label{:for => "cb_polls"}
    /         %span Gameplay Prototypes
    /     %li
    /       = link_to 'show all', params.except("filter_out"), :class => 'btn'
