= render :layout => 'layout' do

  / = content_for(:tab_description) do
  /   ...

  = content_for(:section_header) do
    Search Results for "#{params[:query]}"
    
  = content_for(:collection) do
    = render :partial => 'design_game_card', :collection => @results, :as => :idea