= cache(:action => 'feed_post', :action_suffic => "#{post.id}_#{post.updated_at.to_s}") do
  .post{id: post.id, :class => ('new' unless current_user.viewed?(post, {:check_comments => @comments_count_for_viewed, :view_date => @view_date}))}
    .post-gutter
      %img.avatar{:src => post.user.avatar? ? post.user.avatar : "/assets/default-avatar.png"}
      .post-icon{:class => get_feed_icon(post)}  

    .post-info
      - if post.type.include? 'discussion'
        = render :partial => "ideas/show/post_type_discussion", :locals => {idea: post.idea, post: post, current_setting: :feed}
      - elsif post.is_prototype_or_video?
        = render :partial => "ideas/show/post_type_prototype", :locals => {idea: post.idea, post: post, current_setting: :feed}
      - else
        = render :partial => "ideas/show/post_type_" + post.type, :locals => {idea: post.idea, post: post, current_setting: :feed}

      = render :partial => "shared/comments", :locals => {post: post, comments: post.comments, new_comment_url: nil, hide_controls: true}