.mention
  %div= link_to mention.mentioned_at.strftime(get_user_date_format(true)), mention.mentioned_in_model

  - if mention.comment    
    %div
      = link_to 'Comment', comment_url(mention.comment, :anchor => "comment-#{mention.comment.id}")
      by 
      = link_to mention.comment.user.username, mention.comment.user
      
      - if mention.comment.post.is_discussion?
        - title = mention.comment.post.text[0..100] + (mention.comment.post.text.length > 100 ? "..." : '')
        on a #{link_to "discussion", mention.comment.post} starting "#{title}"
      - elsif mention.comment.post.is_art_collection?
        on an #{link_to "art collection", mention.comment.post}
      - elsif mention.comment.post.is_poll?
        on a #{link_to "poll", mention.comment.post} asking "#{mention.comment.post.title}"
      - elsif mention.comment
        on a #{link_to "demo", mention.comment.post}

      for #{link_to mention.comment.post.idea.title, mention.comment.post.idea}.

      %blockquote
        = mention.comment.text[0..400] + (mention.comment.text.length > 400 ? "..." : '')
        = link_to 'read more', comment_url(mention.comment, :anchor => "comment-#{mention.comment.id}")

  - elsif mention.news_item
    %div
      News item #{link_to mention.news_item.title, mention.news_item} by #{link_to mention.news_item.posted_by.username, mention.news_item.posted_by}
      %blockquote= mention.news_item.summary

  - elsif mention.post && mention.post.is_discussion?
    %div
      #{link_to "Discussion", mention.post} started by #{link_to mention.post.user.username, mention.post.user}:
      %blockquote
        = mention.post.text[0..100] + (mention.post.text.length > 100 ? "..." : '')
        = link_to 'read more', mention.post

  - elsif mention.post && mention.post.is_art_collection?
    %div
      #{link_to "Art collection", mention.post} with #{mention.post.image_links.count.to_s} #{"image".pluralize(mention.post.image_links.count)} by #{link_to mention.post.user.username, mention.post.user}.
      %blockquote
        = mention.post.summary[0..100] + (mention.post.summary.length > 100 ? "..." : '')

  - elsif mention.post
    %div
      = link_to(("Prototype" if mention.post.is_prototype?) || ("Video" if mention.post.is_video?), mention.post)
      titled "#{link_to mention.post.title, mention.post}" by #{link_to mention.post.user.username, mention.post.user}.
      %blockquote
        = mention.post.text_for_mention[0..100] + (mention.post.text_for_mention.length > 100 ? "..." : '')

  %br
  %hr