.post{:class => ('new' unless current_user.viewed?(news_item, :view_date => @view_date))}
  .post-gutter
    %img.avatar{:src => news_item.posted_by.avatar? ? news_item.posted_by.avatar : "/assets/default-avatar.png"}
    .post-icon{:class => "news"}  

  .news-item{id: news_item.id.to_s} 

    %h3.title
      = news_item.title
    %p.intro.close
      = news_item.summary

    %p.meta.close
      posted
      = render :partial => "ideas_collection/byline", :locals => {user: news_item.posted_by}
      &nbsp;|&nbsp;
      = post_date(news_item.pub_date)

    %hr.double

    %a{:href => '#', :'data-expander-target-id' => news_item.id.to_s, :'data-expanded-text' => 'Hide News Story', :'data-news-item' => true, :class => "viewmore"} Read More...

    .full-story{:'data-expander-id' => news_item.id.to_s}= raw text_with_mention_links(news_item.content, news_item)
