%h4 Checked Files
= link_to 'Unchecked files', admin_files_path
|
= link_to 'Back to admin', admin_path

%hr

- @checked_files.each do |file|
  .file
    = link_to file.filepath, file.url, :target => '_blank'
    
    .info
    - if file.user
      Uploaded by: #{link_to file.user.username, file.user, :target => '_blank'}
    - else
      No user info. (This was probably an unknown file.)

    - if file.post
      | for: #{link_to 'demo link', file.post, :target => '_blank'}

    %br
    %br