%h4 Unchecked Files
= link_to 'Checked files', admin_files_checked_path
|
= link_to 'Back to admin', admin_path

%br
%br

- if @unknown_files.any?
  #unknown{style: "margin-bottom: 20px;"}
    %div{style: "font-weight: bold;"} Unknown Files
    %em These files are in the S3 bucket but not recognized in the database. They were not uploaded properly through gamesprout, or something went wrong in their upload.
    %br

    - @unknown_files.each do |file|
      .file
        - url = "http://#{S3DirectUpload.config.region || 's3'}.amazonaws.com#{file}"
        %input{type: 'checkbox', style: 'display: inline;', 'data-file-type' => 'unknown', 'data-file-key' => file, 'data-file-url' => url}
        = link_to file, url, :target => '_blank'

- if @known_files.any?
  #known 
    %div{style: "font-weight: bold;"} Known Files
    %em These files were uploaded through gamesprout and completely properly.

    - @known_files.each do |file|
      .file
        %input{type: 'checkbox', style: 'display: inline;', 'data-file-type' => 'known', 'data-file-id' => file.id, 'data-file-url' => file.url}
        = link_to file.filepath, file.url, :target => '_blank'
        
        .info
        - if file.user
          Uploaded by: #{link_to file.user.username, file.user, :target => '_blank'}
        - else
          No user info. (This was probably an unknown file.)

        - if file.post
          | for: #{link_to 'demo link', file.post, :target => '_blank'}

        %br
        %br