= form_for @poll do |f|
  = render :partial => 'posts/hidden-fields', :locals => {f: f, post: @poll}

  .field
    = f.label :question_label, "What question is this poll asking? (140 Characters or less)", class: "label-head"
    = f.text_field :title, :size => 140

  .field
    %label 
      List some options that users have to pick from (minimum 2)
  = f.fields_for :poll_options do |ff|
    - 5.times do |i|
      .field
        = ff.label ("text" + i.to_s).to_sym, "Response " + (i + 1).to_s, class: "label-option"
        = ff.text_field ("text" + i.to_s).to_sym, :value => @poll.poll_options[i].nil? ? "" : @poll.poll_options[i].text, :size => 140
  %br
  = f.submit :class => "btn"