= render :partial => 'shared/errors', :locals => {doc: @poll, centered: false}
- @poll.poll_options.each_with_index do |option, i|
  - if option.errors.any?
    Error for response option ##{i + 1}
    = render :partial => 'shared/errors', :locals => {doc: option, centered: false}

= render :partial => '/posts/polls/form'