.bookmark{class: ('owner' if user_owns_idea?(idea))}
  - if user_signed_in?
    - if user_owns_idea?(idea)
      You own this idea. #{days_left_text}

    - else
      - is_bookmarked = current_user.idea_bookmarked?(idea)
      - bookmark_text = 'Bookmark This'
      - unbookmark_text = 'Undo Bookmark'
      
      - link_text = is_bookmarked ? unbookmark_text : bookmark_text
      - change_text = is_bookmarked ? bookmark_text : unbookmark_text
      - path = is_bookmarked ? user_bookmark_path(current_user) : user_bookmarks_path(current_user, {:format => idea.id})
      - method = is_bookmarked ? :delete : :post

      .above-button-text
        - if is_bookmarked
          = defined?(already_bookmarked_text) ? already_bookmarked_text : "You've bookmarked this idea!"
        - else
          = defined?(can_bookmark_text) ? can_bookmark_text : "Want to follow this idea? Bookmark it!"

      .bookmark-unbookmark
        %i{class: (is_bookmarked ? 'icon-thumbs-down' : 'icon-thumbs-up')}
        = link_to link_text, path,
                          :method => method,
                          :remote => true,
                          "data-type" => :json,
                          "data-change-text" => change_text,
                          :class => 'btn'

        %img{src: '/assets/ajax-loader.gif', class: 'ajax-loader', style: 'display: none;'}