#idea-errors
  - if @idea.errors.any? || @idea.details.errors.any?
    = render :partial => 'shared/errors', :locals => {doc: @idea.details, centered: true}

%article#new-idea
  = form_for @idea do |f|
    = f.fields_for :details do |ff|
      .field
        = ff.label :title, "Working Title", :class => "required"
        
        .instructions What is your game called? Don't worry! This doesn't have to be the final name.

        = ff.text_field :title, :'data-limit-id' => 'title', :value => @idea.details.title
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'title', max_chars: 30}

      .field
        = ff.label :pitch, "Game Summary", :class => "required"
        .instructions Try and summarize your game in just a few sentences.

        = ff.text_area :pitch, {id: 'pitch', :'data-limit-id' => 'pitch', :style => 'height: 50px;', :value => @idea.details.pitch}
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'pitch', max_chars: 140}

      .field
        %input#tags{type: 'hidden', value: Tag.popular_tag_names(100).join(',')}
        = label_tag 'idea_tags_interface', 'Tags'
        .instructions 
          To add a tag enter a comma or press enter. 
          %strong Max 6 tags.
        
        / because of the autocomplete, the tag display needs to float to the right of the interface
        
        = text_field_tag :idea_tags_interface, '', { maxlength: 15 }
        = f.text_field :tags, value: @idea.tags.collect {|tag| tag.name}.join(','), class: 'hidden'
        %ul.unstyled#tag-display        

      = ff.submit "Continue to Design Document", class: 'btn btn-success', :id => 'top-submit'
