%section.billboard
  - if user_owns_idea? && design_doc_active
    = render :partial => 'ideas/idea_container/editable_game_info', :locals => {:idea => @idea}
  - else
    = render :partial => 'ideas/idea_container/game_info', :locals => {:idea => @idea}
  
  .stats
    .count
      - if @idea.yes_count == 0
        %p This idea doesn't have any potential players... yet!
      - elsif @idea.yes_count == 1
        %h3.playercount 1
        %p person would play this.
      - else
        %h3.playercount #{@idea.yes_count}
        %p people would play this.

    .survey
      - if user_owns_idea? && params[:action] == 'show'
        %p.info The Activity Feed has all activity relating to your Idea.
      - elsif user_owns_idea? && params[:action] == 'checklist'
        %p.info Use this checklist as a guide to make your game!
      - elsif user_owns_idea? && params[:action] == 'design_document'
        %p.info Your Design Document is how other people get to know your idea.
      - elsif user_signed_in? && @idea.yesed_by?(current_user)
        %p You've already said you would play this idea!
        %a{:id => 'btn', :href => no_idea_path(@idea), :'data-method' => :delete}
          I changed my mind
      - else
        %p.question Would you play this game?
        %a.btn{:id => "btn", :href => yes_idea_path(@idea), :'data-method' => :post}
          %i.icon.thumbsUp
          Yes

  - if user_owns_idea?
    = render :layout => 'ideas/idea_container/owner_ctrl' do
      %h5.title Idea Owner Controls:

      %a.btn.black.narrow{href: design_document_idea_path(:anchor => "design-details")} 
        Edit Design Document
      %a.btn.black.narrow{href: new_idea_goal_path(@idea)} 
        Get Help from the Community

  - elsif user_signed_in? && current_user.admin?    
    = render(:layout => 'ideas/idea_container/owner_ctrl') do
      %h5.title Admin Controls:

%main#idea
  %ul.unstyled.tabs
    %li{:class => (design_doc_active ? 'active' : 'inactive')} 
      = link_to 'Design Document', design_document_idea_path(@idea)
    %li{:class => (activity_feed_active) ? 'active' : 'inactive'} 
      = link_to "Activity Feed [" + @idea.activity_count.to_s + "]", @idea
    %li{:class => (idea_checklist_active) ? 'active' : 'inactive'}
      = link_to 'Progress', checklist_idea_path(@idea)
  = yield

  