#gallery
	- if !@idea.details.image_gallery.nil?
		- @idea.details.image_gallery.each do |image|
			#galleryimage
				%img{src: image.url}
= form_tag add_gallery_image_idea_path, :method => :post do
	.field
		= label_tag :url, "Add an image to the gallery"
		Url
		= text_field_tag :url
	= submit_tag "Save Image", class: 'btn btn-success', :id => 'top-submit'