%form{action: ideas_path, method: 'get', id: 'ideas_scope_sort'}
  Sorting: 
  
  = select_tag :sort_scope, options_for_select([["newest in state", :newest_in_state], ["oldest in state", :oldest_in_state]], :selected => @sort_scope)
  - if @state
    = hidden_field_tag "state", @state

  - if @scope
    = hidden_field_tag "scope", @scope