= content_for(:additional_what_next_links) do
  %a.btn.btn.addgallery{'data-dialog-target-id' => ("gallery" + @idea.id.to_s)} Add Gallery Images
  %a.btn.btn.adddemo{'data-dialog-target-id' => ("demo" + @idea.id.to_s)} Add Demo  

= title "#{@idea.title} - Design Document - GameSprout Idea"

= render :partial => 'shared/news_alert'

= render :layout => 'idea_container', :locals => {:design_doc_active => false, :activity_feed_active => false, :idea_checklist_active => true} do
  .checklist.content
    %h2 Idea Progress
    %p.intro
      This list is here to keep track of an idea's progress towards completion during it's time on GameSprout. Completion, in this case, is the ability to create a fully functioning prototype known as a "Vertical Slice."
    %p
      %b Please note: 
      we plan on having this list become more intelligent with the status of your idea, but for the time being you can use this list and begin checking off work you have already done. Do so by clicking the small checkbox next to the item.

    / Build the checklist using config/locales/checklist.en.yml
    .checklist-items
      - @checklist["en"]["TaskGroups"].each do |task_group|
        .task-group{:'data-expander-target-id' => task_group["TaskGroupID"], :'data-expander-transition' => 'slide', :'data-expanded-class' => 'active', :'data-expander-transition-speed' => 500}
          .list-arrow
          %h3.h4= task_group["Name"]
          - task_info = @task_group_info[task_group["TaskGroupID"]]
          %aside.completion 
            %span.tasks-completed= task_info[:completed]
            \/ 
            %span.tasks-total= task_info[:task_count] 
            Tasks Complete

        .expanded-task-group{:'data-expander-id' => task_group["TaskGroupID"]}
          .task-group-description= task_group["TaskGroupLongDesc"]
          - task_group["SubGroups"].each do |sub_group|
            %h5.task-header= sub_group["Name"]
            %ul.unstyled.task-items
              - sub_group["Tasks"].each do |task|
                %li{:'data-task-id' => task["TaskID"], :'data-subgroup-name' => sub_group["Name"], :'data-task-group-id' => task_group["TaskGroupID"], :class => task_classes(task, @idea)}
                  .task-checkbox{:class => task_classes(task, @idea)}
                  .task-name{:href => '#', :'data-expander-target-id' => (task["TaskID"] + '_long_desc'), :'data-expander-transition' => 'slide', :'data-expander-transition-speed' => 100}= task["Name"]
                  .task-description{:'data-expander-id' => (task["TaskID"] + '_long_desc')}= task["LongDesc"]