= title "#{@idea.title} has been deleted"

.deleted-idea-container
  .deleted-idea-message
    The idea
    .deleted-idea-name
      #{@idea.title} 
    has been deleted by
    - if @idea.deleted_by.nil?
      [unknown].
    - elsif @idea.deleted_by == @idea.owner
      its owner.
    - elsif @idea.deleted_by.admin?
      an admin.
    - else
      [unknown].
  .deleted-idea-back-button
    %a{:href => browse_ideas_path}
      .regularBtn
        %p Back to Browse Ideas