= content_for(:additional_what_next_links) do
  %a.btn.btn.addgallery{'data-dialog-target-id' => ("gallery" + @idea.id.to_s)} Add Gallery Images
  %a.btn.btn.adddemo{'data-dialog-target-id' => ("demo" + @idea.id.to_s)} Add Demo  

= title "#{@idea.title} - Design Document - GameSprout Idea"

= render :partial => 'shared/news_alert'

= render :layout => 'idea_container', :locals => {:design_doc_active => true, :activity_feed_active => false, :idea_checklist_active => false} do
  %article.design-doc
    %h2 Design Document
    = render :partial => 'ideas/design_document/featured_demo', :locals => {:idea => @idea}
    - if user_owns_idea?
      = render :partial => 'ideas/design_document/details_editable', :locals => {:details => @idea.details}
    - else
      = render :partial => 'ideas/design_document/details', :locals => {:details => @idea.details}

  %section.sidebar.wide
    = render :partial => 'ideas/design_document/gallery', :locals => {:idea => @idea}
    = render :partial => 'ideas/design_document/design_docs', :locals => {:idea => @idea}
    = render :partial => 'ideas/design_document/demos', :locals => {:idea => @idea}