= render :partial => 'shared/news_alert'

= title "Submit Idea - GameSprout"


%section.billboard
  .blurb
    %h3.close Create a new idea
    %p.intro Fill out some basic information about your idea, and get started designing today!
  
  %img.splash{ src: "/assets/create-new-idea-header.png" } <!--120x180-->

%main.content

  = render :partial => 'form'