= title "#{@idea.title} - GameSprout Idea"

= render :partial => 'shared/news_alert'

= render :layout => 'idea_container', :locals => {:design_doc_active => false, :activity_feed_active => true, :idea_checklist_active => false} do
  
  %article.activity-feed
    - if @idea.goals.any? || user_owns_idea?
      .featured
        %h3.title.help-wanted
          Help Wanted!

          - if @idea.goals.any?
            = link_to 'How do I help?', '', 'data-dialog-target-id' => "help-out-dialog", :class => "learnMoreLink"

          #help-out-dialog.help-out{'data-dialog-size' => '', :title => 'How do I help?'}
            = render :partial => 'ideas/show/help_out', :locals => {goal: @idea.goals.first}

        - if user_owns_idea?
          %p 
            As the owner of this idea, you can (and should) ask the community for help with getting your idea made.
            %br
            %a.btn.orange.narrow{href: new_idea_goal_path(@idea)}
              Get Help from the Community

        = render :partial => 'ideas/show/help_wanted', :locals => {idea: @idea}
    
    = render :partial => 'ideas/show/updates'
    
    #posts{:'data-async-scroll' => '/more_posts/', :'data-async-scroll-loader-element' => '#more-posts-loader'}
      = render :partial => 'ideas/show/post', :collection => @idea.posts.take(IdeasController::POSTS_AT_ONCE), :as => :post
      
      #more-posts-loader{:style => 'display: none; width: 16px; margin: 0 auto'}
        %img{:src => '/assets/loading.gif'}

  /= render :partial => 'ideas/show/posts_sidebar'
