= title "Edit My Account Info - GameSprout"

%main.content.account
  = render :partial => 'devise/acct_sidebar', :locals => {current_setting: :acct}

  .settings
    %h1 Account Settings

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      
      = render :partial => 'shared/errors', :locals => {doc: resource, centered: false}

      .field
        = f.label :username, "Username:"
        = f.text_field :username
      .field
        = f.label :email, "Account Email:"
        = f.email_field :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password, "New Password:"
        .instructions
          Leave this blank if you don't want to change it.
        = f.password_field :password, :autocomplete => "off"
      .field
        = f.label :password_confirmation, "Confirm New Password:"
        = f.password_field :password_confirmation
      .field.final
        = f.label :current_password, "Current Password:", :class => "required"
        .instructions
          We need your current password to confirm your changes.
        = f.password_field :current_password
      %div= f.submit "Save Settings", class: 'btn medium-save'

/ /
/   <h3>Cancel my account</h3>
  
/   <p>Unhappy? <haml:loud> button_to &amp;quot;Cancel my account&amp;quot;, registration_path(resource_name), :data =&amp;gt; { :confirm =&amp;gt; &amp;quot;Are you sure?&amp;quot; }, :method =&amp;gt; :delete </haml:loud>.</p>
/ = link_to "Back", :back
