/= render "devise/shared/sign_up_and_in"

%main.login.sign-up
  %h1.h3
    Create a New Account
  %a.btn.stacked.facebook.big.fullWidth{:href => user_omniauth_authorize_path(:facebook)}
    Sign Up with Facebook
  %span.or -or-

  = render :partial => 'shared/errors', :locals => {doc: resource, centered: true}
  = render :partial => 'devise/shared/sign_up', :locals => {resource: resource, resource_name: resource_name}


  %h4.close
    Already have an account?
  %a.btn.big{:href => session_path(User.new)}
    Login

    
    
