- @activity[:user_followed_ideas_activity].each do |idea, data|
  .idea.followed{ :style => 'border: 2px solid #ddd; padding:0 20px 20px; margin-bottom: 10px;'}
    %h4 #{link_to idea.title, absolute_src(idea_path(idea)), :style => 'color:#488f21; text-decoration:none;'}
    .overview
      - if data[:posts].size > 0
        = pluralize data[:posts].size, 'new post'
      
      - if data[:posts].size > 0 && data[:comments].size > 0
        and
      
      - if data[:comments].size > 0
        = pluralize data[:comments].size, 'new comment'

    .art-and-prototypes
      = render :partial => 'post', :collection => art_and_prototypes_from(data[:posts]), :as => :post, :locals => {idea: idea}