%div{ :style => 'border: 2px solid #ddd; padding-left:20px; margin-bottom: 10px;'}
  - @activity[:user_participated_in_activity].each do |idea, data|
    %h4.anchor_style #{link_to idea.title, absolute_src(idea_path(idea)), :style => 'color:#488f21; text-decoration:none;'}:
    = pluralize data[:comments].size, 'new comment'
    on the following
    #{pluralize data[:posts].size, 'Post'}:

    = render :partial => 'post', :collection => data[:posts], :as => :post, :locals => {idea: idea}
    %br