.post{:class => post.class}
  = link_to(post.user.username, absolute_src(user_path(post.user)), :style => 'color:#488f21; text-decoration:none; font-weight: bold;')

  - if post.is_discussion?
    posted a Discussion:
  - elsif post.is_poll?
    asked a question:
  - elsif post.is_art_collection?
    posted an Art Gallery:
  - elsif post.is_prototype?
    posted a Demo:
  - elsif post.is_video?
    posted a Video:
  - else
    did something:

  = link_to(post_title(post), absolute_src(idea_path(idea, :anchor => post.id)), :style => 'color:#488f21; text-decoration:none; font-weight: bold;')