- @activity[:user_ideas_activity].each do |idea, data|
  .idea.owned{ :style => 'border: 2px solid #ddd; padding-left:20px; margin-bottom: 10px;'}
    %h4 #{link_to idea.title, absolute_src(idea_path(idea)), :style => 'color:#488f21; text-decoration:none;'}

    - if data[:new_yes_count].is_a?(Integer) && data[:new_yes_count] > 0
      %p.yesses #{pluralize data[:new_yes_count], 'person'} said they would play this game!

    = render :partial => 'post', :collection => data[:posts], :as => :post, :locals => {idea: idea}

    %br

    - comments_on_users_posts = data[:comments].select { |comment| comment.post.user == @user }
    - if comments_on_users_posts.size > 0
      - posts_with_comments_from(comments_on_users_posts).each do |post, comments|
        .comment
          = pluralize(comments.size, 'new comment')
          in your #{post.model_name.humanize}: 
          = link_to post_title(post), absolute_src(idea_path(post.idea, :anchor => post.id)), :style => 'color:#488f21; text-decoration:none; font-weight: bold;'

    %br

    - comments_on_others_posts = data[:comments].select { |comment| comment.post.user != @user }
    - if comments_on_others_posts.size > 0
      = pluralize comments_on_others_posts.size, "new comment"
      on
      = pluralize posts_with_comments_from(comments_on_others_posts).size, "other post"