%p Hey, #{@user.username}!

%p
  Here's what happened at GameSprout on
  %b #{@date.strftime("%A, %B %d, %Y").gsub(' 0', ' ')}:

%hr

- if @activity[:user_ideas_activity].any?
  %div{ :style => 'border: 2px solid #5AB329; padding:0 10;'}
    %h2 Your Ideas:
    %p= render :partial => 'users_ideas_activity'

  %hr

- if @activity[:user_followed_ideas_activity].any?
  %div{ :style => 'border: 2px solid #5AB329; padding:0 10;'}
    %h2 Followed Ideas:
    %p= render :partial => 'followed_ideas_activity'

  %hr

- if @activity[:user_participated_in_activity].any?
  %div{ :style => 'border: 2px solid #5AB329; padding:0 10;'}
    %h2 Posts You Made Or Have Commented On:
    %p= render :partial => 'participated_ideas_activity'