%p Hello #{@name}!

%p Congratulations on completing Global Game Jam 2104! It is an awesome accomplishment.

%p We are so excited to welcome you to the GameSprout community. You indicated you were interested in joining us when you signed up for the Global Game Jam. 

%p
  To login to your free GameSprout account, simply go to www.gamesprout.com and enter your Username and Password.

%p
  Username: #{@user.username}<br />
  Password: #{@password}<br />

%p (After logging in, you can #{link_to 'follow this link', 'http://www.gamesprout.com/users/edit'} to change your password.)

%p
  Once you log into your new account, there are plenty of things you can do on GameSprout.

%ul
  %li Upload your GGJ game to GameSprout, using the Create tab. Use this tag - GGJ14.
  %li Check out other games and pick your favorites on the Browse tab.
  %li Play games and comment on them on the Play tab.
  %li Offer to help out with other games by contributing art, sound, demos or design advice on the Help Out tab.
  %li Investigate everything on the Forums and Resources tab.

%p We’ve put together a brief FAQ to answer some of your immediate questions.

%p 
  %strong I’m exhausted from the GGJ. Please refresh my memory. What is GameSprout?<br />
  GameSprout is a platform, created by renowned game designer Jesse Schell and dedicated to collaborative game design. What is collaborative game design, you ask? It is a philosophy that suggests a group of people working together is better, more productive and more thoughtful than any one person working alone. At GameSprout, we focus on creating awesome games with an awesome community, while becoming the best designers we can be.

%p
  %strong I want to change my Username and/or Password. Can I?<br />
  Of course. Once you are logged into your GameSprout account, click on your Username in the upper right hand corner of the screen and go to “account settings” in the drop down. Make your changes on the account settings tab and hit “save settings.” Voilà, you’re done. It’s that easy. 

%p
  %strong I’m ready to upload my GGJ game to GameSprout. What should I do?<br />
  Click on the Create tab at the top of the page. Fill in the information on the page and hit “continue to design document.” Be sure to copy and paste this tag, GGJ14, to the Tags field when adding your game to GameSprout. This tag will allow others to find all the games related to this great event. Once you are on the design document page, add the additional information about your game.

%p If you are interested in learning more, #{link_to 'check out these  FAQs on our website', 'http://www.gamesprout.com/faq'}. If you have a specific question or issue, please contact us at gs-support@schellgames.com.

%p We look forward to seeing your games grow on GameSprout!

%p
  Welcome aboard,<br />
  The GameSprout Team