= form_for(User.new, :as => "user", :url => session_path("user")) do |f|
          = f.text_field :login, :placeholder => "Username or email", :size => 35
          = f.password_field :password, :placeholder => "Password", :size => 35
          = f.hidden_field :remember_me, :value => true
          = f.submit 'Sign In', :class => "btn orange narrow"