= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
  %h4 Create an Account for FREE!
  %label.hidden{:for => "usernameField"}
    Username:
  
  = f.text_field :username, :placeholder => 'Username', :autocomplete => :off

  = f.password_field :password, :placeholder => 'Password', :autocomplete => :off
  
  = f.text_field :email, :placeholder => 'Email Address', :autocomplete => :off

  %a.orange-link.reverse{:href => '', :'data-expander-target-id' => "under-18-area", :'data-expanded-text' => '(Close under 18 instructions.)'} 
    Under 18? Click here.

  %div{:'data-expander-id' => 'under-18-area'}
    %p
      If you're younger than 18 years of age, please have your parent or guardian 
      %a.orange-link.reverse{:href => '#', :'data-open-dialog-id' => 'consent-dialog'}
        read the gamesprout consent form
      and sign below.

      = render :partial => 'shared/under_18_consent_dialog'
    
    = f.text_field :parental_signature, :placeholder => "Parent's Signature"
  
  .checkbox{:style => 'margin-top: 0.5em;'}
    = f.check_box :terms
    = f.label :terms, :class => 'signUpText' do
      I have read and accept the #{link_to 'Terms of Use', :terms, :target => :blank}

  %aside
    You must read and accept the 
    %a.orange-link.reverse{:href => terms_path, :target => '_blank'}
      Terms of Use 
    before creating an account.
  
  %a.btn.orange.float-right{:href => "#", :id => 'home-logged-out-submit-button'}
    Sign Up
