%main.content.login
  %h1.h3
    Sign In to GameSprout
  %a.btn.facebook.big{:href => user_omniauth_authorize_path(:facebook), :style => "display: inline-block;"}
    Sign In with Facebook
  
  .or.big
    or
  .sprout
    = render :partial => 'devise/shared/sign_in'
    %a.forgot{:href => new_password_path(:user)}
      Forgot Password?
  

  %h4.close
    Not a member yet?
  %a.btn.big{:href => new_user_registration_path}
    Create an account.

