- path = idea_design_doc_path(obj.idea, obj)

#{link_to obj.idea.owner.username, obj.idea.owner} 
added a #{link_to "new Design Document", path}
("#{link_to obj.title, path}")
to the idea 
#{link_to obj.idea.title, obj.idea}