%ul#content
  = render :partial => 'activity', :collection => @results, :as => :item

%br

%img.ajax-loader{src: '/assets/ajax-loader.gif', style: 'display: none;'}
%br

%button{id: 'load_more'} Load More

/ This is page specific so I'm just jamming it in here for now.
:coffeescript
  $ ->
    setAltRows = -> $('ul#content li').filter(":odd").css("backgroundColor", "#F2F2F2")
    setAltRows()

    page = 2
    busy = false
    loader = $('img.ajax-loader')

    $('button#load_more').click (e) ->      
      if !busy

        loader.show()
        busy = true

        $.get('/site_activity/more/' + page).success (result) ->
          $('ul#content').append result.html
          setAltRows()
          
          loader.hide()
          busy = false

          page++