= title "Admin - Edit Homepage Features"

For the following fields, just enter in the idea id and/or prototype id.
%br
%br

- current_features = HomepageFeatures.last
- if !current_features.nil?
	- current_ideas = current_features.get_ideas
	- current_demos = current_features.get_demos

	= form_for :admin, :url => set_homepage_features_path, :method => :post do |f|
		Idea 1 (#{current_ideas[0].details.title unless current_ideas[0].nil? }) : 
		= f.text_field :idea1, :value => current_features.idea1
		%br
		Idea 2 (#{current_ideas[1].details.title unless current_ideas[1].nil? }) : 
		= f.text_field :idea2, :value => current_features.idea2
		%br
		Idea 3 (#{current_ideas[2].details.title unless current_ideas[2].nil? }) : 
		= f.text_field :idea3, :value => current_features.idea3
		%br
		Idea 4 (#{current_ideas[3].details.title unless current_ideas[3].nil? }) : 
		= f.text_field :idea4, :value => current_features.idea4
		%br
		%br
		%br
		Demo 1 Idea (#{current_demos[0].idea.details.title unless current_demos[0].nil? }) : 
		= f.text_field :demo1_idea, :value => current_features.demo1_idea
		Demo 1 (#{current_demos[0].title unless current_demos[0].nil?}) :
		= f.text_field :demo1, :value => current_features.demo1
		%br
		Demo 2 Idea (#{current_demos[1].idea.details.title unless current_demos[1].nil? }) : 
		= f.text_field :demo2_idea, :value => current_features.demo2_idea
		Demo 2 (#{current_demos[1].title unless current_demos[1].nil?}) :
		= f.text_field :demo2, :value => current_features.demo2
		%br
		Demo 3 Idea (#{current_demos[2].idea.details.title unless current_demos[2].nil? }) : 
		= f.text_field :demo3_idea, :value => current_features.demo3_idea
		Demo 3 (#{current_demos[2].title unless current_demos[2].nil?}) :
		= f.text_field :demo3, :value => current_features.demo3
		%br
		%br
		%br
		= f.submit "submit"
-else
	= form_for :admin, :url => set_homepage_features_path, :method => :post do |f|
		Idea 1 : 
		= f.text_field :idea1
		%br
		Idea 2 : 
		= f.text_field :idea2
		%br
		Idea 3 : 
		= f.text_field :idea3
		%br
		Idea 4 : 
		= f.text_field :idea4
		%br
		%br
		%br
		Demo 1 Idea : 
		= f.text_field :demo1_idea
		Demo1 
		= f.text_field :demo1
		%br
		Demo 2 Idea : 
		= f.text_field :demo2_idea
		Demo 2 :
		= f.text_field :demo2
		%br
		Demo 3 Idea : 
		= f.text_field :demo3_idea
		Demo 3 :
		= f.text_field :demo3
		%br
		%br
		%br
		= f.submit "submit"