= title "View New Idea Stats - Admin - GameSprout"
= content_for(:extra_early_javascripts) do
	= javascript_include_tag "http://www.google.com/jsapi"

%h3 Ideas - #{Idea.count} total
%br
%h3 TaskList Usage in Ideas
#admin-visualization-idea-task
	%br
- @total_tasklisters = 0
#admin-idea-task-vis-chart-data{:style => "display: none;"}
	%table
		- Idea.each do |idea|
			%tr
				%td
					= idea.created_at.month.to_s + "/" + idea.created_at.year.to_s
				%td
					= (is_task_used?(idea)) ? "#{1}" : "#{0}"
			- if( is_task_used?(idea) )
				- @total_tasklisters += 1

%h4 Total Ideas that Use TaskList: #{@total_tasklisters} of #{Idea.count} (#{(@total_tasklisters.to_f / Idea.count.to_f * 100).round(2)}%)
%br
%br