= title "Admin - GameSprout"

%main.content.admin
  %h4.centered Total Users: #{User.count}

  %h1 Admin Actions
  %nav.account
    %ul.unstyled
      %li= link_to "Manage News Items", admin_news_items_path
      %li= link_to "Manage Homepage Features", homepage_features_path
      %li= link_to "View Feedback", feedback_index_path
      %li= link_to "User Metrics",  user_metrics_path
      %li= link_to "New User Stats", users_path
      %li= link_to "Idea Stats", idea_metrics_path
      %li= link_to "Generate Email List", generate_email_list_path
      %li= link_to "New Admin", new_admin_path
      %li= link_to "Manage News Alert", news_alert_path
      %li= link_to "View Site Activity", site_activity_path
      %li= link_to "Check Uploaded Files", admin_files_path