Enter an email, username or user id to adminify:

#find-user
  = form_tag search_for_user_path, :method => :post, :remote => true do
    = text_field_tag :find_by
    = button_tag 'Find User'

    %img.ajax-loader{src: '/assets/ajax-loader.gif', style: 'display: none;'}

%br
#hidden{:style => 'display: none;'}
  = form_tag adminify_path do
    
    #info
      %p Username: <span id='username'></span>
      %p Email: <span id='email'></span>
      %p Id: <span id='id'></span>
      %p Admin?: <span id='is-admin'></span>
      
      %br

    = hidden_field :user_id, '', :id => 'user-id'
    = submit_tag '', :id => 'submit'

%br