= render :partial => 'shared/errors', :locals => {doc: @news_alert, centered: false}

- if @news_alert
  %h3 Current news alert:
  %br
  %p= raw @news_alert.text
  %br
  %p 
    %strong Stops on: 
    = get_formatted_date(@news_alert.stop_at)

- else
  %p No current news alert.

%br
%br

%h3 Set or replace news alert
%hr
%br
= form_for @news_alert, :url => 'set_news_alert' do |f|  
  .field
    = f.label :text, "News Alert Text"
    %div{:style => 'font-size: 80%; font-style: italic;'}
      Note: you can use 'a' tags for links, and 'strong' and 'em' tags for styling; no other tags, including linebreaks, will be maintained.
    = f.text_area :text

  .field
    = f.label :stop_at, "Automatically stop news alert at:"
    %div{:style => 'font-size: 80%; font-style: italic;'} Leave blank to never stop.
    = f.text_field :stop_at, :value => news_alert_date_value(@news_alert), :class => 'datetimepicker'

  = f.submit

%br
%br

- unless @news_alert.new?
  = form_tag 'kill_news_alert', :method => :post do
    %p 
      Kill news alert?
      = submit_tag 'Yeah, kill it!', :confirm => 'Are you sure?'