= title "User Metrics"

%h3 User Metrics

%div{style: 'margin-bottom: 12px;'}
  %h4 Average Active Users: (out of #{@user_count})
  %p Over the past day: #{@day_active_users} (%#{number_with_precision((@day_active_users.to_f / @user_count.to_f * 100), :precision => 2)})

  %p Over the past 7 days: #{@week_active_users} (%#{number_with_precision((@week_active_users.to_f / @user_count.to_f * 100), :precision => 2)})

  %p Over the past 30 days: #{@month_active_users} (%#{number_with_precision((@month_active_users.to_f / @user_count.to_f * 100), :precision => 2)})

%div{style: 'margin-bottom: 12px;'}
  %h4 New Users:
  %p Over the past day: #{@day_new_users}

  %p Over the past 7 days: #{@week_new_users}

  %p Over the past 30 days: #{@month_new_users}

%div{style: 'margin-bottom: 12px;'}
  %h4 User Retention (Percentage of users who signed up some time interval ago and were active within the past day)
  - if @day_new_users.eql? 0
    Over the past day: [No users joined within this time interval]
  - else
    Over the past day: %#{number_with_precision((@day_retained_users.to_f / @day_new_users.to_f * 100), :precision => 2)}
  %br
  - if @week_new_users.eql? 0
    Over the past 7 days: [No users joined within this time interval]
  - else
    Over the past 7 days: %#{number_with_precision((@week_retained_users.to_f / @week_new_users.to_f * 100), :precision => 2)}
  %br
  - if @month_new_users.eql? 0
    Over the past 30 days: [No users joined within this time interval]
  - else
    Over the past 30 days: %#{number_with_precision((@month_retained_users.to_f / @month_new_users.to_f * 100), :precision => 2)}

/ %div{style: 'margin-bottom: 12px;'}
/   %h4 User who submitted ideas:
/ %br
/ %h4 Users who submitted ideas:
/ Number of users who submitted: #{@other_metrics[:idea_submissions][:length].to_i} (%#{number_with_precision(@other_metrics[:idea_submissions][:length].to_f / @user_count.to_f * 100, :precision => 2)})
/ %br
/ Number of submissions: #{@other_metrics[:idea_submissions][:total].to_i}
/ %br
/ Most submissions by a single user: #{@other_metrics[:idea_submissions][:most].to_i}
/ %br
/ Average submissions per user: #{number_with_precision(@other_metrics[:idea_submissions][:average], :precision => 2)}
/ %br
/ Median submissions per user: #{number_with_precision(@other_metrics[:idea_submissions][:median], :precision => 2)}
/ %br
