= title "View New User Stats - Admin - GameSprout"
= content_for(:extra_early_javascripts) do
  // Google graph API stuff
  = javascript_include_tag "http://www.google.com/jsapi"

%h3 Users - #{User.count} total
%br
%h3 New Users Daily

#admin-visualization-daily
%br
%br
%h3 Total Users (Not Counting Since Before 5/28/13)

#admin-visualization-total
%br
%br

%h3 Raw New User Data
#admin-user-vis-chart-data{:style => "height:#{[@result.count * 13, 100].max.to_s}px;"}
  %table
    %th Date
    %th Number of New Users
    - @result.reverse.each do |r|
      %tr
        %td #{r.first.first}
        %td #{r.first.last}