@import "_variables";
@import "_mixins";

/* ----------------------------------------------------------
	Helper classes and Global styles
============================================================= */

hr {
	background: $gray;
	height: 2px;
	width:100%;
	border-style: none;
	margin: 0 0 $global-baseline;

	&.double {
		background: transparent;
		height: 0;
		border-bottom: 4px double $gray;
	}
}

/* hides element from view and screenreaders */
.hidden {
	display: none !important;
	visibility: hidden !important;
}

/* quickly float elements left or right */
.float-right {
	float: right;
}
.float-left {
	float: left;
}

/* forces element to self-clear its children */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Klunky clear */
.clear{
	clear: both;
	height: 0px;
}

/* displays object inline-block and centers vertically 
 * eventually remove 
 */
.vertAlign{
	@include inline-middle;	
}

// quick way to center text
.centered {
	text-align: center;
}

/* Uses display font */
.display {
	font-family: $display-font;
}

/* To make lines closer together */
.close {
	margin-bottom: $global-baseline/2;
}

.toggled-off {
	display: none;
}

//overlay if user is not signed in
.cover {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 9999;
	text-align: center;
	color: $white;
	padding: $global-baseline;	
	@include corner(5px);
	border: 1px solid $global-font-color;
	@include shadow(0, 2px, 5px, $global-font-color);	

	&:before {
		content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}

	.group {
		display: inline-block;
	  vertical-align: middle;
	}	
}

.callout {
	background: $white;
	border: 1px solid $green;
	@include corner(5px);
	@include shadow(0, 3px, 0px, $gray);
	clear: both;
	padding: $global-baseline/2;
	margin: $global-baseline 0;
}

/* ICONS */

[class^="icon-"], [class*=" icon-"] {
	@include ir(120px, 120px, "/assets/icon-sprite.png", 0 0, no-repeat, 1200% auto, inline-block);
}
// vertically: 0% = Black, 33.333% = green, 66.6666% = orange, 100% = white
// horizontally icons are placed in increments of 9.0909%
.icon-create { 
	background-position: 0 0; 

	&.white { background-position: 0 100%; }
	&.green { background-position: 0 33.3333%; }
	&.orange { background-position: 0 66.6666%; }
}

.icon-browse { 
	background-position: 9.0909% 0; 

	&.white { background-position: 9.0909% 100%; }
	&.green { background-position: 9.0909% 33.3333%; }
	&.orange { background-position: 9.0909% 66.6666%; }
}
.icon-call-for-help { 
	background-position: 18.1818% 0; 

	&.white { background-position: 18.1818% 100%; }
	&.green { background-position: 18.1818% 33.3333%; }
	&.orange { background-position: 18.1818% 66.6666%; }
}
.icon-play { 
	background-position: 27.2727% 0; 

	&.white { background-position: 27.2727% 100%; }
	&.green { background-position: 27.2727% 33.3333%; }
	&.orange { background-position: 27.2727% 66.6666%; }
}
.icon-download { 
	background-position: 36.3636% 0; 

	&.white { background-position: 36.3636% 100%; }
	&.green { background-position: 36.3636% 33.3333%; }
	&.orange { background-position: 36.3636% 66.6666%; }
}
.icon-video { 
	background-position: 45.4545% 0; 

	&.white { background-position: 45.4545% 100%; }
	&.green { background-position: 45.4545% 33.3333%; }
	&.orange { background-position: 45.4545% 66.6666%; }
}
.icon-forum { 
	background-position: 54.5454% 0; 

	&.white { background-position: 54.5454% 100%; }
	&.green { background-position: 54.5454% 33.3333%; }
	&.orange { background-position: 54.5454% 66.6666%; }
}
.icon-opinion { 
	background-position: 63.6363% 0; 

	&.white { background-position: 63.6363% 100%; }
	&.green { background-position: 63.6363% 33.3333%; }
	&.orange { background-position: 63.6363% 66.6666%; }
}
.icon-resources { 
	background-position: 72.7272% 0; 

	&.white { background-position: 72.7272% 100%; }
	&.green { background-position: 72.7272% 33.3333%; }
	&.orange { background-position: 72.7272% 66.6666%; }
}
.icon-help-out { 
	background-position: 81.8181% 0; 

	&.white { background-position: 81.8181% 100%; }
	&.green { background-position: 81.8181% 33.3333%; }
	&.orange { background-position: 81.8181% 66.6666%; }
}
.icon-design { 
	background-position: 90.9090% 0; 

	&.white { background-position: 90.9090% 100%; }
	&.green { background-position: 90.9090% 33.3333%; }
	&.orange { background-position: 90.9090% 66.6666%; }
}
.icon-remove { 
	background-position: 100% 0; 

	&.white { background-position: 100% 100%; }
	&.green { background-position: 100% 33.3333%; }
	&.orange { background-position: 100% 66.6666%; }
}













