/* Vertical centering tool */
@mixin inline-middle {
	display: inline-block;
	vertical-align: middle;
}

/* Rounded Corners */
@mixin corner($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -khtml-border-radius: $size;
   border-radius: $size;
}

/* Box Shadow */
@mixin shadow($hor: 0, $ver: 1px, $blur: 2px, $color: #333){
	-moz-box-shadow: $hor $ver $blur $color;
	-webkit-box-shadow: $hor $ver $blur $color;
	box-shadow: $hor $ver $blur $color;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');	
}

/* Image Replacement, h5bp technique */
@mixin ir($width, $height, $src, $bg-pos: 50% 50%, $bg-repeat: no-repeat, $bg-size: 100% auto, $display: inline-block) {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    display: $display;
    background-image: url($src);
    background-size: $bg-size;
    background-repeat: $bg-repeat;
    background-position: $bg-pos;
    width: $width;
    height: $height;
}

// CSS Transitions
// -------------------------------------------------------
//$property: the css property you wish to trasition
//$duration: in seconds(s) or milliseconds(ms)
//$timing-function: linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier
//$delay: in seconds(s) or milliseconds(ms)
@mixin transition($property:all, $duration:.25s, $timing-function:ease, $delay:0s) {
    transition: $property $duration $timing-function $delay;
}

// arrow
// --------------------------------------------------------
// $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
// $color: hex, rgb or rbga
// $size: px or em
// @example
// .element{
//     @include arrow(top, #000, 50px);   
// }
@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    
    @if $direction == 'top' {
        border-left: $size solid transparent;
    	border-right: $size solid transparent;
    	border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    	border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
    	border-right: $size solid $color;
    	border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'top-right' {
        border-top: $size solid $color; 
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color; 
        border-left: $size solid transparent;
    }
}


/*
  Maintain ratio mixin. Great for responsive grids, or videos.
  https://gist.github.com/brianmcallister/2932463
  
  $ratio - Ratio the element needs to maintain.
  
  Examples
  
    // A 16:9 ratio would look like this:
    .element {
      @include maintain-ratio(16 9);
    }
*/
@mixin maintain-ratio($width, $ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
 
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}



@mixin breakpoint() {
    @media (max-width: 1135px) { @content; }
}