/* ----------------------------------------------------------
	Scaffolding
============================================================= */
$site-width: 85%;

$gutter: 1.6667%;
$col-1: 6.2966%;
$col-2: 14.811%;
$col-3: 23.3299%;
$col-4: 31.8488%;
$col-5: 40.3677%;
$col-6: 48.8359%;
$col-7: 57.4054%;
$col-8: 65.9244%;
$col-9: 74.4333%;
$col-10: 82.9622%;
$col-11: 91.4811%;

$inner-gutter: 2%;


$post-gutter-width: 50px;

/* ----------------------------------------------------------
	Colors
============================================================= */
$primary-bg-color: rgba(243, 243, 243, 1);
$body-bg: #f2f2f2 url(/assets/background-pattern.png) 0 0 repeat;

$global-font-color: #222;

$header-bg: #FFFFFF;

$featured-bg-color: #d9d9d9;
$featured-font-color: #434343;

$btn-bg-color: #6aa84f;
$btn-font-color: #fff;

$idea-card-light-gray: #FAFAFA;

$error-color:#E00000;

/*Facebook colors*/
$fb-color: #3B5998;
$fb-color-dark: #203258;
$fb-color-hilight: #4075E2;

$comments-area-bg-color: #f6f6f6;

/* Gamesprout colors */
$brown-light: #8c735d;
$brown: #735742;
$brown-dark: #402b1c;
$brown-darker: #24160c;

$white: #ffffff;
$off-white: #f5f5f5;
$gray-lighter: #e5e5e5;
$gray-light: #ddd;
$gray: #aaa;
$gray-dark: #444;
$gray-darker: #434343;

$green-lighter: #EDF4EA;
$green-light: #73ce46;
$green: #5AB329;
$green-dark: #488f21;

$emerald: #488F21;
$green-highlight: #88c865;

$red: #E34C17;
$red-highlight: #e26235;
$red-dark: #85200C;

$orange-highlight: #ffe183;
$orange-light: #f7ad54;
$orange: #FF9900;
$orange-dark: #dc7d00;

/* ----------------------------------------------------------
	Typography 
============================================================= */
$nav-font-size: 1.15em;
$global-font-size: 13px;
$global-baseline: 20px;
$global-font: 'Open Sans', Arial, sans-serif;
$display-font: 'Alef', 'Open Sans', Arial, sans-serif;

/* ----------------------------------------------------------
  Misc
============================================================= */





