@import "_variables";
@import "_mixins";

#about {
	ul.steps {
		li {
			clear: both;
			float: left;
			width: 100%;
			margin: $global-baseline 0;

			&:last-child {
				background: transparent;
			}

			.title {
				text-transform: uppercase;
				font-size: 200%;
				color: $green;
			}

			& > * {
				float:left;
				margin:20px 0;
			}

			&:before {
				content: "";
				width: 10%;
				max-width: 90px;
				height: 100px;
				background: url(/assets/about-icons-sprite.png) 0 0 no-repeat;
				background-size: 500% auto;
				float: left;
				margin-right: $inner-gutter;
			}

			&:after {
				content: "";
				width:35%;
				max-width: 260px;
				height:240px;
				background: url(/assets/about-post-it-sprite.png) 0 0 no-repeat;
				background-size: 500% auto;
				float: left;
				margin-left: $inner-gutter;
			}

			&.step2 {
				&:before {
					background-position: 25% 0;
				}
				&:after {
					background-position: 25% 0;
				}
			}
			&.step3 {
				&:before {
					background-position: 50% 0;
				}
				&:after {
					background-position: 50% 0;
				}
			}
			&.step4 {
				&:before {
					background-position: 75% 0;
				}
				&:after {
					background-position: 75% 0;
				}
			}
			&.step5 {
				&:before {
					background-position: 100% 0;
				}
				&:after {
					background-position: 100% 0;
				}
			}

			.group {
				width: 51%;

				&:after {
					content: "";
					display: block;
					width: 80px;
					height: 49px;
					background: url(/assets/about-arrow.png) 0 0 no-repeat;
				}
			}
		}
	}
}

.calltoaction {
	text-align: center;
	clear: both;

	p {
		font-size: 150%;
	}

	.mainsteps {
		overflow: hidden;
		margin-bottom: $global-baseline;

		li {
		}
	}
}