@import "_variables";
@import "_mixins";
@import "typography";

/* ----------------------------------------------------------
	Custom classes used across the site
============================================================= */

.name {
	font-weight: bold;
}
.byline {
	max-height: $global-baseline;
	overflow: hidden;
	font-size: 11px;
	font-weight: normal;
	color: $gray;
	margin-bottom: $global-baseline/2;

	* {
		@include inline-middle;
	}
}
.avatar {
	height: $global-baseline;
	width: $global-baseline;
	@include inline-middle;

	//Maximum size for an avatar pic
	&.large {
		width: 240px;
		height: 240px;
	}
}

.total-activity {
	@include inline-middle;
	color: $global-font-color;
	font-size: 11px;

	&:before {
		content: "";
		@include inline-middle;
		width: 20px;
		height: 20px;
		background: url(/assets/feedsheet-center.png) 0 0 no-repeat;
		background-size: 600% auto; //there are 6 icons in feedsheet-center.png
	}
}

.back {
	position: fixed;
	top: 61px;
	right: 6%;
	display: inline-block;
	line-height: 2;
	padding: 0 .5em;
	background: $white;
	border: 1px solid $gray-lighter;
	z-index: 20000;
	@include corner(0 0 3px 3px);
	@include shadow(0, 2px, 0, $gray-lighter);
}

.tags {
	overflow: hidden;
}

.tabs {
	width: 100%;
	padding: 0 1em;
	margin: 0;
	font-family: $display-font;
	font-weight: normal;

	li {
		background-color: $green;
		border-width: 0 1px 0 1px;
		border-style: solid;
		border-color: $green-dark;
		display: inline-block;
		margin: 0 0 -2px 0;
		float: left;
		text-align: center;
		white-space: nowrap;

		a, a:link, a:visited, a:hover, a:active {
			color: $white;
			width:100%;
			height:100%;
			display:block;
			padding: 0 1em;
			line-height: 2;
			outline: none;
		}

		&.inactive {
			background-color: $green;
			a {
				color: $white;
			}

			&:hover {
				background-color: $green-light;
				text-shadow: 1px 1px 1px $green-dark;
			}
		}

		&.active {
			background-color: $white;
			border-bottom-color: $white;

			a {
				cursor:default;
				color: $orange;
			}
		}
	}

	&.vertical {
		padding: 0;

		li {
			width: 100%;

			a, a:link, a:visited, a:hover, a:active {
				padding: 0;
			}
		}
	}
}

.controls {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	display: inline;

	li {
		display: inline;

		a {
			margin-left: 0.5em;
			padding-left: 0.5em !important;
			display: inline-block;
		}

		& + li a {
			border-left: 1px solid $gray;
		}
	}
}

.help-wanted {

	&:before {
		content: "";
		display: block;
		float: left;
		width: 1.5em;
		height: 1.5em;
		margin-top: -0.5em;
		margin-right: .25em;
		background: url(/assets/icon-callforhelp-green.png) 50% 50% no-repeat;
		background-size: 100% auto;
	}
}

.screencap {
	float: left;
	width: 50%;
	margin-right: 3%;
	margin-top: -$global-baseline;
	display: block;
	padding: 10px;
	background: $gray-lighter;
	line-height: 0;

	img {
		border: 2px solid $white;
	}

	&:hover img {
		border-color: $orange;
	}
}

.badge {
	display: inline-block;
	background-color: #fff;
	border-radius: 2px;
	border: 2px solid $green;
	line-height: 2;
	color: $green;
	@include corner(3px);
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 .25em;
	line-height: 1.3;

	&.orange {
		border-color: $orange;
		color: $orange;
	}

	&.gray {
		text-decoration: none;
		text-transform: lowercase;
		border-color: $gray;
		color: $gray;
	}

	&.tag{
		border: none;
		background-color: $gray;
		color: #fff;
		text-decoration: none;
		text-transform: lowercase;
		font-weight: normal;
		line-height: 2;
		padding: 0 .5em;

		&:hover{
			background-color: $green;
		}
	}

	&.selected {
		@extend .badge;
		@extend .badge.tag;
		border-color: $green;
		background-color: $green;
		color: #fff;
	}

	&.small {
		font-size: 9px;
	}
}

.fancychecks {
	list-style: none;
	margin: 0;
	padding: 0;

	& > ul > li {
		background: url(/assets/fancychecks.gif) no-repeat 0 0;
		padding: 0 0 0 30px;
		margin-bottom: $global-baseline/2;

		a, a:link, a:visited, a:hover, a:active {
			//color: $green;
		}

		.btn {
			display: block;
			margin: 5px 0;
		}

		&.completed {
			background-position: 0 100%;
		}
	}

	li.description {
		background: none;
		display:none;
	}
	p.description {
		margin: $global-baseline/2 0;
	}
}

.tags {
	li {
		display: block;
		float: left;
		margin: 3px 2px 0;
		padding: 0;
		a {
			@extend .badge;
			@extend .badge.tag;
		}
	}
}

.postdate {
	color:$gray;
}

.sprout {
	padding: $global-baseline 2em;
	margin-bottom: $global-baseline;
	position: relative;
	background-color: $green;
	background-image: url(/assets/sprout.png);
	background-position: -2px 110%;
	background-repeat: no-repeat;
	background-size: auto 75px;
	color: $white;
	overflow: hidden;
	@include corner(10px);

	a {
		color: $orange-highlight;
		text-shadow: 1px 1px 1px $emerald;

		&:hover {
			color: $white;
		}
	}
}

.widget {
	background: $white;
	border: 1px solid $green-light;
	@include corner(5px);
	@include shadow(0,3px,0, $gray);

	.widget-content {
		padding: $global-baseline;
	}
}

ul.get-started {
	margin-bottom: $global-baseline;
	overflow: hidden;

	li a {
		background: $green;
		display: block;
		@include corner(10px);
		text-align: center;
		color: $white;
		@extend h4;
		padding: 0 $global-baseline $global-baseline;

		i {
			display: block;
			margin: 0 auto $global-baseline/2;
			width: 100px;
			height: 100px;
		}
		
		&:hover {
			background-color: $orange;
		}
	}
}

.secondary-nav {
	text-align: center;
	line-height: 2em;
	@include corner(5px);
	border: 1px solid $gray-lighter;
	margin: 0 0 4px;
	padding: 0 1em;
	position: relative;
	display: inline-block;

	&:hover {
		border-color: $orange;
	}

	&.selected, &.active {
		border: none;
		background: $orange;
		color: $white;

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: calc(50% - 5px);
			top: 100%;
			background: $white;
			@include arrow(bottom, $orange, 10px);
		}
	}
}




/* Old styles --  Eventually delete */
.votes-box {
	overflow:hidden;
	.vote {
		display:block;
		text-indent: -9999px;

		&.up {
			//float:left;
			@include arrow(top, $gray, 10px);
			//margin-bottom: 4px;
			margin: 2px;
			&.voted, &:hover {
				@include arrow(top, $green, 10px);
			}
		}

		&.dn {
			//float:right;
			@include arrow(bottom, $gray, 10px);
			//margin-top: 4px;
			margin: 2px;
			&.voted, &:hover {
				@include arrow(bottom, $green, 10px);
			}
		}
	}
	.num {
		//float:left;
		display: block;
		margin: 2px;
		text-align: center;
		//width: 1.5em;
		//width:3em;

		&.pos {
			color: $green;
		}

		&.neg {
			color: $gray;
		}
	}
}

.boxed {
	li {
		position: relative;
		margin: .5em 0;

		input[type="checkbox"] {
			visibility: hidden;
		}

		label {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 17px;
			top: 0;
			left: 0;
			-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
			-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
			box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
			background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
			background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
			background: -o-linear-gradient(top, #222 0%, #45484d 100%);
			background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
			background: linear-gradient(top, #222 0%, #45484d 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
			
			span { 
				padding-left: 25px;
				line-height: 17px;
				white-space: nowrap;
			}
		}

		input[type=checkbox]:checked + label:after {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
		label:hover::after {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			filter: alpha(opacity=30);
			opacity: 0.3;
		}
		label:after {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			content: '';
			position: absolute;
			width: 9px;
			height: 5px;
			background: transparent;
			top: 3px;
			left: 4px;
			border: 3px solid #fcfff4;
			border-top: none;
			border-right: none;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}


