// Used in both

.account-modal-container
{
	width:100%;
	height:100%;
	z-index:10000;
	position:fixed;
	background-color:rgba(0,0,0,0.8);
}

#account-modal-form
{
	margin:7% auto;

	width:420px;
	height:240px;

	background-color:#fff;

	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;

	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.6);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.6);
	box-shadow: 1px 1px 5px rgba(0,0,0,.6);
	
	border: solid 1px #478a21;

	background-color: #509f23;
	background: -webkit-gradient(linear, left top, left bottom, from(#61cd25), to(#478a22));
	background: -moz-linear-gradient(top,  #61cd25,  #478a22);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#61cd25', endColorstr='#478a22');

	&.tall
	{
		height:265px;
	}

	#account-modal-exit
	{
		position:absolute;
		top:0px;
		right:0px;
	}

	.account-modal-header
	{
		padding:20px 20px 0 20px;

		p
		{
			font-size:32px;
			color:#fff;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			text-align: center;
		}
	}

	.account-modal-login-options
	{
		padding:10px 20px;

		.account-options-divider
		{
			border-bottom: 1px solid #fff;
			margin: 5px 0;
		}

		.account-modal-login-facebook
		{
			margin-bottom:10px;
			//border-bottom: 1px solid #fff;
			text-align: center;
		}

		.account-modal-login-normal
		{
			//max-width:50%;
			
			margin-top: 15px;
			text-align:center;


			form
			{
				input
				{
					font-size:14px;
					margin:0 10px 10px 10px;
					
					&#user_login
					{
						
					}

					&.orangeBtn
					{
						width:140px;
						float:left;
						position:relative;
						left:40px;
					}

				}
			}
		}
	}

	a, a:link
	{
		color:white;

		&.account-modal-forgot-pass
		{
			font-size:14px;
			font-weight: bold;
			position:relative;
			top:10px;
			left:15px;
		}

		&.account-modal-create-new
		{
			font-size:12px;
			padding: 10px 15px;
			color: #fff;
			font-weight: bold;
			position:relative;
			top:15px;
			float:right;
		}

		&.account-modal-create-new, &.account-modal-forgot-pass
		{
			&:hover
			{
				text-decoration:underline;
				color:white;
			}
		}
	}
}