@import "_variables";

.admin {
	nav.account {	
		li {
			float: left;
			width: 31.3333%;
			margin: 0 1%;
			
		}
	}	

	.news-item {
		text-align: left;
		border-bottom: 3px solid $global-font-color;
		max-width: 37em;
		margin: 0 auto 0;
		padding: $global-baseline 0;
	}
}

.feedback-items{
	margin:10px;
}

.feedback-item{
	margin:15px;
	padding: 10px;
	width: 45%%;
	font-size:1.15em;
	border:2px solid $green;

	.type{
		
	}
	.from{
		
	}
	.email{
		margin-bottom:5px;
	}
	.item-logged{
		margin-bottom:5px;
		a.btn{
			//width: 50px;
		}
	}
	.sent-on{
		margin-bottom:5px;
	}
	.content{
		margin-bottom:15px;
	}
	.read-more{
		margin-bottom:5px;
		a.btn{
			width:25%;
		}		
	}
}

#admin-visualization-daily, #admin-visualization-total{
	width: 800px;
	height: 400px;
}

#admin-user-vis-chart-data{
	columns:200px 3;
	-webkit-columns:200px 3;
	-moz-columns:200px 3;

	table{
		border: 1px;
		width: 300px;
		page-break-inside:avoid;
		-webkit-column-break-inside: avoid;

		th{
			font-weight:bold;
		}
	}
}