@import "_variables";

// Shared navigation between the different browse pages.

.design-tabs {
		//margin: 40px 0 5px 40px;
		height: 80px;

		li {
			display: inline-block;
			width: 220px;
			height: 75px;
			margin-right:20px;
			background-color: $green;
			line-height: 30px;
			text-align: center;
			color:#fff;
			float:left;
			vertical-align:middle;
			&:hover{
				background-color: $green-light;
			}
			a {
				color: #fff;
				text-decoration: none;
				width:100%;
				height:100%;

				display:block;
			}

			font-weight: bold;
			font-size: 24px;

			&:last-child {
				margin-right:0;
				background-color: transparent;

				input[type=text] {
					padding:10px;
				}
			}

			.firstButton
			{
				position:relative;
				line-height:75px;
				vertical-align:middle;
			}

			&.active {				
				background-color: $green-light;
			}

			&.active-search input {
				background-color: $green_light;
			}
			
			.sectionTitle
			{
				position:relative;
				line-height:40px;
			}

			.sectionText	
			{
				position:relative;
				font-size:14px;
				font-weight:normal;
				line-height:35px;
			}
		}
	}