@import "_variables";
@import "_mixins";
@import "_global";

.game-idea-block {
	position: relative;
	padding-bottom: 48px !important;
  background: $white;

	.img-block {
		max-height: 180px;
		width: 100%;
		margin: 0;
		display: block;
		font-size: 0;
		margin-bottom: $global-baseline/2;
		@include corner(5px 5px 0 0);
		overflow: hidden;
	}

	.gamename {
		margin-bottom: $global-baseline/4;
		max-height: 3.3em; // 3 lines, 30char
		overflow: hidden;
	}

	.description {
		max-height: 7.25em; // 5 lines, 140char
		overflow: hidden;
	}

	.tags {
		max-height: 6em; // 3 lines, 6 tags
	}

	.lastupdate {
		font-size: 10px;
		color:$gray-dark;
		line-height: 1;
		text-indent: -18px;
		padding-left: 18px;

		&:before {
			content: "";
			@include inline-middle;
			width: 14px;
			height: 14px;
			background: url(/assets/socialsprites.png) no-repeat -5px -5px;
		}
	}

	footer {
		position: absolute;
		display: block;
		margin: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 38px;
		padding: 5px;
		border-top: 1px solid $gray;
		background-color: $off-white;

		.lastupdate, .social, .total-activity {
			display: inline-block;
			vertical-align: top;
		}

		a.total-activity {
			float: right;
			@include inline-middle;
      color: $global-font-color;

      &:hover {
        color: $orange;
      }
		}

		.social {
		width: 120px;
		overflow: hidden;

			li {
				display: block;
				float: left;
				width: 21px;
				margin:2px;

				a {
					display: block;
					width:21px;
					height: 20px;
					background: url(/assets/socialsprites.png) no-repeat -3px -21px;
				}

				&.twitter a {
					background-position: -3px -21px;
				}

				&.facebook a {
					background-position: -1px -44px;
				}

				&.happyface a {
					background-position: -1px -68px;
					width: 23px;
					height: 24px;
				}

				&.happyface a.active {
					background: url(/assets/socialsprites.png) no-repeat -1px -120px;
					background-color: $emerald;
				}

				&.star a {
					background-position: 0 -93px;
					width: 24px;
					height: 24px;
				}

				&.star a.active {
					background: url(/assets/socialsprites.png) no-repeat -1px -93px;
					background-color: $emerald;
				}
			}
		}
	}
}

.play .game-idea-block, .build .game-idea-block {
	overflow: hidden;
	padding-bottom: 0 !important;
	min-height: 0;

  .banner {
  	background: $gray-lighter;
  	width: auto;
  	max-width: 50%;
  	float: left;
  	height: auto;
  	max-height: 500px;
  	margin-bottom: 5px;
  }

  .details {
  	padding: $global-baseline/2 0 0 $global-baseline;
    float: left;
    max-width: 50%;
  }

  .idea-info {
  	clear: both;
  	width: 102.5%;
  	margin-left: -1.25%;
  	background: $off-white;
  	padding: $global-baseline/2 2%;
  	overflow: hidden;
  	@include shadow(inset 0, 4px, 5px, $gray-lighter);
  	border-top: 1px solid $gray-light;

  	.banner {
  		width: auto;
  		height: auto;
  		max-width: auto;
  		max-height: 50px;
  		margin-right: 2%;
  		margin-bottom: 0;
  	}
  	.gamename {
  		display: inline-block;
  		margin-bottom: 0;
  		margin-right: .5em;
  		vertical-align: baseline;
  	}
  	.byline {
  		@extend .gamename;
  		margin-right: 0;
  	}
  }

  .title {
  	width: 100%;
  	display: inline-block;
  	padding-top: 0.5em;

  	&:before {
  		@extend [class*=" icon-"];
  		content: "";
  		display: block;
	    float: left;
	    font-size: inherit;
	    width:1.5em;
	    height: 1.5em; 
	    margin: -0.25em 0.25em -0.25em 0;
	}

	&.proto:before {
		@extend .icon-play.green;
	}

    &.video:before {
    	@extend .icon-video.green;
    }

    &.download:before {
      @extend .icon-download.green;
    }
  }

  .lastupdate {
        display: inline-block;
        margin-right: 2em;
  }

  .details-box {
    clear: both;
    background-color: gray2;
    overflow: hidden;
    min-height:170px;
  }
}

.build .game-idea-block {
	position: relative;

	.banner {
		margin-top: -5px;
		margin-left: -1%;
		width: 51%;
		max-width: 51%;
	}

	.details {
		float: left;
		clear: left;
		width: 50%;
		padding: 0 $global-baseline/2;

		.title:before {
			display: none;
		}
		.lastupdate {
			margin-top: $global-baseline;
		}
	}
	.helpwanted {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: auto;
		padding: $global-baseline/2;
		background: $off-white;
		@include shadow(inset 5px, -5px, 10px, $gray-lighter);
	}
	.description {
		max-height: none;
	}
}