@import "_variables";
@import "_mixins";

/* Contains all of the button styles used across the site. */

.btn, .regularBtn, .orangeBtn, .facebookBtn, .redBtn, button, input[type="submit"] {
	font-family: $display-font;
	font-weight: normal;
	font-size: $nav-font-size;
	color: #fff !important;
	outline: none;
	border-width: 0px 1px 0; 
	border-style: solid;
	border-color: $green-dark;
	@include shadow(0px, 4px, 0px, $green-dark);
	@include corner(5px);
	cursor: pointer;
	text-align: center;
	margin: 0px 0px 4px;
	line-height: 2;
	height: 2em; //must be declared for firefox
	padding: 0 2em;
	text-transform: lowercase;
	background-color: $green;

	&:hover {
		background-color: $green-light;
		text-shadow: 1px 1px 1px $green-dark;
	}

	&.black {
		background-color: $global-font-color;
		border-color: $green-dark;
		color: #fff;
		@include shadow(0px, 4px, 0px, $green-dark);

		&:hover {
			background-color: $gray-dark;
			text-shadow: 1px 1px 1px $global-font-color;
		}
	}
	&.orange {
		background-color: $orange;
		border-color: $orange-dark;
		color: #fff;
		@include shadow(0px, 4px, 0px, $orange-dark);
		&:hover {
			background-color: $orange-light;
			text-shadow: 1px 1px 1px $orange-dark;
		}
	}

	&.red {
		background-color: $red;
		border-color: $red-dark;
		color: #fff;
		@include shadow(0px, 4px, 0px, $red-dark);
		&:hover {
			background-color: $red-highlight;
			text-shadow: 1px 1px 1px $red-dark;
		}

	}

	&.return {
		display: inline-block;
	}

	&.facebook {
		background-color: $fb-color;
		border-color: $fb-color-dark;
		@include shadow(0px, 4px, 0px, $fb-color-dark);

		&:hover {
			background-color: $fb-color-hilight;
			text-shadow: 1px 1px 1px $fb-color-dark;
		}
	}

	&.narrow {
		line-height: 1.5;
		height: 1.5em; //must be declared for firefox
		padding: 0 1em;
	}
	&.big {
		font-size: 18px;
	}
	&.huge {
		font-size: 24px;
	}

	&.stacked {
		margin-bottom: $global-baseline/2;
	}

	&.fullWidth {
		width:100%;
		display: inline-block;
	}
}

button.text-btn, input[type="submit"].text-btn, .text-btn {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: $green !important;
	border-width: 0;
	border-style: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	@include corner(0px);
	text-align: inherit;
	margin: 0;
	padding: 0;
	line-height: inherit;
	height: inherit;
	text-transform: none;
	background-color: transparent;

	&:hover {
		color: $orange !important;
		background-color: transparent;
		text-shadow: none;
	}
}

a.social-button {
	@include inline-middle;
	border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(/assets/social-sprite.png) 0 98% no-repeat;
    background-size: 200% auto;
    width: 24px;
    height: 24px;

	&.fbLike {
		&:hover {
			background-position: 0 0;
		}
	}

	&.twitter
	{
		background-position: 98% 98%;

		&:hover {
			background-position: 98% 0;
		}
	}	
}

.sidebarBtn
{
	position: absolute;
	right: 10px;
	top: 5px;
	height: 25px;
	margin: 0;

	&:active
	{
		position: absolute;
		top: 6px;
	}
}

.expandCollapseBtn {
	cursor: pointer; 
	width: 22px; 
	height: 22px; 
	float: left; 
	margin-left: -3px; 
	margin-top: -2px; 
	background-position: 2px 2px; 
	background-repeat: no-repeat;
	background-image: url(/assets/expandBtn.gif);

	&.expanded
	{
		background-image: url(/assets/collapseBtn.gif);
	}
}
