@import "_variables";
@import "_mixins";

.checklist {

	.checklist-items {

		.task-group {
			background-color:$green;
			padding:5px 0;
			color:white;
			display:block;
			cursor:pointer;
			margin-top: $global-baseline/2;
			@include corner(5px);

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: moz-none;
			-ms-user-select: none;
			user-select: none;

			h3 {
				display: inline-block;
				vertical-align: baseline;
				margin-bottom: 0;
				font-weight: normal;
			}

			.list-arrow {
				@include arrow(right, #fff, 7px);
				display: inline-block;
				vertical-align: baseline;
				margin-right: .5em;
				margin-left: 1em;
			}

			&.active {
				@include corner(5px 5px 0 0);

				.list-arrow
				{
					@include arrow(bottom, #fff, 7px);
					display: inline-block;
					margin-right: .15em;
					margin-left: 1em;
					vertical-align: middle;
				}
			}

			&:hover {
				background-color:$green-light;
			}

			.completion {
				color: $white;
				float: right;
				margin-right: 1em;
				padding-top: .4em;
			}

			.list-arrow
			{
				&.inactive
				{
					@include arrow(right, #fff, 12px);
					float:left;
					margin: 1px 14px 0 10px;
				}

				&.active
				{
					@include arrow(bottom, #fff, 12px);
					float:left;
					margin: 8px 10px 0 2px;
				}
			}
		}

		.expanded-task-group {
			width: 100%;
			border: 1px solid $green;
			background: $white;
			color: $global-font-color;
			margin-bottom: $global-baseline/2;
			@include corner(0 0 5px 5px);

			.task-header {
				background-color:$green-lighter;
				line-height: 2;
				color: $green-dark;
				display: block;
				padding: 0 1em;
				margin: 0;
				clear: both;
			}

			.task-group-description {
				padding: .25em 1em;
			}
			.task-items {
				overflow: hidden;
				margin-bottom: $global-baseline/2;

				li {
					background: $white;
					padding:5px 1em;
					width: 50%;
					float: left;
					position: relative;
				}
			}

			.task-checkbox {
				width: $global-font-size;
				height: $global-font-size;
				display: block;
				position: absolute;
				top: 0.7em;
				left: 1em;
				margin-right:.5em;
				background: url(/assets/checklist.png) 0 0 no-repeat;
				background-size: 300% auto;
				cursor: pointer;

				&.on {
					background-position: 100% 0;
				}
			}

			.task-name {
				cursor:pointer;
				display: inline-block;
				vertical-align: middle;
				padding: 0 1em 0 1.5em;

				&:hover {
					color:$orange;
				}
			}

			.task-description {
				padding: 5px 10px;
				background: $gray-lighter;
			}
		}
	}
}