#newsAlert{
	background-color: #ffe59d;
	position: relative;
	//top: -1px;
	z-index: 11;
	// width: 930px;
	width: 100%;
	text-align: center;
	padding: 4px 0 5px 0;
	border-top: solid 1px #f2ae09;
	border-bottom: solid 1px #f2ae09;	
}

#newsAlert p{
	color: #dd8c00;	
	font-size: 10pt;
	padding: 0 25px;
}

#closeAlert{
	width: 16px; height: 16px;
	position: absolute;
	top: 6px;
	right: 10px;
	display: inline-block;
	cursor: pointer;
}