@import "_variables";
@import "_mixins";

.comment-container {
	margin-top: $global-baseline;
	width: 100% !important;
	border-top: 4px double $gray-lighter;
	padding-top: $global-baseline;

	.viewmore-comments {
		display: block;
		width:50%;
		background: $gray-lighter;
		margin-bottom: $global-baseline;
		margin-top: -$global-baseline;
		margin: -$global-baseline auto $global-baseline;
		color: $gray-dark;
		text-align: center;
		font-size: .85em;
		cursor: pointer;
		@include corner(0 0 5px 5px);

		span {
			background: $gray;
			color: $white;
			font-weight: bold;
			@include corner(1em);
			width: 12px;
			height: 12px;
			line-height: 1;
			display: inline-block;
			vertical-align: baseline;
			text-align: center;
		}
	}

	.removed-comment {
		font-style:italic;
		color: $gray;
	}

	.comment {
		width: 100% !important;

		.avatar {
			width: 40px;
			height: 40px;
			border-right: 1px solid $gray;
			margin-right: 1em;
		}	

		.comment-head {
			font-weight: normal;
			font-size: $global-font-size;
			margin-bottom: 0.25em;
			color: $gray;
		}

		.comment-body {
			overflow: hidden;
			margin: -40px 0 1em 39px;
			padding: 0 1em .75em;
			border-bottom: 1px solid $gray;
			border-left: 1px solid $gray;
			@include corner(0 0 0 5px);
			@include shadow(0, 3px, 0, $gray-lighter);
		}
	}
}

.new-comment-container {
	clear: both;
}
.new-comment {
	textarea {
		height: 2.75em;

		&:focus {
			height: 7em;
		}
	}
}