@import "_variables";
@import "_mixins";

/* From scaffolding.scss
 * for reference only
 
main {
	margin: 0 auto;

	&.content {
		width: $col-10;
	}
*/

#content {
	width: $col-10;
	margin: 0 auto;

	.hero {
		margin: -20px -15% 20px;
		padding: $global-baseline 7.125%;
		width: 130%;
		background: $gray-lighter;
	}
}

#signUpAndIn {
	.sign-in {
		width: 50%;
		display: inline-block;
	}
	.sign-up {
		@extend .sign-in;
	}
}

#dev-center {
	ul.resources {
		& > li {
			clear: both;
			border-bottom: 1px solid $gray-light;
			border-top: 1px solid $gray-light;
			margin: $global-baseline 0 $global-baseline;
			padding: $global-baseline 0 $global-baseline 150px+$global-baseline;

			& + li { //all except first <li>
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}

			&:before {
				content: "";
				display: block;
				float: left;
				background: url(/assets/dc-images.png) 0 0 no-repeat;
				background-size: 400% auto;
				margin-right: $global-baseline;
				width: 150px;
				height: 125px;
				margin-left: -150px-$global-baseline;
			}

			&.prototyping:before {
				background-position: 33.333% 0;
			}
			&.sound:before {
				background-position: 66.6666% 0;
			}
			&.design:before {
				background-position: 100% 0;
			}
		}
	}
}