@import "_variables";
@import "_mixins";
@import "grid";
@import "accessories";

/* Dashboard layout */

#dashboard {
	.user-info {
		position: relative;
		padding-left: 2%;

		.avatar {
			width: 80px;
			height: 80px;
			float: left;
			margin-right: 1em;
			margin-top: 1px; //to keep border from clipping
			border: 4px solid $white;
			outline: 1px solid $gray-light;
			@include shadow(0, 3px, 0, $gray-light);
			@include corner(3px);
		}
		h4 {
			padding-top: 4px;
			margin-bottom: 0;
		}
		.cmds {
			li {
				display: inline-block;
				line-height: 1.2;

				& + li {
					border-left: 1px solid $global-font-color;
					padding-left:.5em;
					margin-left:.5em;
				}
			}
		}
		#feed-header {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	
	
	#feedButtonbar {
		background: $green-lighter;
		font-family: $display-font;
		float: left;
		margin-top: -24px;
		padding-left: 100%-$col-9;
		width: 100%;
		@include shadow(0, 0, 0, transparent);
		@include corner(5px 5px 0 0);

		.tabs {
			padding: 0;
			margin-left: -1px;
		}

		.feedBtn{
			position: relative;
			color: $white;
			padding: 0 1em;
			line-height: 35px;
			border-width: 0 1px 2px 0;
			border-style: solid;
			border-color: $green-dark;
			margin-bottom: 0;

			&:hover {
				background-color: $green-light;
				text-shadow: 1px 1px 1px $green-dark;
			}

			&.activeFeedBtn{
				background-color: $white;
				color: $orange;
				position: relative;
				border-bottom-color: $white;
				border-left: 1px solid $green-light;

				&:hover {
					text-shadow: none;
					background: $white;
				}
			}
		}
	}
	.sidebar {
		float: left;
		.summary {
			padding: 12px 12px 12px 17%;
			margin-left: -17%;
			background: $white;
			overflow: hidden;
		}
	}
}
.feedCountIco{
	display: inline-block;
	line-height: 1;
	vertical-align: text-top;
	background-color: $orange;
	color: $white;
	padding: 0 5px;
	font-size: inherit;
	@include corner(10px);
	position: absolute;
	top: -9px;
	left: 5px;
	font-size: 13px;
	font-family: $display-font;
}

#home-feed {
	@extend .widget;
	@include corner(0 0 5px 5px);
	border-top: none;
	width: $col-9;
	float: right;
	margin-top: -1px;

	#feed-content {
		background: $white;
		@include corner(5px);
		padding: $global-baseline;
	}
}

#myIdeas {
	margin-left: -1%; //helps align .gameIdeaThmb to the left
	overflow: hidden;
	margin-bottom: $global-baseline;
}

.gameIdeaThmb {
	position: relative;
	float: left;
	width: 48%;
	margin: 0 1% $global-baseline/2;

	

	&:nth-child(2n+1) {
		clear: both;
	}

	.feedCountIco{
		left: 4px;
		top: 4px;
	}

	img {
		display: block;
		max-width: none;
		width: 111%;
		margin: 0 -5.5% $global-baseline/4;
	}

	&.new, a {
		display: block;
		border: 1px solid $gray-light;
		text-align:center;
		overflow: hidden;
		font-weight: bold;
		padding: 0 5% $global-baseline/4;
		line-height: 1.2;
		@include corner(5px);
		@include shadow(0, 4px, 0, $gray-light);
	}

	&.new {
		background: $off-white;
		cursor: pointer;
		color: $green;
		font-weight: bold;
		border: 1px dashed $gray;
		@include shadow(0, 0, 0, transparent);

		span {
			width: 60px;
			height: 60px;
		}

		&:hover {
			background-color: $orange-highlight;
			border-color: $orange;
			color: $orange;
			span {
				background-position: 0 66.6666%;
				// sloppy: for browser compatibility, need to declare x and y
				// because this has the class .icon-create, the background-position-x = 0
				// should eventually do this dynamically based on class
			}
		}
	}
}

/*end dashboard update 8.2*/

.blog-title
{
	font-size:18pt;
}

.rss-content
{
	padding-top:10px;
	clear:both;
	overflow:hidden;

	&.centered
	{
		text-align:center;
	}

	&.collapsed
	{
		height:400px;
	}
}

/* STYLE FOR COMMENTS IN THE DASHBOARD - THIS WILL EVENTUALLY BE MOVED TO ITS OWN SCSS FILE (OR IN
	TO NEW_POST.SCSS) */
.pointer
{
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.feed-comments
{
	background-color:#e9e9e9;

	.viewmore-comments p
	{
		padding:5px;
		font-weight:bold;
		color: #42a50c;

		&:hover
		{
			color: #4cd800;
		}
	}

	.comment-title
	{
		font-size:10pt;
		color: #999;
		margin-bottom:10px;
	}

	.comment-text
	{
		margin-left:40px;
		margin-top: 5px;

		&.removed-comment
		{
			font-style:italic;
		}
	}

	.comment-content, .new-comment-container
	{
		padding:10px;
		//border-bottom: #fff 1px solid;
		border-top: #fff 2px solid;

		a
		{
			word-break: break-all;
		}
	}

	textarea {
		margin-top:5px;
		width: 98%;
		height: 50px;
		resize:none;
	}
}