.deleted-idea-container
{
	min-height:700px;

	.deleted-idea-message
	{
		text-align:center;

		padding:30px;

		font-size:2.5em;
		//font-weight:bold;

		.deleted-idea-name
		{
			font-weight:bold;
			//padding: 0 20px;
			font-size:1.5em;
			margin:20px auto;
		}
	}

	.deleted-idea-back-button
	{
		//margin:30px 40%;
		padding-left:400px;
		padding-top:30px;
	}
}