@import "_variables";
@import "_mixins";

.dv-demo{
	background-color: $gray-lighter;
	padding:5px 15px 15px 15px;
	text-align: center;
	position: relative;
	width: 130%;
	margin: -20px -15% 20px;

	.dv-direct-link {
		display: inline-block;
		padding: 0 .5em;
		line-height: 2;
		margin-bottom:5px;
	}

	.updates-frame{
		width: $col-10;
		margin: $global-baseline auto;
	}

	.dv-demo-embed {
		@include maintain-ratio(100%, 8 5);

		& > * {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.updates-frame {
	overflow: hidden;
}

.dv-demo-instructions {
	position:relative;
	z-index:10;
	padding: $global-baseline/2 $global-baseline;
	background: #fff url(/assets/playable-overlay.png) 1% 95% no-repeat;
}

.dv-tab-idea-info {
	width: 40%;
	float: right;
	margin-left: 5%;

	h2 {
		border-bottom: 2px solid $green;
	}
	.screencap {
		padding: 5px;
	}
}

.dv-footer {
	@extend .updates-frame;
}
