@import "_variables";
@import "_mixins";


.field {

	.title-text {
		font-weight:bold;
		font-size:1.3em;
		//margin-top:10px;
	}

	.sub-title-text {
		padding-top:5px;
		padding-bottom:5px;
		color:$gray;
	}
}

.dd-demo-header {
	margin-bottom: $global-baseline;
	border-bottom: 1px solid $gray-light;

	.idea-link {
		font-size: 1.15em;

		span {
			@include inline-middle;
			width: 2.4em;
			height: 1.2em;
			// pulls background-image dynamically in design_docs/show.html.haml
			background-position: 50% 50%;
			background-size: 200% auto;
		}
	}

	.title {
		margin: $global-baseline/2 0;
	}
}
.dd-controls{
	display: inline;
	font-size: $global-font-size;
	color: $gray;
	margin-left: 1em;
}

