@import "_variables";
@import "_mixins";

#design-details  {
	section {
		margin: $global-baseline/2 0 $global-baseline;
	}
	#core-platform-edit, #core-aesthetics-edit, #core-favorite-edit, #core-mechanics-edit {
		display: none;
	}
}
	

