@import "_variables";

#download-container {
	background-color: $green;

	div {
		img {
			width: 400px;
		}

		margin: 0 auto;
		width: 400px;
		text-align: center;
		
		a {
			color: White;
			font-size: 22px;
			display: block;
			margin-top: 12px;
		}
	}

	div#download-text {
		padding-bottom: 131px;
	}
}