@import "_variables";

#error_explanation
{
	padding: 10px;
	border: solid 1px #d04437;
	background-color: #fff;

	margin:10px 0;

	max-width:300px;

	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;

	&.centered
	{
		margin: 10px auto;
	}

	.title
	{
		color:$error-color;
		font-size:200%;
		text-align:center;
	}

	ul
	{
		margin:5px 0;
		font-size:12pt;
		list-style-type: none;
		font-weight:bold;
		color:red;


		li
		{
			margin-bottom: 8px;
		}
	}
}