@import "_variables";
@import "_mixins";

.featured {
	clear: both;
	position: relative;
	margin-bottom: $global-baseline;
	overflow: hidden;

	.title {
		width: 100%;
		display: inline-block;
		border-bottom: 3px solid $green;
		margin-bottom: $global-baseline;
		padding-bottom: $global-baseline/2;
		padding-top: 0.5em;

		.learnMoreLink {
			vertical-align: baseline;
			font-size: $global-font-size;
			font-weight: normal;
			margin-left: 1em;
		}

		&.prototype {
			&:before {
				content: "";
				display: block;
				float: left;
				width: 1.5em;
				height: 1.5em;
				margin-top: -0.5em;
				margin-right: .25em;
				background: url(/assets/icon-play-green.png) 50% 50% no-repeat;
				background-size: 100% auto;
			}
		}
	}

	.post-date {
		float:right;
		font-size:1.2em;
		font-weight:bold;
		line-height:1.5em;
		color:#aaaaaa;
	}


	.prototype-icon {
		right:2px;
		top:38px;
	}

	.btn.orange {
		margin-top:5px;
		margin-right:5px;
	}

	.playButton {
		left:100px;
		top:160px;
	}

}

#prototype-icon-div {
	float:right;
	clear:both;

	.prototype-icon {
		background: $green url(/assets/playables-icon-browse.jpg) no-repeat center 0;
		width:85px;
		height: 85px;

		&.proto {
			background-position: -36px;
		}

		&.video {
			background-position: center -35px;
		}

		&.download {
			background-position: -335px;
		}
	}
}

#featured-image-div {
	float:left;
}

#prototype-description-div {
	float:left;
	max-width:40%;
	height:80%;

	.title {
		color: gray-dark;
		padding-bottom: 5px;
	}
}

		

.brief {
	font-size: 120%;
	//width:365px;
	p {
		margin: .5em 0;
		line-height: 1.25em;
		//height:100px;
		margin-right:60px;
		font-size:90%;
	}

	h4.title {
		text-transform: capitalize;
		color: gray-dark;
		margin: 0;
	}
	h3.title {
		font-size: 150%;
		color: $green;
		margin: .25em 0 .5em;
	}

	.btn {
		&.playButton {
			width:150px;
			//position:absolute;
			//margin-left:auto;
			right:135px;
			top:230px;
		}

		&.changeDemo {
			width:150px;
		}
	}
}