@font-face {
	font-family: 'iconfont';
	src:url('/assets/iconfont.eot');
	src:url('/assets/iconfont.eot?#iefix') format('embedded-opentype'),
		url('/assets/iconfont.ttf') format('truetype'),
		url('/assets/iconfont.woff') format('woff'),
		url('/assets/iconfont.svg#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "1";
}
.icon-remove:before {
	content: "2";
}
.icon-folder-open:before {
	content: "3";
}
.icon-arrow-up-left:before {
	content: "4";
}
.icon-arrow-up:before {
	content: "5";
}
.icon-arrow-up-right:before {
	content: "6";
}
.icon-arrow-right:before {
	content: "7";
}
.icon-arrow-down-right:before {
	content: "8";
}
.icon-arrow-down:before {
	content: "9";
}
.icon-arrow-down-left:before {
	content: "a";
}
.icon-arrow-left:before {
	content: "b";
}
.icon-play:before {
	content: "c";
}
.icon-tags:before {
	content: "d";
}
.icon-image:before {
	content: "e";
}
.icon-remove2:before {
	content: "f";
}
.icon-envelop:before {
	content: "10";
}
.icon-search:before {
	content: "11";
}
.icon-download:before {
	content: "12";
}
.icon-upload:before {
	content: "13";
}
.icon-bubbles:before {
	content: "14";
}
.icon-twitter:before {
	content: "15";
}
.icon-facebook:before {
	content: "16";
}