@import "_variables";
@import "_mixins";

footer{
  width: 108%;
  margin: 30px -4% 0;
  border-top: solid 1px #CCCCCC;
  background-color: #f7f7f7;
  padding: 10px 3.125%;
  display: table;

  ul {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;

    li { 
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;

      // all <a>s
      & > a {
        padding: 0;
      }
      // all <a>s except first
      & + li > a {
          padding-left: 1em;
      }
    }
  }

  .social {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;

    .social-button {
      padding-left: 0;
      margin-left: 10px;
    } 
  }

  .report {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}