@import "_variables";
@import "_mixins";

label {
	text-align: left;
	display: block;
	font-weight: bold;
	font-size: $global-font-size;
	margin: 0 0 .25em;
	line-height: 1.2;
}

.required {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: .5em;
		height: .5em;
		margin-right: .5em;
		margin-left: -1em;
		@include corner(1em);
		background: $orange;
	}
}

.instructions {
	color:$gray;
	margin: $global-baseline/4 0;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
	margin: 0 0 .5em; 
	padding: 0.5em .5em;
	width: 100%;
	border: 1px solid $gray;
	font-size: $global-font-size;
	@include corner(3px);

	&:focus {
		outline: none;
		border: 1px solid $orange;
		@include shadow(0, 0, 2px, $orange);
	}

	&.btn:focus {
		border-color: inherit;
		@include shadow(0, 0, 0, transparent);
	}

	&.narrow {
		line-height: 1.8;
	}

	& + .charlimit {
		width: 300px;
	}

	&.hidden {
		visibility: hidden;
		height: 1px;
		width: 1px;
		line-height: 1px;
		font-size: 1px;
		margin: 0;
		padding: 0;
	}

	&.long {
		width:506px;
	}
}

input[type="submit"] {
	margin: 0 0 .5em;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  outline: none;
	background: url(/assets/select-arrow.png) 98% 50% no-repeat;
}

input[type="checkbox"], input[type="radio"] {
	display: none;

	& + label {
		font-weight: normal;
		vertical-align: top;
		display: inline-block;
		cursor: pointer;

		&:hover {
			color: $orange;
		}

		&:before {
			content: "";
			display: inline-block;
			width: 1em;
			height: 1em;
			font-size: inherit;
			background: pink;
			margin-right: 0.5em;
			vertical-align: top;
			background: url(/assets/radio-checks.png) 0 50% no-repeat;
			background-size: 400% auto;
		}
	}

	&:checked + label:before {
		background-position: 33.3333% 50%;
	}
}

input[type="checkbox"] {
	& + label:before {
		background-position: 66.6666% 50%;
	}
	&:checked + label:before {
		background-position: 100% 50%;
	}
}

.fake-checkbox, .fake-radio {
	font-weight: normal;
	vertical-align: baseline;
	display: inline-block;
	cursor: pointer;
	display: block;

	a, a.selected {
		color: $green; //$global-font-color;
	}

	&:before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		font-size: inherit;
		background: pink;
		margin-right: 0.5em;
		vertical-align: baseline;
		background: url(/assets/radio-checks.png) 0 50% no-repeat;
		background-size: 400% auto;
	}

	&.current:before {
		background-position: 33.3333% 50%;
	}
}

.fake-checkbox.current:before {
	background-position: 100% 50%;
}

textarea {
	line-height: 1.5;
	padding: .5em;

	& + .charlimit {
		width:100%;
	}

	&.feedback {
		height:100px;
	}
}

form {
	.field {
		margin:0 0 1em;

		.charlimit {
			display: block;
			text-align: right;
			font-size: 80%;
			color: $gray;
			width: 100%;

			&.at-limit {
				color: red;
			}
		}
	}
}