@import "_variables";
@import "_mixins";

.grid {
	width: $col-9;
	float: left;
	background: $gray-light;
	padding: $global-baseline/2;
	margin: $global-baseline/2 -$global-baseline/2 0 0;

	&.tile {
		.cell {
			width: calc((100% - 20px) / 3);
			float: left;

			& + .cell {
				margin-left: $global-baseline/2;
			}

			& + .cell:nth-child(3n+1) {
				margin-left: 0;
				clear: both;
			}
		}
	}
	&.list {
		.cell {
			width: 100%;
		}
	}
}

.cell {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: $gray; 
	padding: $global-baseline/4 1%;
	margin-bottom: $global-baseline;
	@include corner(5px);
	@include shadow(0px, 4px, 0px, $gray);
}


#show-more {
	float: left;
	clear: both;
}