@import "_variables";
@import "_mixins";

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
	height:62px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
	background: $header-bg;
	padding: 2px 7.5%;
	@include transition(all, 0.15s, ease);

	min-width: 960px;

	@include breakpoint {
		padding: 2px 1%;
	}


	.headerLogo {
		margin: 0 2% 0 0;
		position: relative;
		z-index: 21;
		@include inline-middle;
	}

	nav {
		@include inline-middle;
		li {
			display: inline-block;
		}
		a, a:visited {
			font-family: $display-font;
			font-size: $nav-font-size;
			text-transform: lowercase;
			font-weight: 700;
			color: $global-font-color;
			text-decoration: none;
			display: inline-block;
			position: relative;
			padding: 0 .5em 0 .25em;
			line-height: 52px;
			@include corner(3px 3px 0 0);
			@include transition(all, 0.15s, ease);

			span {
				font-size: inherit;
				width: 35px !important;
				height: 35px !important;
				vertical-align: middle;
				margin-right: -4px;

				&.white {
					display: none;
				}
			}

			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 0;
				@include transition(height, 0.15s, linear);
				background: $green;
				position: absolute;
				bottom: 0;
				left: 0;
				@include corner(3px 3px 0 0);
				z-index: -1;
			}

			&:hover {
				color: #fff;
				text-shadow: 1px 1px 1px $global-font-color;

				span.green {
					display: none;
				}

				span.white {
					display: inline-block;
				}

				&:before {
					height: 100%;
				}
			}
		}
	}

	.login {
		position: absolute;
		padding-top: 2em;
		top: 0;
		right: 7.5%;
		@include breakpoint {
			right: 1%;
		}
	}
}