@import "_variables";
@import "_mixins";
@import "accessories";

/* Homepage Layout - Not logged in */

#home {
	.hero {
		width: $col-8;
		float: left;
		text-align: center;
	}
	.featured {
		h2 {
			border-bottom: 1px solid $gray;
			padding-bottom: $global-baseline/4;
		}
		.game-idea-block {
			min-height: 480px;
			padding-bottom: 5px !important;

			&:nth-child(6) {
				margin-left: 0;
			}
			.img-block {
				width: 110%;
				margin: -5px -5% $global-baseline/2;
			}
		}
	}
}

.sign-up {
	width: $col-4;
	float: right;
	text-align: center;

	input[type="checkbox"] + label:hover {
		color: $white !important;
	}
	
	form {	
		@extend .sprout;

		h3 {
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,.3);
		}
	}
}