@import "_variables";
@import "_mixins";

// Idea activity feed.
#demo-tab-forms {
	.form {
		display: none;
	}
	.form.visible {
		display: block;
	}

}

// Posting a demo

#demo-tab-links{
	text-align: center;
	margin: $global-baseline 0;
}