@import "_variables";
@import "_mixins";

#new-idea {
		
	#tag-display {
		margin: 0 0 2em;
		overflow: hidden;

		.tag {
			font-size: $global-font-size;
			cursor: pointer;
			margin-right: 0.5em;
			white-space: nowrap;

			&:after {
				content: "x";
				display: inline;
				color: $white;
				padding: 0 0.5em;
				margin: 0 -0.25em 0 0.5em;
			}

			&:hover {
				background-color: $gray;

				&:after {
					background: $orange;
				}
			}
		}
	}
}