@import "_variables";
@import "_mixins";
@import "fonts";

.edit {
	padding: .5em;
	font-size: $global-font-size;
	background: rgba(255,255,255,0.85);
	display: inline-block;
	border: 1px dotted $green;
	text-shadow: 1px 1px 1px $white;

	&:hover {
		background: $white;
	}
}

.add {
	border: 1px dashed $gray-lighter;
	padding: .25em 1em;
	text-align: center;

	&:hover {
		border-color: $orange;
	}
}

.billboard {
	.gameinfo {
		width: $col-10;
		float: left;
		text-align: left;
		background: #fff;
		@include corner(5px);
		overflow: hidden;

		.splash {
			float: left;
			width: 60%;
			margin: 0;
			padding: 0;
			font-size: 0;
			max-width: none;
			max-height: none;

			&.editable {
				&:hover {
					border: 1px dashed $gray;

					& + .edit {
						display: block;
					}
				}
			}
		}

		.title {
			text-transform: none;
			margin-bottom: 5px;
		}
		.details {
			float: left;
			max-width: 40%;
			padding: $global-baseline/2 1em;
		}
		.byline {
			font-size: $global-font-size;
			margin-bottom: $global-baseline/2;
		}
		.sharebtns {
			display: inline-block;

			a {
				width: 18px;
				height: 18px;
			}
		}
		#btn_follow {
			margin-top: $global-baseline/2;
			float: right;
		}
	}
}

.editable {

	.splash {
		position: relative;

		img {
			width: 100%;
		}

		.edit {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.details {
		position: relative;

		.edit {
			display: block;
			margin-top: 1em;
		}
	}
}

.stats {
	background-color: #fff;
	float: right;
	width: $col-2;
	padding: $global-baseline/2;
	text-align: center;
	@include corner(5px);

	h3.playercount {
		font-size: 400%;
		color: $green;
		margin-bottom: $global-baseline/4;
		line-height: 1;
	}
	p {
		margin-bottom: $global-baseline/2;
	}

	.survey {
		padding: 10px $global-baseline/2 0;
		margin: 0px $global-baseline*-0.5;
		border-top: 3px solid $gray-lighter;

		.btn {
			&.changeMind {

			}

			.icon.thumbsUp {
				display: inline-block;
				background: url(/assets/yeah-btn.png) 0 0 no-repeat;
				background-size: 100% auto;
				width:15px;
				height: 20px;
				margin: 0 .25em 0 -7px;
				vertical-align: middle;
			}
		}
	}
}

#idea {
	padding-bottom: 0;

	.blurb {
		width:440px;
		float:left;
		color:#000;
		margin: 20px 185px 40px 40px;

		h3 {
			font-size: 300%;
			margin: 0 0 .25em;
		}
		h4 {
			font-size: 150%;
		}

		& + img {
			float:left;
			margin: 20px 40px;
		}
	}

	&.new {
		padding-bottom: 0;
	}
	.tabs {
		margin: -20px -4% 20px;
		padding: 0 3%;
		width: 108%;
		background: $gray-lighter;
		float: left;
		border-bottom: 1px solid $green-light;
		font-size: $nav-font-size;

		li {
			@include corner(5px 5px 0 0);
			border-top-width: 1px;
			margin-bottom: -1px;
			margin-right: 0.5em;
		}
	}
	article {
		width: $col-9;
		float: left;

		&.design-doc {
			width: $col-7;
		}
	}
	.sidebar.wide {
		width: $col-5;
	}
	.help-out {
		display: none;
	}
}

.featured-demo {
	margin: $global-baseline/2 0 $global-baseline;
}


.thumbnails {
	margin: 0 -3px;
	overflow: hidden;
}
.thumb {
	position: relative;
	width: 50%;
	float: left;
	overflow: hidden;

	.gallery-img {
		display: block;
		max-width: 100%;
		width: auto;
		height: 75px;
		line-height: 75px;
		background-position: 50% 50%;
		background-size: 125%;
		border: 3px solid $white;

		&:hover {
			border-color: $orange;
		}
	}

	.icon-remove {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30px;
		height: 30px;
		border: 5px solid $white;
		background-color: $white;
		display: none;
	}

	&:hover .icon-remove {
		display: block;

		&:hover {
			background-position-y: 66.6667%;
			border-color: $orange;
		}
	}

	&.add {
		padding: 10px;
		height: 75px;
		text-align: center;
		border: none;


		a {
			width: 90%;
			height: auto;
			display: inline-block;
			line-height: 55px;
			text-align: center;
			padding: 0;
			@extend .add;

			&:hover {
				border-color: $orange;
			}
		}
	}		
}

.design-details {
	overflow: hidden;

	.cmds {

		li {
			width: 50%;
			float: left;
			margin: .25em 0;
			text-indent: -1em;
			padding-left: 1em;

			.item { //given a class to differentiate it from the remove link
				margin-left: 1em;
				display: inline;
			}

			&:before {
				content:"";
				display: block;
				position: absolute;
				background: $global-font-color;
				width: 4px;
				height: 4px;
				margin-top: .6em;
				margin-left: -1em;
				@include corner(8px);
			}

			&:hover .remove {
				display: inline;
				margin-left: .5em;
			}
		}
		.controls {
			display: inline;
			text-transform: uppercase;
			font-size: 80%;
			font-weight: bold;
		}
	}

	.add {
		width: 50%;
		float: left;
		margin: .25em 0;
		display: block;
	}
}

.demos {
	.thumb {
		width: 100%;
		max-height: 180px;
		margin-bottom: $global-baseline/2;
		float: none;
	}

	.add {
		display: block;
	}
}

// Idea Owner Controls
.ownerctrl  {
	clear: both;
	float: left;
	width: 106%;
	margin-left: -3%;
	padding: $global-baseline/2 3.125%;
	background: #ccc;
	display: block;
	margin-top: $global-baseline/2;
	overflow: hidden;
	@include shadow(inset 0, 4px, 10px, #aaa);

	.btn {
		margin: 0 .5em;
	}

	.title {
		display: inline-block;
	}
}