@import "_variables";
@import "_mixins";
@import "buttons";


//login pages

main.login {
	input[type="submit"].narrow {
		@extend .big;
		float: right;
	}	

	.forgot {
		float: right;
		margin: 0.5em 1.5em;
	}
}