@import "_variables";
@import "_mixins";

.login {
	z-index: 9999;

	.dropdown {
		display: none;

		.drop-trigger {
			text-align: right;
			display: block;
			cursor: pointer;
			font-size: $nav-font-size;
		}

		.cmds {
			display: none;
			position: absolute;
			text-align: center;
			top: 100%;
			right: -10px;
			width: auto;
			background-color:#fff;
			padding: 10px;
			border: 1px solid $gray-light;
			@include corner(5px);
			@include shadow(0px, 3px, 7px, rgba(0, 0, 0, 0.25));
		}

		.btn {
			white-space: nowrap;
		}

		&.active {
			display: block;

			&.on {
				background-color: #fff;
				position: relative;

				.cmds {
					display: block;
				}
			}
		}
		h2 {
			margin: $global-baseline 0 $global-baseline/4;
		}
	}
	.arr-down {
		@include arrow(bottom, $gray-light, 5px);
		@include inline-middle;
		margin: .5em 5px;
	}
	.arr-up {
		@include arrow(top, $green, 5px);
		@include inline-middle;
		margin: .5em 5px;
	}
}

.or {
	@include ir(100%, 10px, "/assets/or-1.png", 50% 50%, no-repeat, auto 100%, block);
	margin: 10px 0;

	&.big {
		height: 15px;
	}
}