@import "_variables";

.mention_helper {
	position: absolute;
	border: 1px solid gray;
	width: 200px;
	max-height: 400px;
	min-height: 20px;
	background-color: white;
	z-index: 99999;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			list-style: none;
			padding-left: 0.5em;
		}

		li.selected, li:hover {
			background-color: $emerald;
			color: white;
		}
	}
}