@import "_variables";

// Styling for Admin News Management
#news-news_item-index {
	h1{
		margin: 20px 40px;
		float:left;
	}

}


#admin-actions {
	float:left;
	clear:left;
	margin-left: 5px;
}

.news-news_item {
	border: 1px solid #ddd;
	width:50%;
	padding:20px;
	margin: 5px auto;

	.title-small
	{
		font-size:14pt;
		padding-bottom: 5px;
	}
}