@import "_variables";
@import "_mixins";

.news-ticker
{
	width:100%;
	height:332px;
	float:right;
	background-color:#fff;

	.news-image
	{
		background-color:$green-light;
		height:80%
	}

	.news-footer
	{
		background-color:$green-dark;
		height:20%;
		vertical-align:bottom;

		color:#fff;

		position:relative;

		padding-left:10px;

		.news-story:not(.first) {
			display: none;
		}
		
		.news-story
		{
			float:left;

			.news-name
			{
				padding-top:5px;
				font-size:20px;
				font-weight:bold;
			}

			.news-blurb
			{
				padding-top:5px;
			}

			.news-link
			{
				position:absolute;	
				bottom:5px;
				font-weight:bold;									
			}
		}

		#news-pager
		{
			float:right;
			background-color:$green;
			width:40%;
			height:100%;

			color:#fff;
			text-align:center;

			font-weight:bold;
			font-size:24px;

			display:inline-block;
			vertical-align:middle;
			line-height:66px;

			a, a:hover, a:visited
			{
				width:20px;
				float:left;
				color: white;
				text-decoration: none;
			}
			a.activeSlide {
				background-repeat: no-repeat;
				background-position: 2px 0;
				background-image: url(/assets/arrow-up.png);
			}

			:first-child {
				margin-left: 20px;
			}
		}
	}
}

.carousel {
	overflow: hidden;
	width: 442px;
	height: 322px;
	float: right;

	.slide {
		position: relative;

		.details {
			position: absolute;
			left:0;
			right:0;
			bottom: 0;
			background: rgba(255,255,255,.8);
			padding: 10px;
			overflow: hidden;

			.meta {
				float:left;

				.title {
					color: $green;
					font-size: 175%;
					margin:0 0 .15em;
				}

				.date {
					clear:left;
					color:gray-dark;
					font-size: 85%;
				}
			}

			.btn {
				float:right;
				font-weight: bold;
				text-decoration: none;
				font-size: 150%;
			}
		}
	}
}

.track {
	float: right;
	width: 442px;
	height: 30px;
	text-align: center;
	background: $green;
	
	.marker {
		display: table;
		margin: 3px auto;

		li {
			display: table-cell;
			width: 20px;
			height: 20px;
			padding: 0 5px 0 0;

			a {
				display: block;
				width: 20px;
				height: 20px;
				@include corner(20px);
				background: $green;
				border: 2px solid #000;
			}
		}
	}
}