@import "_variables";

.centered-row {
	margin: 0 auto;
	text-align:center;
}

.quicklink-box {
	width: 180px;
	height: 250px;
	background: $idea-card-light-gray;
	display: inline-block;
	margin: 5px;
	vertical-align: top;

	.image {
		img
		{
			width:180px;
		}
	}

	.desc {
		padding: 20px 20px 20px 20px;
		text-align: center;

		.title {
			font-size: 140%;
			font-weight: bold;
		}

		.short {
			padding-top: 20px;

		}

	}
}

#goal{
	margin-top: 20px;
	width: $col-6;

	.title {
		color: $orange;
	}
}

#faq {
	padding-top: 40px;//accommodates for fixed nav

	.bookmark {
		padding-top: 100px;
		margin-top: -100px;
		//accommodates for fixed nav when archoring to a bookmark
	}

	section {
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid $gray;
		-moz-column-count: 3;
		-moz-column-gap: 2em;
		-webkit-column-count: 3;
		-webkit-column-gap: 2em;

		.faq {
			-moz-column-break-inside: avoid;
			-webkit-column-break-inside: avoid;
		}
	}

	nav {
		position: fixed;
		top: 60px;
		width: 85%;
		left: 7.5%;
		background: $white;
		line-height: 3em;

		a {
			display: inline-block;
			padding-left: 0.75em;
			margin-left: 0.75em;

			& + a {
				border-left: 1px solid $gray;
			}
		}
	}
}