@import "_variables";
@import "_mixins";
@import "accessories";

.post {
	width: 100%;
	overflow: hidden;			
	margin-top: $global-baseline;
	padding-top: 6px;
	position: relative;

	.removed {
		color: $gray;
		font-size: $global-font-size;
		font-style: italic;
		font-weight: normal;
		@include inline-middle;
		margin-bottom: 0;
	}

	.post-gutter{
		position: absolute;
		top: 6px;
		left: 0;
		text-align: center;
		width: $post-gutter-width;

		.avatar {
			width: $post-gutter-width;
			height: $post-gutter-width;
		}

		.post-icon {
			display: inline-block;
			vertical-align: middle;
			margin: 10px 0;
			width: 30px;
			height: 30px;
			max-width: 100%;
			background: url(/assets/sketch-icon-sprite.png) 0 0 no-repeat;
			background-repeat: no-repeat;
			background-size: 700% auto;

			&.art{
				background-position: 0 0;
			}
			&.audio{
				background-position: 16.6667% 0;
			}
			&.demo{
				background-position: 33.3334% 0;
			}
			&.design{
				background-position: 50.0001% 0;
			}
			&.discussion{
				background-position: 66.6668% 0;
			}
			&.news{
				background-position: 83.3335% 0;
			}
			&.poll{
				background-position: 100% 0;
			}
		}
	}	

	.post-info {
		border-left: 2px solid $green-light;
		position:relative;
		padding-left: 1em;
		margin-left: $post-gutter-width;
		overflow: hidden;

		&:before {
			content: "";
			display: block;
			width: 10px;
			height: 6px;
			background: url(/assets/border-sprout.png) 0 0  repeat-y;
			position: absolute;
			top: -6px;
			left: -6px;
		}

		.meta {
			.avatar {
				display: none;
			}
		}
	}
	.thumbnails {
		background: $gray-lighter;
		padding: 10px;
	}
	.thumb {
		max-height: none;
		max-width: 32.7%;
		width: auto;
		float: none;
		@include inline-middle;
	}
	.details {
		margin-top: $global-baseline;
	}
}

.post-controls {
	a {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		margin-top: $global-baseline/2;
		& + a:before {
			content: "|";
			display: inline-block;
			color: $gray;
			padding-right: 0.25em;
		}
	}
}

.viewmore {
	display: block;
	width:10em;
	background: $gray-lighter;
	margin: -$global-baseline 0 $global-baseline/2;
	color: $gray-dark !important;
	text-align: center;
	font-size: .85em;
	cursor: pointer;
	@include corner(0 0 5px 5px);
}

.meta {
	color: $gray;
	margin-bottom: $global-baseline/2;
}

// for discussion posts
.discussion {
	.title {
		margin-bottom: 0;
		display: inline;
		font-weight: bold;
	}
}

// for news posts
.news-item {
	@extend .post-info;
	.title {
		font-weight: bold;
		margin-bottom: 0;
	}
}

// for demo posts

.demo {
	.screencap + .group {
		width: 47%;
		float: right;
	}

}

// for poll posts
.poll {
	.polllist {
		width: 100%;

		li {
			position: relative;
			display: block;
			border: 1px solid $gray-lighter;
			padding: 0 1em;
			margin-bottom: 1px;
			padding-bottom: 1px;
			@include corner(5px);
			overflow: hidden;

			.option {
				font-size: $global-font-size;
				margin: 0;
				line-height:2em;
				position: relative;
				z-index: 2;
				text-shadow: 0 0 1em $white;

				a {
					position: relative;
					padding-right: 3.5em;
				
					&:hover:after {
						content: "Vote!";
						display: inline-block;
						@extend .badge;
						@extend .badge.small;
						@extend .badge.orange;
						text-shadow: none;
						text-align: center;
						position: absolute;
						right: 0;
						top: 0.25em;
						width: 4em;
					}
				}
			}
		}

		.count {
			float: right;
			text-align: right;
		}

		.index {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: $green;
			border-top: 1em solid $green-light;
			text-indent: -9999px;
			overflow: hidden;
			opacity: .75;
		}
	}
}
	

