@import "_variables";
@import "_mixins";

#about-reputation {
	table {
		margin-bottom: 16px;
		border: 1px solid gray;

		tr {
			border: 1px solid gray;

			td {
				border: 1px solid gray;
				text-align: center;
			}

			td.property {
				min-width: 200px;
				text-align: left;
			}
		}
	}
}