@import "_variables";
@import "_mixins";

html, body {
	text-align:left; 
	margin: 0px auto;
	padding: 0px; 
	background: $body-bg;
	font-family: $global-font;
	height: 100%;
	width: 100%;
	min-width: 960px;
	max-width: 1335px
}

#wrapper {
	width: $site-width;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 80px 3.125% 0;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #ccc;
	-moz-box-shadow: 0px 0px 20px #ccc;
	-webkit-box-shadow: 0px 0px 20px #ccc;

}

.row {
	clear: both;
	width: 100%;
}

.two-up {
	width: 49%;
	float: left;
}
.three-up {
	width: 32%;
	float: left;
}
.four-up {
	width: 23.5%;
	float: left;
}
.two-up + .two-up,
.three-up + .three-up,
.four-up + .four-up   {
	margin-left: $inner-gutter;
}

main {
	margin: 0 auto;

	&.content {
		width: $col-10;
	}
	&.login {
		width: $col-6;
		text-align: center;
		float: none;
	}
	&.full {
		width: 108%;
		margin: -$global-baseline -4% $global-baseline;
	}
	&#contact {
		width: $col-6;
	}
	&#browse {
		overflow: hidden;
	}
}

#idea article.activity-feed {
	float: none;
	margin: 0 auto;
	clear: both;
	
	.idea-link {
		display: none;
	}
}

.content {
	width: $col-10;
	margin: 0 auto;
}

/* Sidebar Content */
.sidebar {
	width: $col-3;
	float: right;

	&.fixed {
		position: fixed;
		right: 10.7%;
		width: 18.35%;
	}

	section {
		margin-bottom: $global-baseline;
	}
}


.billboard {
	background-color: $gray-lighter;
	
	width:108%;
	overflow:hidden;
	margin: -20px -4% 20px;
	padding: $global-baseline 3.125%;
	text-align: center;

	.splash {
		max-width: 25%; 
		margin-left: 5%;
		max-height: 130px;
		@include inline-middle;
	}

	.blurb {
		@include inline-middle;
		width: 37em; 
		text-align: left;
	}
}	

