@import "_variables";
@import "_mixins";

#splash-page
{
	min-height:900px;

	.sp-green-text
	{
		color:$green;
	}

	.sp-left-col
	{
		width:65%;
		height:100%;
		//position:relative;
		float:left;

		.sp-welcome
		{
			height:10%;
			//font-size:4em;
			text-align:center;
			padding:30px;

			.sp-header-big-text
			{
				font-size:4em;					
				margin-bottom: 30px;
				margin-top:10px;
				font-weight:bold;
				//margin-bottom:0px;
			}
			.sp-header-small-text
			{
				font-size:1.8em;
				margin-top:20px;
				margin-bottom: 20px;
			}
			.sp-header-smaller-text
			{
				font-size:1.5em;
				margin-top:20px;
				margin-bottom: 20px;
				line-height:1.2em;
			}
		}

		.sp-about
		{
			height:80%;
		}

		.sp-centered-row 
		{
			margin: 0 auto;
			margin-bottom: 10px;
			text-align:center;
			width:95%;
			height:200px;
			position:relative;
			//background-color: $idea-card-light-gray;
			//border: 2px solid $green;

			.sp-image
			{
				//width:150px;
				height:190px;
				//background: #111;
				display: inline-block;
				//margin: 0px 10px 10px 10px;
				vertical-align: top;
				position:relative;
				top:-20px;

				&.left
				{
					float:left;
					margin-left:10px;
				}

				&.right
				{
					float:right;
					//margin-right:25px;
				}
			}

			.sp-desc-container
			{
				height:100%;
				width:55%;
				position:relative;
				//top:5%;
				//background:#ddd;

				&.left
				{
					float:left;
				}

				&.right
				{
					float:right;
					margin-right:5px;
				}

				.sp-desc-title
				{
					font-size:2.5em;
					font-weight:bold;
					//padding:10px 0px;
					margin-top:30px;

					&.left
					{
						text-align:left;
						padding-left:15px;
					}

					&.right
					{
						text-align:right;
						padding-right:15px;
					}
				}

				.sp-desc-text
				{
					padding:0 20px;
					text-align:left;
				}
			}
		}
	}

	.sp-right-col
	{
		width:34%;
		height:100%;
		float:right;
		//background-color:$green;
		border-left:2px solid #94ce74;
		position:relative;
		top:10px;

		.sp-sprout
		{
			width: 10px;
			height: 6px;
			position: relative;
			background:transparent image-url('/assets/border-sprout.png') left top no-repeat;
			left: -6px;
			top: -6px;
		}

		.sp-signup
		{
			//padding:5px;

			.sp-form-container
			{
				padding:10px 15px;
				background-color:WHITE;
				height:860px;

				.sp-signup-header
				{
					font-size:3em;
					font-weight:bold;
					text-align:center;
					margin-top:20px;
					margin-bottom: 30px;
					//margin-bottom:0px;
					padding:5px;
				}

				.sp-signup-form
				{
					h2
					{
						text-align:center;
					}

					#signup
					{
						//background-color:WHITE;
						//padding:5px;
					}
				}

				.sp-divider
				{
					text-align:center;
					margin-top: 30px;
					margin-bottom:10px;
					font-size:1.2em;
				}

				.sp-signup-facebook
				{
					.btn, input, .sep 
					{
						font-size: .85em;
						display: block;
						width: 95%;
						margin: 10px auto;
						text-decoration: none;

						&.btn-fb
						{
							background-color: $fb-color;
							width:95%;
							padding:5px;
							text-align:center;
							font-weight: bold;
							color: #fff;
							font-size: 2em;
							@include corner(5px);
							&:hover
							{
								background-color: $fb-color-hilight;
							}
						}
					}
				}

				.sp-signup-image
				{
					text-align:center;

					img
					{
						height:180px;
					}
				}
			}
		}
		
	}
}