@import "_variables";

html, body {
	font-family: $global-font;
	font-size: $global-font-size;
	color: $global-font-color;
	line-height: 1.5;
}

p {
	margin: 0 0 $global-baseline 0;
}
.intro {
	font-size: 16px;

}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	margin: 0 0 $global-baseline;
	word-wrap: break-word;
	line-height: 1.1;
}

h1, .h1 {
	color: $orange;
	font-size: 3.5em;
	font-family: $display-font;
	text-transform: lowercase;
}

h2, .h2 {
	font-size: 2.8em;

	&.sidebar {
		margin-top: 10px;	
	}
}

h3, .h3 {
	font-size: 2em;
	font-weight: normal;
}

h4, .h4 {
	font-size: 1.5em;

	&.title {
		font-size:150%;
	}
}

h5, .h5, h6, .h6 {
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: $global-baseline/2;
}

ul, ol {
	padding: 0px;
	margin: 0 0 0 1.5em;

	&.unstyled {
		margin-left: 0;
		list-style: none;
		li {
			padding: 0;
		}
	}
}

li {
	padding-bottom: 3px;
}

aside {
	font-size: $global-font-size;
	font-style: italic;
	margin-bottom: 0.5em;
	font-size: 11px;
}

/*links*/

a, a:visited {
	color: $green;
	text-decoration: none;
	cursor: pointer;

	&.orange-link {
		color: $orange;

		&:hover {
			color: $orange-dark;	
		}

		&.reverse {
			color: $orange-highlight;
			text-shadow: 1px 1px 1px $emerald;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.gray-link {
		color: $gray;

		&:hover {
			color: $gray-darker;
		}
	}
}
a:hover {
	color: $orange;
	text-decoration: none;
}

.section-header {
	border-bottom: 2px solid;
	padding-bottom: .25em;
}


