@import "_variables";
@import "_mixins";
@import "accessories";

.account {
	.sidebar {
		text-align: center;
	}

	.settings {
		width: $col-9;
		float: left;
	}

	.profile {
		@extend .settings;

		.avatar {
			float: left;
			width: 40%;
			height: auto;
			margin-right: $global-baseline;
			margin-bottom: $global-baseline;
		}
	}

	.field.final {
		margin-top:40px;
	}

}

nav.account {
	margin-bottom: $global-baseline;
	li {
		a {
			@extend .secondary-nav;
			width: 100%;
			display: block;
			padding: 0;

			&:hover {
				@extend .secondary-nav:hover;
			}
		}

		&.selected {
			a {
				@extend .secondary-nav.selected;
				@include corner(0 5px 5px 0);
			
				&:after {
					@extend .secondary-nav.selected:after;
					left: 0;
					top: 0;
					border: 0 none;
					@include arrow(left, $orange, 13px);
				}
			}
		}
	}
}