@import "_variables";

/* Public facing user profile stylesheet. */

.profile {

	.contact-details {
		margin-bottom: $global-baseline;

    .location:before {
      content: "Location: ";
      font-weight: bold;
      display: inline;
    }
    .twitter-handle:before {
      @extend .location:before;
      content: "Twitter Handle: "
    }
    .email:before {
      @extend .location:before;
      content: "Email: ";
    }
	}
}
.account {
  .grid {
    width: 100%;
    margin-bottom: $global-baseline;
  }
}
