- if @design_doc.errors.any?
  = render :partial => "shared/errors", :locals => {doc: @design_doc}

.dd-form
  = form_for [@idea, @design_doc] do |f|
    .field
      = f.label :title, "Title:"
      .instructions What is this Design Detail about?
      = f.text_field :title, :maxlength => 40
    .field
      = f.label :body, "Content:"
      = f.text_area :body, {:maxlength => 20000, :rows => 10, class: 'tinymce'}
    
    = f.submit 'Save', class: 'btn'
    = link_to "Cancel", design_document_idea_path(@idea), class: 'btn', :style => "display: inline-block;"
