= title "#{@idea.title} - GameSprout Idea"
%main.content#design-detail
  .dd-demo-header
    %a.idea-link{title: @idea.title, href: design_document_idea_path(@idea)}
      %span{:style => "background-image: url(#{@idea.details.banner_image.nil? ? "/assets/default-idea.png" : @idea.details.banner_image});"}
      #{@idea.title}

    %h1.h3.title 
      Edit Design Detail
      - if user_owns_idea?
        .dd-controls
          = link_to "Delete", idea_design_doc_path(@idea, @design_doc), :method => :delete, :confirm => "Are you sure you?"

  = render :partial => 'form'
