= title "#{@idea.title} - GameSprout Idea"
%main.content#design-detail
  .dd-demo-header
    %a.idea-link{title: @idea.title, href: design_document_idea_path(@idea)}
      %span{:style => "background-image: url(#{@idea.details.banner_image.nil? ? "/assets/default-idea.png" : @idea.details.banner_image});"}
      #{@idea.title}

    %h1.h3.title Create New Design Detail

  = render :partial => 'form'