%ul.committed-users
  - goal.commitments.each do |commit|
    %li
      %a{href: user_path(commit.user.username)}
        %img{src: commit.user.avatar, width: 20, height: 20}
        = commit.user.username

      committed to working on this goal on #{get_formatted_date commit.created_at} at #{commit.created_at.strftime("%I:%M%p").downcase}.

      - if commit.still_working_count > 0
        .still-working 
          Still working as of #{get_formatted_date commit.still_working_on, :include_date => true}. 
          The is the user's #{commit.still_working_count.ordinalize} time renewing this commitment.