%h2.float-left
  - case post.type
  - when 'discussion'
    Discussion
  - when 'poll'
    Poll
  - when 'art_collection'
    Art Collection
  - when 'prototype'
    Demo
  in #{link_to idea.title, idea, :class => 'user'}
%span.activityDate.float-right= post.created_at.strftime("%B %d, %Y")
/%span.activityDate.float-right{:style => "clear:right;"}= post.created_at.strftime("%l:%M %p")
%p.vertAlign.clearLeft
  by
  #{link_to image_tag(post.user.avatar? ? post.user.avatar : "/assets/default-avatar.png", :height => "30", :width => "30", :class => "vertAlign"), post.user}
  - if user_owns_idea?(idea, post.user)
    %span.personTag.ownerTag Owner
  - elsif post.user.admin?
    %span.personTag.staffTag Staff
  #{link_to post.user.username, post.user, :class => 'user'}