- if post.is_art_collection?
  An art collection
- elsif post.is_prototype?
  A demo
- elsif post.is_video?
  A video
- else
  A #{post.type}

was removed by

- if post.removed_by == post.idea.owner
  the idea owner.
- elsif post.removed_by == post.user
  the original poster.
- elsif post.removed_by.admin?
  an admin.