- if post.is_poll?
  Poll
- elsif post.is_art_collection?
  Art Collection
- elsif post.is_prototype_or_video?
  Demo
  
submitted
= render :partial => "ideas_collection/byline", :locals => {user: post.user}
- if post.user.is_jesse_schell?
  %span.badge.orange Jesse Schell
- elsif user_owns_idea?(post.idea, post.user)
  %span.badge.green Owner
- elsif post.user.admin?
  %span.badge.orange Staff

%span.postdate
  &nbsp;|&nbsp;
  = link_to post_date(post.created_at), post


  
