#download-container
  #download-img= link_to image_tag('/assets/download-large.png'), @prototype.url, :alt => "Download this prototype"
  #download-text
    %a{href: @prototype.url} Download Demo
    %a{href: @prototype.url}= @prototype.url.split('/').last
