%p.meta
  = render :partial => 'ideas/show/did_what', :locals => {idea: @idea, post: post}
  -if(post.comments.count > 0) 
    &nbsp;&nbsp;
    %span.total-activity= post.comments.count
.thumbnails
  - post.image_links.each do |link|
    %a{:href => link.url, :rel => "lightbox" + post.id.to_s, :title => link.description.nil? ? "" : link.description}
      %img.thumb{:src => link.url}
.details
  = content post.summary