.poll
  %h4.title.close= post.title  
  %p.meta
    = render :partial => 'ideas/show/did_what', :locals => {idea: post.idea, post: post}
    &nbsp;|&nbsp;in
    = link_to post.idea.title, idea_path(post.idea), :class => 'idea-link'
    -if(post.comments.count > 0) 
      &nbsp;|&nbsp;
      %span.total-activity= post.comments.count
  %ul.unstyled.polllist
    - if user_signed_in? && post.user_has_voted?(current_user)
      - post.poll_options.each do |option|
        %li
          %h4.option{:"data-resize-down-to" => 40}
            = option.text
            %span.count= option.vote_count
          
          - percent = number_to_percentage(option.vote_percent, :precision => 0)
          %span.index{:style => "width: #{percent}"} #{percent}
    
    - else
      - post.poll_options.each do |option|
        %li
          %h4.option{:"data-resize-down-to" => 40}
            = link_to option.text, vote_post_path(post), :data => {:poll_vote => option.id.to_s}
