%p 
  Helping out is easy! Just create whatever the goal asks for and then post it using one of the fields at the top of the activity feed.

%p
  The owner will be notified of a new post, and if they're happy with it, they'll mark the goal resolved.