%ul#goals.fancychecks
  - goals = (params[:filter_for] && !params[:filter_for].strip.empty?) ? idea.goals.all(:what_kind => params[:filter_for]) : idea.goals.all
  - goals.each do |goal|
    %li{:class => ('completed' if goal.completed?), :id => goal.id}
      %b
        #{goal.what_kind.to_s.upcase}:
        = goal.summary
      %ul.unstyled.controls 
        %li
          = link_to 'Show Details', '#', :"data-expander-target-id" => goal.id, :"data-expanded-text" => "Hide Details"
        - if !goal.completed?
          %li
            = link_to 'Help Out!', idea_path(goal.idea, :anchor => 'idea'), :class => "help-out"

        - unless defined?(hide_controls) && hide_controls
          - if user_owns_idea?
            %li
              = link_to 'Edit', edit_idea_goal_path(@idea, goal)
            %li
              = link_to 'Remove', idea_goal_path(@idea, goal), :method => :delete, :confirm => 'Are you sure you want to remove this goal?'

          - if goal.completed?
            %li
              = link_to 'View resolving post', "##{goal.completed_by_post.id}"
      %p.description{"data-expander-id" => goal.id}= goal.details
