.discussion
  %a{:href => user_path(post.user.username)}
    %p.title
      = post.user.username
  %span.meta
    &nbsp;|&nbsp;
    = link_to post_date(post.created_at), post
    %span.idea-link
      &nbsp;|&nbsp;in
      = link_to post.idea.title, idea_path(post.idea)
    -if(post.comments.count > 0) 
      &nbsp;|&nbsp;
      %span.total-activity= post.comments.count
  %p= content text_with_mention_links(post.text, post)