%section.sidebar
  %section#filters-for-show
    %h5.section-header Filter By:
    %ul.boxed.unstyled
      %li
        %input#cb_discuss{:type => "checkbox", :checked => true, 'data-hide-model' => 'Discussion'}
        %label{:for => "cb_discuss"}
          %span Discussions
      %li
        %input#cb_polls{:type => "checkbox", :checked => true, 'data-hide-model' => 'Poll'}
        %label{:for => "cb_polls"}
          %span Polls
      %li
        %input#cb_art{:type => "checkbox", :checked => true, 'data-hide-model' => 'ArtCollection'}
        %label{:for => "cb_art"}
          %span Art
      %li
        %input#cb_demos{:type => "checkbox", :checked => true, 'data-hide-model' => 'Prototype'}
        %label{:for => "cb_demos"}
          %span Demos
      %li
        %input#cb_staff{:type => "checkbox", :checked => true, 'data-hide-special' => 'Staff'}
        %label{:for => "cb_staff"}
          %span Staff
      %li
        %button#filters-show-all.btn.narrow Show All

  / .section.jump
  /   %h5.section-header Jump To
  /   %ul.singlepointer
  /     %li.current Iteration 2 (Current)
  /     %li Iteration 1