.post{id: post.id, 'data-model' => post.model_name, 'data-special' => ('Staff' if by_staff?(@idea, post))} 
  - if post.removed?
    %h4.post-head.removed
      = render :partial => 'ideas/show/did_what_removed', :locals => {post: post}
  - else
    .post-gutter
      %img.avatar{:src => post.user.avatar? ? post.user.avatar : "/assets/default-avatar.png"}
      .post-icon{:class => get_feed_icon(post)}  
    .post-info 
      - if post.is_prototype_or_video?
        = render :partial => "ideas/show/post_type_prototype", :locals => {idea: @idea, post: post}
      - else
        = render :partial => "ideas/show/post_type_" + post.type, :locals => {idea: @idea, post: post}

      .post-controls
        - if user_can_edit_post?(post)
          - if post.will_upload_files
            = link_to 'upload file', upload_files_post_path(post)

          = link_to 'edit', edit_post_path(post)

        - if user_can_delete_post?(post)
          = link_to 'delete', post_path(post), :method => :delete, :confirm => "Are you sure?"
          
        - if user_owns_idea? && @idea.goals.unresolved.any?
          = link_to 'resolve goal with this post', '', 'data-dialog-target-id' => "resolve_goal_with_post_#{post.id}"
          .resolve-goal{:id => "resolve_goal_with_post_#{post.id}", :title => 'Resolve a Goal!', 'data-dialog-size' => ''}
            = render :partial => 'ideas/show/resolve_goal', :locals => {post: post}

      - if(post.comments.count > 0 || user_signed_in?)
        = render :partial => 'shared/comments', :locals => {comments: post.comments, post: post, show_all_comments: (defined?(show_all_comments) && show_all_comments)}
