.demo.featured
  %h3.title.close.prototype= link_to post.title, post_path(post)

  %a.screencap{:href => post_path(post)}
    %img{:src => post.image.nil? || post.image.strip.empty? ? "/assets/default-demo.png" : post.image}

  .group
    %p.meta
      = render :partial => 'ideas/show/did_what', :locals => {idea: @idea, post: post}
      %span.idea-link
        &nbsp;|&nbsp;in
        = link_to post.idea.title, idea_path(post.idea)
      -if(post.comments.count > 0) 
        &nbsp;|&nbsp;
        %span.total-activity= post.comments.count
    
    %p= content text_with_mention_links(post.description, post)

    = link_to post.verb, post_path(post), :class => 'btn'
