= form_tag resolve_goal_path do
  = select_tag :goal_to_resolve, options_for_select(@idea.goals.unresolved.collect { |goal| [goal.summary, goal.id] }), :prompt => 'Select a goal to resolve...'
  %br
  %br
  = hidden_field_tag :post_id, post.id
  = submit_tag 'Resolve Goal'