.sharebtns
  %a.social-button.fbLike{:href => "#", :onclick => facebook_script, :title => "Share"}
    
  /%li.fbsend
  %a.social-button.twitter{:href => "#", :onclick => twitter_script, :title => "Tweet"}
  / %li.tweet
  /   %a.twitter-share-button{"data-count" => "none", "data-hashtags" => "gamesprout", :href => "https://twitter.com/share"}