.updates-frame
  %ul
    %li
      %a{:href => "#tabs-1"} Discuss Idea
    %li
      %a{:href => "#tabs-2"} Create Poll
    %li
      %a{:href => "#tabs-3"} Submit Art
    %li
      %a{:href => "#tabs-4"} Submit a Demo
  
  #tabs-1
    = render :partial => 'update_cover', :locals => {cover_class: 'discussion'}
    = render :partial => 'posts/discussions/form'

  #tabs-2
    = render :partial => 'update_cover', :locals => {cover_class: 'poll'}
    = render :partial => 'posts/polls/form'

  #tabs-3
    = render :partial => 'update_cover', :locals => {cover_class: 'art-collection'}
    = render :partial => 'posts/art_collections/form'

  #tabs-4
    = render :partial => 'update_cover', :locals => {cover_class: 'prototype'}
    = render :partial => 'posts/prototypes/container_form'