<%= title "Forgot Your Password? - GameSprout" %>

<div id="forgot-pass">
	<h2>Forgot your Password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.submit "Send me reset password instructions" %></div>
	<% end %>
</div>