- if comment.removed?
  %p.removed-comment
    - if comment.removed_by.nil?
      A comment was removed by an unknown user.
    - else
      A comment was removed by
      - if comment.removed_by == comment.user
        the original commenter.
      - elsif comment.removed_by == comment.post.idea.owner
        the idea owner.
      - elsif comment.removed_by.admin?
        an admin.
      - else
        [unknown].
- else
  %article.comment
    %a{:href => user_path(comment.user.username)}
      %img.avatar{:src => comment.user.avatar? ? comment.user.avatar : "/assets/default-avatar.png"}
    .comment-body{id: "comment-#{comment.id}"}
      %h4.comment-head
        %a.name{:href => user_path(comment.user.username)}
          = comment.user.username
          - unless comment.user.admin?
            (* #{comment.user.reputation})

        - if user_owns_idea?(comment.post.idea, comment.user)
          %span.badge.owner.small Owner
        - elsif comment.user.admin?
          %span.badge.orange.small Staff
        - elsif comment.user.is_jesse_schell?
          %span.badge.orange.small Jesse Schell

        &nbsp;|&nbsp;

        = comment.created_at.strftime("%B %e, %Y at %l:%M%P")

        - unless defined?(hide_controls) && hide_controls
          .controls
            - if comment.user == current_user || admin?
              &nbsp;|&nbsp;
              = link_to 'edit', edit_comment_path(comment)

            - if user_can_delete_comment?(comment)
              &nbsp;|&nbsp;
              = link_to 'delete', comment, :method => :delete, :confirm => 'Are you sure?'

      = comment_content text_with_mention_links(comment.text, comment)