.comment-container
  - if comments.any?
    - if comments.size > 3 && !(defined?(show_all_comments) && show_all_comments)
      %a.viewmore-comments.narrow{:'data-post-id' => post.id}
        Show Older Comments
        %span.plus +
      %img{style: 'display: none;', src: '/assets/ajax-loader.gif', id: "show-more-loader"}
    
    - comments = comments.all(:order => :created_at.asc)
    - comments = (defined?(show_all_comments) && show_all_comments) ? comments : comments.last(PostsController::SHOW_HOW_MANY_INITIAL_COMMENTS)
    = render :partial => 'shared/comment', :collection => comments, :locals => {:hide_controls => (defined?(hide_controls) && hide_controls)}

  - if user_signed_in?
    = render :partial => 'shared/new_comment', :locals => {post: post, comment: Comment.new}