- if doc.errors.any?
  - centered = defined?(centered) && centered
  #error_explanation{:class => ("centered" if centered)}
    %ul
      - doc.errors.full_messages.each do |msg|
        - unless msg == "Encrypted password can't be blank" # hacky fix for an uninformative devise error
          %li= msg