//Not sure why we need the extra expand/collapse functions.
//For now, I am using _comments.html.haml instead for feed posts
// -Andrea

// handles special height-based expand/contract for posts on the home feed
.expandCollapseBtn.expandBtn{:'data-feed-expand-target-id' => "post_comments_expand_#{post.id.to_s}", :'data-feed-expanded-class' => 'expanded'}

.postText.collapsedText{:'data-feed-expand-id' => "post_comments_expand_#{post.id.to_s}"}
  .commentCount.collapseComment{:'data-feed-expand-target-id' => "post_comments_expand_#{post.id.to_s}", :'data-feed-expanded-class' => 'expanded'}
    %span (#{comments.size}) #{"Comment".pluralize(comments.size)}

  - if comments.any?
    %p.pointer{:'data-feed-expand-target-id' => "post_comments_expand_#{post.id.to_s}", :'data-feed-expanded-class' => 'expanded', :'data-feed-expanded-text' => 'Hide Comments'}
      Read Comments
  - else
    %p.pointer{:'data-feed-expand-target-id' => "post_comments_expand_#{post.id.to_s}", :'data-feed-expanded-class' => 'expanded'} 
      Post New Comment

  .feed-comments
    - if comments.any?  
      - if comments.size > 3
        %a.viewmore-comments.pointer
          %p Show Older Comments
          

    = render :partial => 'shared/comment', :collection => comments.all(:order => [:created_at.asc]), :locals => {:hide_controls => (defined?(hide_controls) && hide_controls)}
    = render :partial => 'shared/new_comment', :locals => {url: new_comment_url, comment: Comment.new, post: post}