%footer
  %ul.unstyled
    %li
      %a.gray-link{:href => about_path} About GameSprout
    %li
      %a.gray-link{:href => faq_path} FAQs
    %li
      %a.gray-link{:href => terms_path} Terms of Use
    %li
      %a.gray-link{:href => Rails.configuration.press_kit_url} Download Press Kit
    %li
      %a.gray-link{:href => new_feedback_path} Contact Us
    %li
      %a.gray-link{:href => Rails.configuration.schell_games_url} Schell Games

  .social
    %a.social-button.fbLike{:href => Rails.configuration.facebook_url, :title => "Like GameSprout on Facebook"}
      Like GameSprout on Facebook
    
    %a.social-button.twitter{:href => Rails.configuration.twitter_url, :title => "Follow GameSprout on Twitter"}
      Follow GameSprout on Twitter

  %a.orange-link.report{:href => new_feedback_path(:feedback_type => :bug_report)} 
    Report a Bug
      

// This line allows the forum auto-sign-in/auto-sign-out to work. DO NOT REMOVE.
- if Rails.env.production? && @forum_sso_url
  %iframe#forum-login.hidden{:src => @forum_sso_url, :width => '1px', :height => '1px'}

- elsif Rails.env.development? && @forum_sso_url
  :javascript
    console.log('Forum sso url:');
    console.log('#{@forum_sso_url}');