%header
  = link_to image_tag("/assets/logo-horizontal.png"), :root, :class => 'headerLogo', :alt => "gamesprout beta"
  %nav
    %ul.unstyled
      %li
        %a{:href => browse_ideas_path}
          %span.icon-browse.green
          %span.icon-browse.white
          Browse
      %li
        %a{:href => play_ideas_path}
          %span.icon-play.green
          %span.icon-play.white
          Play
      %li
        %a{:href => new_idea_path}
          %span.icon-create.green
          %span.icon-create.white
          Create
      %li
        %a{:href => help_out_ideas_path}
          %span.icon-help-out.green
          %span.icon-help-out.white
          Help Out
      %li
        %a{:href => forum_path}
          %span.icon-forum.green
          %span.icon-forum.white
          Forums
      %li
        %a{:href => dev_center_path}
          %span.icon-resources.green
          %span.icon-resources.white
          Resources

  = render :partial => 'shared/user_session_nav'
