.idea-visit-track
  %h4.title= link_to idea.title, idea
  = "Total Vists: " + idea.visit_log.length.to_s
  %br
  - logged = idea.num_logged_in_vists()
  = "Logged-in Vists: " + logged.to_s + " (" + (logged.to_f / idea.visit_log.length.to_f * 100).round(2).to_s + "%)"
  %br
  = "Unique Logged-in Vistors: " + idea.num_unique_visits().to_s
  %br
  - pages = idea.visit_log_page_hash()
  - pages.each do |page|
    = page[0].to_s + " visits: " + page[1].to_s
    %br
  = "Checklist Used: " + is_task_used?(idea).to_s
