#header.borderBottom
  = link_to image_tag("/assets/logo-horizontal.png"), :root, :class => 'headerLogo', :alt => "gamesprout beta"
  = render :partial => 'shared/user_session_nav'
  #headerBtns
    %a{:href => browse_ideas_path}
      .topNavBtn.leftBtn
        /%span.browseIcon
        %p Browse
    %a{:href => play_ideas_path}
      .topNavBtn
        /%span.playIcon
        %p Play
    %a{:href => new_idea_path}
      .topNavBtn
        /%span.createIcon
        %p Create
    %a{:href => help_out_ideas_path}
      .topNavBtn
        /%span.involvedIcon
        %p Help Out
    %a{:href => forum_path}
      .topNavBtn
        /%span.involvedIcon
        %p Forums
    %a{:href => dev_center_path}
      .topNavBtn.rightBtn
        /%span.developerIcon
        %p Resources
