.new-comment-container
  .new-comment
    = form_for comment, :remote => (true unless defined?(async) && !async) do |f|
      = f.hidden_field :post_id, :value => post.id

      .field
        = f.text_area :text, :placeholder => "Comment on this post...", :'data-show-mention-ui' => true

      .field
        = f.submit "Submit Comment", class: "regularBtn narrow"
        %img{src: '/assets/ajax-loader.gif', class: 'ajax-loader', style: 'display: none;'}