.account-modal-container
  #account-modal-form.tall
    .account-modal-header
      %p
        Sign in to GameSprout
    .account-modal-login-options
      .account-modal-login-facebook
        %a.facebookBtn.narrow{:href => user_omniauth_authorize_path(:facebook)}
          %p 
            Sign in with Facebook
      .account-options-divider
      .account-modal-login-normal
        = render :partial => 'devise/shared/sign_in'
        %a.account-modal-forgot-pass{:href => new_password_path(:user)}
          Forgot Password?
    %a.account-modal-create-new{:href => new_user_registration_path}
      Need an Account? Sign Up Here.