%div{:style => 'display: none;', :'data-dialog-id' => "consent-dialog", :title => "Minor Consent Information"}
  %p 
    GameSprout allows individuals over the age of 13 and under the age of 18 (a “Minor User”) to use and participate in the GameSprout website with a parent’s or legal guardian’s written consent.
    %span{:style => 'text-decoration: underline;'}
      Individuals under the age of 13 are strictly prohibited from using GameSprout in accordance with the #{link_to 'Terms of Use', :terms}.

  %p 
    By entering your name in the space below, you certify that (i) you are the parent or legal guardian of a Minor User, and (ii) you, as parent or legal guardian of a Minor User, agree to be bound by the Terms of Use with respect the Minor User’s use of and participation in GameSprout.