.login
  .dropdown.active
    - if user_signed_in?
      %a.drop-trigger{:'data-resize-down-to' => 20}
        = current_user.username
        = "(admin)" if current_user.admin?
        %span.arr-down
      .cmds
        - if current_user.admin?
          %a.btn.narrow.fullWidth.stacked{:href => '/admin'}
            Admin

        %a.btn.narrow.fullWidth.stacked{:href => root_path}
          My Dashboard

        %a.btn.narrow.fullWidth.stacked{:href => my_profile_path}
          My Profile

        %a.btn.narrow.fullWidth.stacked{:href => edit_user_registration_path}
          Account Settings

        %a.btn.narrow.fullWidth.stacked{:href => files_path}
          Files

        %a.btn.narrow.red.fullWidth.stacked{:href => destroy_user_session_path, :'data-method' => :delete}
          Sign Out

    - else
      %a.drop-trigger
        Sign In
        %span.arr-down
      .cmds
        = form_for(User.new, :as => "user", :url => session_path("user")) do |f|
          = f.text_field :login, :placeholder => "Username or email", :size => "50"
          = f.password_field :password, :placeholder => "Password"
          = f.hidden_field :remember_me, :value => true
          = f.submit 'Sign In', :class => "btn narrow"
        
        %span.or -or-
        %a.btn.narrow.fullWidth.stacked.facebook{:href => user_omniauth_authorize_path(:facebook)}
          Sign in with Facebook
        %h2.h4
          Not a member yet?
        %a{:href => new_user_registration_path}
          Create an Account