.activity
	#{link_to activity.user.username, activity.user} 
	#{activity.get_readable_action} 
	#{link_to activity.get_subject_title, activity.get_subject_link if !activity.get_subject_title.nil?} 
	#{activity.get_readable_info} 
	(#{get_formatted_date(activity.get_date, :include_time => true)})