= form_for @art_collection do |f|
  = render :partial => 'posts/hidden-fields', :locals => {f: f, post: @art_collection}

  .field
    %label.heading Link one or more images:
    = f.fields_for :image_links do |ff|
      - 5.times.each do |i|
        .field
          = ff.label "image_link_#{i.to_s}", "Url #{(i + 1).to_s}", class: "label-option"
          = ff.text_field ("image_link_#{i.to_s}"), :value => @art_collection.image_links[i].nil? ? "" : @art_collection.image_links[i].url


  .field
    = f.label :summary, class: "label-summary"
    = f.text_area :summary, :'data-show-mention-ui' => true

  = f.submit (@art_collection.new? ? "Create Art Collection" : "Update Art Collection"), class: "btn"