%li.gameIdeaThmb
  %span.feedCountIco{:'data-idea-id' => idea.id}
  
  %a{:href => idea_path(idea)}
    %img{:src => idea.details.banner_image.nil? ? "/assets/default-idea.png" : idea.details.banner_image}
    - if idea.details.title.length > 32
      #{idea.details.title[0,31].rstrip}...
    
    - else
      #{idea.details.title}