%input#lastViewedDate{type: 'hidden', value: current_user.view_date}

%main#dashboard
  
  %section.user-info
    %img.avatar{:src => current_user.avatar? ? current_user.avatar : "/assets/default-avatar.png"}
    %h4
      = current_user.username
      - if current_user.admin?
        %span.badge.orange Staff

    %ul.unstyled.cmds
      - if current_user.admin?
        %li
          %a{:href => '/admin'}
            Admin
      %li
        %a{:href => my_profile_path}
          My Profile
      %li
        %a{:href => edit_user_registration_path}
          Account Settings
      %li
        %a{:href => destroy_user_session_path, :'data-method' => :delete}
          Sign Out

    %h1#feed-header
      //Content gets populated via js
      %span.header-text My Ideas
  
  .widget#feedButtonbar
    // Note: whichever button is set to activeFeedBtn will have its content loaded automatically
    %ul.unstyled.tabs
      
      %a{:href => "", :'data-feed-url' => 'news', :'data-selection' => "home_dash:news", :title => "The latest GameSprout news"}
        %li.feedBtn{:class => if_selected('home_dash', 'news', 'activeFeedBtn', :default => true)}
          %span.feedCountIco
          GameSprout News
      
      %a{:href => "", :'data-feed-url' => 'users_ideas', :'data-selection' => "home_dash:owned", :title => "Posts on ideas you currently own"}
        %li.feedBtn{:class => if_selected('home_dash', 'owned', 'activeFeedBtn')}
          %span.feedCountIco
          My Ideas
      
      %a{:href => "", :'data-feed-url' => 'posts_made_or_commented_on', :'data-selection' => "home_dash:conversations", :title => "Posts you made or commented on"}
        %li.feedBtn{:class => if_selected('home_dash', 'conversations', 'activeFeedBtn')}
          %span.feedCountIco
          My Conversations
        
      %a{:href => "", :'data-feed-url' => 'followed_ideas', :'data-selection' => "home_dash:following", :title => "Posts from ideas you follow"}
        %li.feedBtn{:class => if_selected('home_dash', 'following', 'activeFeedBtn')}
          %span.feedCountIco
          Ideas I'm Following

      %a{:href => "", :'data-feed-url' => 'mentions', :'data-selection' => "home_dash:mentions", :title => "Comments and News Items That Mention"}
        %li.feedBtn{:class => if_selected('home_dash', 'mentions', 'activeFeedBtn')}
          %span.feedCountIco
          Mentions

  %article#home-feed{:'data-async-scroll' => '/dashboard/more/', :'data-async-scroll-loader-element' => '#loading', :'data-async-qstring' => "?view_date=#{@current_user.view_date}"}

    #feed-content{:'data-async-scroll' => '/dashboard/more/', :'data-async-scroll-loader-element' => '#loading', :'data-async-qstring' => "?view_date=#{@current_user.view_date}"}
      // the #loading div is cloned and reused in the js -- you can put anything inside so long as the wrapping div remains unchanged.
      // Note that this is now used for both the first load of the feed (when selecting a tab), on on async scroll-paging of the feed.
      #loading.centered
        %img{src: '/assets/ajax-loader.gif'}
        Loading feed...


  %section.sidebar
    %article.summary
      %h5.section-header My Ideas
      %ul.unstyled#myIdeas
        - @my_ideas.each do |idea|
          = render :partial => "home/dashboard_idea_card", :locals => {idea: idea}
      
        %li#createNewIdea.gameIdeaThmb.new{:href => new_idea_path}
          %span.icon-create.green
          New Idea
          
      %h5.section-header Ideas I'm Following
      %ul.unstyled#following
        - @my_follows.each do |idea|
          = render :partial => "home/dashboard_idea_card", :locals => {idea: idea}


      - if @total_follow_count > @my_follows.size
        %ul.unstyled{style: 'clear: both;'}= link_to "See All Follows", user_path(current_user.username, :anchor => "follows")
