%main#home
  %article.hero
    %h1{ :style => 'margin-top: 1em; margin-bottom: 0.25em;' }
      site Shutdown notice
    %h3{ :style => 'margin-bottom: 1.2em' }
      On Sept. 14, 2015, GameSprout will no longer be available.
    %p.intro 
      Thank you so much for being part of the GameSprout community. Keep working to make your games a reality!
    %p.intro
      For more information, contact <a href="&#109;&#97;&#105;&#x6c;&#116;&#x6f;&#x3a;&#105;&#x6e;&#x66;&#x6f;&#64;&#x73;&#x63;&#104;&#101;&#108;&#x6c;&#x67;&#x61;&#x6d;&#101;&#115;&#x2e;&#x63;&#x6f;&#109;" target="_blank">info@schellgames.com</a>.
      
  %section.sign-up
    = render :partial => 'devise/shared/sign_up'
    %img{:src => "assets/splash-2.jpg"}

  %article.featured
    %h2 Featured Ideas:
    - @featured_games.each do |game|
      - begin
        %article.game-idea-block.cell.four-up
          %a.img-block{:href => idea_path(game)}
            %img{:src => game.details.banner_image? ? game.details.banner_image : "/assets/default-idea.png"}
          %h4.gamename= link_to game.title, game
          %p.byline
            = render :partial => 'ideas_collection/byline', :locals => {user: game.owner}
          %p.description.close= game.details.pitch

          = render :partial => 'ideas_collection/tags', :locals => {idea: game, simple_tags: (defined?(simple_tags) && simple_tags)}
      - rescue Exception => e
        - puts "Error on featured games: #{e.message}"
        - next