= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
  #signUp.floatRight
    .signUpBkgd
    %h3 Create an Account for FREE!
    %label.signUpText.hiddenLabel{:for => "usernameField"}
      Username:
      %br
    
    = f.text_field :username, :placeholder => 'Username', :class => 'signUpInput', :autocomplete => :off
    %br

    = f.password_field :password, :placeholder => 'Password', :class => 'signUpInput', :autocomplete => :off
    %br
    
    = f.text_field :email, :placeholder => 'Email Address', :class => 'signUpInput', :autocomplete => :off

    %p.signUpText
      %a{:href => '', :'data-expander-target-id' => "under-18-area", :'data-expanded-text' => '(Click to close under 18 instructions.)',} Under 18? Click here.

    %div{:'data-expander-id' => 'under-18-area', :class => 'hiddenTxt'}
      %p.signUpText 
        If you're <strong>younger than 18 years of age</strong>, please have your parent or guardian 
        %a{:href => '#', :'data-open-dialog-id' => 'consent-dialog'} read the gamesprout consent form
        and sign below.

        = render :partial => 'shared/under_18_consent_dialog'
      
      = f.text_field :parental_signature, :placeholder => "Parent's Signature", :class => 'signUpInput'

    %p.signUpText You must read and accept the Terms of Use before creating an account.
    
    = f.check_box :terms
    = f.label :terms, :class => 'signUpText' do
      I have read and accept the #{link_to 'Terms of Use', :terms, :target => :blank, :style => 'color: #f90; text-decoration: underline;'}
    
    %a{:href => "#", :id => 'home-logged-out-submit-button'}
      .orangeBtn
        %p Sign Up