.news-ticker
  .news-image
    //= link_to image_tag('/assets/ticker-spreecast.jpg'), Rails.configuration.spreecast_url
    = link_to image_tag('/assets/ticker-beta.png'), about_path
    = link_to image_tag('/assets/ticker-idea.png'), new_idea_path
    = link_to image_tag('/assets/ticker-play.png'), play_ideas_path
    = link_to image_tag('/assets/ticker-art.png'), dev_center_path
    = link_to image_tag('/assets/ticker-prototype.png'), dev_center_path
    = link_to image_tag('/assets/ticker-blog.png'), Rails.configuration.jesses_blog_url
    = link_to image_tag('/assets/ticker-forums.png'), forum_path
  
  .news-footer
    / .news-story.first
    /   .news-name
    /     Watch us June 12th, 4pm EDT!
    /   .news-blurb
    /     Join us for a live Spreecast with the Frozen Frame team!
    /   .news-link
    /     = link_to "Visit our Spreecast Channel", about_path, :style => "color:#fff"

    .news-story.first
      .news-name
        GameSprout Beta is Live!
      .news-blurb
        Welcome to the GameSprout Beta site!
      .news-link
        = link_to "Learn how it works!", about_path, :style => "color:#fff"
    
    .news-story
      .news-name
        Submit A Game Idea
      .news-blurb
        Have your own great game idea? Submit it!
      .news-link
        = link_to "Go", new_idea_path, :style => "color:#fff"

    .news-story
      .news-name
        Play Prototypes
      .news-blurb
        Check out the latest game prototypes!
      .news-link
        = link_to "Go", play_ideas_path, :style => "color:#fff"

    .news-story
      .news-name
        Create Concept Art
      .news-blurb
        Help out your favorite idea by submitting your art!
      .news-link
        = link_to "Learn More", dev_center_path, :style => "color:#fff"

    .news-story
      .news-name
        Create a Demo
      .news-blurb
        Interested in programming? Submit your own demo!
      .news-link
        = link_to "Learn More", dev_center_path, :style => "color:#fff"

    .news-story
      .news-name
        Jesse's Gardening Tips
      .news-blurb
        Jesse Schell's blog with tips for game designers.
      .news-link
        = link_to "Go", Rails.configuration.jesses_blog_url, :style => "color:#fff"

    .news-story
      .news-name
        Check out the Forums
      .news-blurb
        Chat with other people on the site!
      .news-link
        = link_to "Go", forum_path, :style => "color:#fff"

    / The nav items will be automatically created inside this div by jquery.cycle
    #news-pager