%h4 Devise Links
- if user_signed_in?
  %p Signed in as #{current_user.username}. | #{link_to 'Sign Out', destroy_user_session_path, :method => :delete}
- else
  %p= link_to 'Sign In', new_user_session_path

%br
User count: #{User.count}
%br

%hr

- Idea.each do |idea|
  %strong #{idea.details.title} by #{idea.owner.username}
  %br

  Post count: #{idea.posts.count}
  %br
  %br

  .posts{style: 'margin-left: 20px;'}
    - idea.posts.each do |post|
      .post
        #{post.type} by #{post.user.username}

        %br
        Comment count: #{post.comments.count}
        .comments{style: 'margin-left: 20px;'}
          - post.comments.each do |comment|
            .comment
              Comment by #{comment.user.username}
      %br

  = link_to 'delete', idea_path(idea), :method => :delete
  %hr