%h4 upload files here

= s3_uploader_form callback_url: upload_completed_path, key: "uploads/demos/#{SecureRandom.hex}/${filename}", id: 'myS3Uploader', data: {:demo_id => SecureRandom.hex} do
  = file_field_tag :file, multiple: true, max: 1.gigabyte

%script{id: 'template-upload', type: 'text/x-tmpl'}
  :plain
    <div id="file-{%=o.unique_id%}" class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>