= title "Edit My Notification Settings - GameSprout"

%main.content.account
  = render :partial => 'devise/acct_sidebar', :locals => {current_setting: :notify}

  .settings
    %h1 Notification Settings

    = form_tag update_notification_settings_path, :method => 'post' do
      .checkbox
        = check_box_tag :notify, !current_user.notify, current_user.notify
        = label_tag :notify, "Receive daily email notifications."
      %p Notifications let you know about activity on your ideas, ideas you follow, and posts you made or participated in.

      = submit_tag "Save Settings", class: 'btn'