= title "What Is GameSprout - GameSprout"

= render :partial => 'shared/billboard', :locals => { title: 'GameSprout is a place to share and build games', content: 'Help brainstorm ideas for great games, vote for the best ones, and help develop them.', img_url: '/assets/about-page-header.png' }

%main.content#about
  %h2 How it works:
  %ul.unstyled.steps
    %li.step1
      .group
        %h4.title Build An Idea
        %p At GameSprout, anyone can submit an idea for a game. When they do, they're in charge of that idea.
        %p Other people can help them with their game by offering them feedback, design ideas, artwork, and even code to bring the idea to life.
    %li.step2
      .group
        %h4.title Get Feedback
        %p Once an idea is posted, everyone can see it. They'll talk about what they like and don't like about the idea, offer suggestions, and sometimes even offer to help build the idea.
    %li.step3
      .group
        %h4.title Call for Help
        %p 
          Whenever a game's owner feels like they need extra help, they post a "Call for Help" in their idea. These calls for help show up on the 
          = link_to 'Help Out page', help_out_ideas_path
          , where anyone can browse for ideas to help out with.
        %p Idea owners can ask for help with any part of the game- including programming, artwork, and even design advice!
    %li.step4
      .group
        %h4.title Playtest
        %p 
          Once a prototype or demo gets made for a game idea, it goes into the 
          = link_to 'PLAY page', play_ideas_path 
          , where anyone can try out the game and talk about what they like, don't like, and think is missing.
    %li.step5
      .group
        %h4.title Improve
        %p Then it's up to the idea's owner to talk with the community and figure out how to make the game (and the idea) better.
        %p
          This whole process is called iteration, and is how games get made.

  
  .calltoaction
    %h2.display.close
      How to get started
    
    - unless user_signed_in?
      %p If you haven't already, sign up for an account
      %a.btn.big.stacked{href: new_user_registration_path} Sign Up for Free!
      %p Then, try doing some of these:
    
    %ul.unstyled.mainsteps
      %a{:href => browse_ideas_path}
        %li.three-up.browse
          %img.close{:src => "/assets/button-browse.png" }
          %h4.close
            Browse
          for ideas and pick your favorites
      %a{:href => new_idea_path}
        %li.three-up.create
          %img.close{:src => "/assets/button-submit.png" }
          %h4.close
            Create
          your first idea!
      %a{:href => play_ideas_path}
        %li.three-up.playtest
          %img.close{:src => "/assets/button-play.png" }
          %h4.close
            Playtest
          some demos and give your feedback!
    %p.close Still have questions?
    %a.btn.big.stacked{href: faq_path} Check out our FAQ!