= title "Community - GameSprout"

%section#billboard
  .about
    .blurb
      %h3.title Community
      %h4 Want to get involved with the GameSprout community? Try some of these links!
    %img.splash{:src => '/assets/community-page-header.png'}
    %div{ :style => "clear:left;"}
      = link_to image_tag( '/assets/facebook.png'), Rails.configuration.facebook_url, {:style => "padding-right:20px;"}
      = link_to image_tag( '/assets/twitter.png'), Rails.configuration.twitter_url

%section#content.static.community
  .centered-row
    = render :partial => 'quicklink_box', :locals => {title: "Forums", content: "Talk about GameSprout, and about making games",  img_url: "/assets/community-forums.jpg", img_link: forum_path }
    
    = render :partial => 'quicklink_box', :locals => {title: "Youtube Channel", content: "Browse the GameSprout youtube channel",  img_url: "/assets/community-youtube.jpg", img_link: Rails.configuration.youtube_url }

    = render :partial => 'quicklink_box', :locals => {title: "Jesse's Gardening Tips", content: "Read Jesse Schell's blog for tips about designing games",  img_url: "/assets/community-blog.jpg", img_link: Rails.configuration.jesses_blog_url }

    = render :partial => 'quicklink_box', :locals => {title: "Jesse's Website", content: "Visit Jesse Schell's website!",  img_url: "/assets/community-jesse.jpg", img_link: Rails.configuration.jesses_website_url }
