= title "Developer Center (Build) - GameSprout"

= render :partial => 'shared/billboard', :locals => {title: "Developer Center", content: "Can you program, draw, or create sound effects? Put those skills to work!",  img_url: "/assets/dc-header-1.png" }

.dev-center-build
	%h1 Already have mad skillz?
	%h4 Here's how you can get started!
	%hr
	.item
		.left
			%p
				1. Look for ideas you're interested in by going to the 
				= link_to 'Contribute Tab', build_ideas_path
				inside of the 
				= link_to 'Browse', design_ideas_path
				section of the website.
		.right
			%img{src: "/assets/dc-browse.png"} <!-- 180x140 --> <!-- "http://www.placehold.it/180x140/5AB329/ffffff" -->
	%hr
	.item
		.left
			%p
				2. Once you find something, start working on it! Whenever you have something to show, submit it as an update.
		.right
			%img{src: "/assets/dc-update.png"}
	%hr
	.item
		.left
			%p
				3. If the idea owner likes it, you'll get credited for submitting that content.
		.right
			%img{src: "/assets/dc-influence.png"}
	%hr
	.item
		.left
			%p
				4. If the game is successfully released, you are counted as a Collaborator, and get a percent of the total profits from the game. The more you help the idea, the more you earn!
		.right
			%img{src: "/assets/dc-money.png"}