= title "Developer Center (Learn) - GameSprout"

= render :partial => 'shared/billboard', :locals => {title: "Developer Center", content: "Can you program, draw, or create sound effects? Use your skills to earn influence and money!",  img_url: "/assets/dc-header-1.png" }

.dev-center-learn
	.head-content
		.left
			.title Don't have experience with developing, but want to learn?
			Anyone is welcome to try building at GameSprout! Don't be afraid to jump in and practice by trying to build your ideas, or by offering help to idea owners!
		.right
			%img{src: "/assets/dc-newbies.png"} <!-- 240x180 -->
	.body-content
		.title At GameSprout, anyone can help out with:
		%hr
		.item
			.left
				%img{src: "/assets/dc-art.png"} <!-- 180x160 -->
			.right
				.title Art:
				%p
					Artwork is very important in the early stages of developing a game idea! By creating concept art, you can define the look and feel of a game. Artists can also help by building the in-game art that programmers need to make awesome prototypes.
				.listings
					.title Free Art & Graphics Programs:
					%ul
						%li
							= link_to "Blender - Free 3D Modeling Software", "http://www.blender.org/"
						%li
							= link_to "GIMP - Free Digital Drawing Program", "http://www.gimp.org/"
		%hr
		.item
			.left
				%img{src: "/assets/dc-prototyping.png"}
			.right
				.title Prototyping Games:
				%p
					Knowing how to program is one of the most useful skills for a game designer! If you can program, you can build prototypes that show the game in action! You'll be able to try out design ideas for a game very quickly by making them yourself and seeing how they feel!
				.listings
					.title Free Game Engines & Programming Resources:
					%ul
						%li
							= link_to "Game Sketching", "http://dl.acm.org/citation.cfm?id=1306829"
						%li
							= link_to "GameMaker - 2D Game Engine (Perfect for beginners!)", "http://www.yoyogames.com/gamemaker/studio"
						%li
							= link_to "Unity3D - 3D Game Engine", "http://unity3d.com/"
						%li
							= link_to "PixelProspector Graphics Resources (Assets for your Prototype)", "http://www.pixelprospector.com/indie-resources/#graphics"
		%hr
		.item
			.left
				%img{src: "/assets/dc-audio.png"}
			.right
				.title Creating Sound:
				%p
					It's easy to forget how important sound is to the atmosphere and feedback in a game! Any prototypes being made to test for fun and feel need good sound design to really shine. 
				.listings
					.title Free Sound Mixing Software & Resources:
					%ul
						%li
							= link_to "Audacity - Free Sound Editing Program", "http://audacity.sourceforge.net/"
						%li
							= link_to "PixelProspector Sound & Music Resources", "http://www.pixelprospector.com/indie-resources/#sound-and-music"
		%hr
		.item
			.left
				%img{src: "/assets/dc-design.png"}
			.right
				.title Design:
				%p
					On a small team, everyone can and should help out with an idea's design. There are many different kinds of design, and all of them are helpful to have on a project. Building levels, writing lore, and figuring out the details of how the game's mechanics work all fall under design.
				.listings
					.title Helpful Advice for Designing Games
					%ul
						%li
							= link_to "Art of Game Design", "http://artofgamedesign.com/"
						%li
							= link_to "Deck of Lenses", "http://www.amazon.com/The-Art-Game-Design-Lenses/dp/0615218288"
						%li
							= link_to "Extra Credits", "http://penny-arcade.com/patv/show/extra-credits"
		%hr
		.bottom
			.title Whenever you feel comfortable, try putting your skills to the test, and...
			= link_to "Start Building!", build_ideas_path, class: 'btn btn-large'
					

