= title "FAQs - GameSprout"
%main.content#faq
  %nav.centered
    %a{:href => "#General"}General
    %a{:href => "#Development_Process"}Development Process
    %a{:href => "#Account"}Account
    %a{:href => "#Technical_Issues"}Technical Issues
    %a{:href => "#Other_Questions"}Other Questions

  %h1 Frequently Asked Questions

  %h2.bookmark#General General
  %section
    %article.faq
      %h4.close What is GameSprout?
      %p GameSprout is a game development community and platform -- a place to get constructive feedback on your game ideas and prototypes and give feedback to others.

    %article.faq
      %h4.close How does GameSprout work?
      %p GameSprout uses a community-driven process to identify and address game design problems and maximize gameplay fun.

      %p First, people put their ideas up on the site in detail, proposing specific goals that they’d like to accomplish. The community checks out the ideas and answers the question: would you play this game?
      
      %p Community members can then choose ideas that they can offer their skills to, and support those ideas with concept art, demos, etc.

    %article.faq
      %h4.close Why crowd-driven game design?

      %p We believe that:
      %ol
        %li
          Anyone can design a great game.
        %li
          All of us, working together, are better game designers than any of us working alone.
        %li
          The more game ideas we all share, the better game designers we all become. There’s already
          %a{:href => "http://hci.stanford.edu/research/prototyping/"} evidence
          to suggest that rapidly iterating on multiple designs in an open, collaborative environment leads to better designs and better designers. GameSprout puts theory into practice to help all of us create awesome games while becoming the best game designers we can be!

    %article.faq
      %h4.close Is GameSprout just for video games?
      %p Right now GameSprout focuses on videogames. We encourage you to submit game ideas for PC, console, or mobile/tablet. The GameSprout development process can potentially also work for non-digital games such as board and card games. We’ll consider expanding to include other kinds of games in the future if there’s enough interest.


    %article.faq
      %h4.close What hardware will be used to develop my idea? What consoles?
      %p The type of hardware used depends on the game idea and what hardware that idea is a fit for! The main challenge is making sure the game and the hardware it’s on are a good fit for each other.

    %article.faq
      %h4.close Can GameSprout be used for any size game idea?
      %p GameSprout can handle a wide range of game sizes and complexities. Smaller, simpler games are faster to develop, so they're a great place to start. If your game idea is big and complex, you'll want to think about how it can be broken down into smaller parts that are quick to build and playtest.

    %article.faq
      %h4.close Are some game ideas not allowed on GameSprout?
      %p We will review ideas on a case-by-case basis. If your idea is deemed inappropriate for GameSprout, GameSprout staff may remove it. We will try to alert you as to the reason for that removal.

      %p Do not submit game ideas that are not yours. For example, GameSprout is not the place to suggest a sequel to a pre-existing game franchise or pitch a game involving characters that you do not own.

    %article.faq
      %h4.close Can I have more than one idea in the system at once?
      %p You can submit as many ideas as you want to the GameSprout system.

    %article.faq
      %h4.close Who has the Intellectual Property (IP) rights to my game?
      %p By submitting game ideas and other content to the site, you agree to grant our developers and community members a limited license to your intellectual property. This limited license allows our developers and community members to create works based on your idea and ultimately bring it to life.

    %article.faq
      %h4 What if someone else steals my game idea?
      %p Putting a game idea out in public with your name on it is actually a good way to protect that idea and prove that it’s yours. Also, remember that an idea is only the first step -- once the idea is collaborated on and moved through the GameSprout process it’s likely to change a good deal. The public process and transparency will prove that the idea is your own. If you’re still afraid about sharing your idea with others, GameSprout may not be for you.

    %article.faq
      %h4 Why is GameSprout in beta?
      %p The GameSprout design process is a creative experiment. Like the games we’re making, GameSprout itself will need some iteration. By trying things and learning from them we can make surprising discoveries and enable GameSprout to grow in directions that none of us would have come up with on our own.

      %p We’ll listen to your feedback, pay attention to what’s working and what’s not, and keep evolving the production process and the website to make things better. Consider this a starting point -- let’s see where we end up together!


  %h2.bookmark#Development_Process Development Process
  %section
    %article.faq
      %h4.close How do I submit a game idea?
      %p 
        Fill out the
        = succeed "!" do
          %a{:href => new_idea_path} game idea submission form
        
        Fields with orange circles are required. All other fields are optional. Focus on presenting your idea clearly. Show that you’ve thought it through so you can get people excited to see it become a real game!

      %p Once you’ve submitted your idea, you’ll want to start thinking about what needs to happen to develop it. One way to figure out a good place to start is to identify the greatest risks in your design and come up with ways to test those parts of your game as quickly and easily as possible. If you’re not sure what the next step for your idea should be, ask other people in the community for help.

    %article.faq
      %h4.close I like programming / making artwork! Can I help develop ideas?
      %p Yes! If you’d like to get involved in writing code or making art, check out the submitted games. Do any games have goals that could use your skills? You could be considered a collaborator on that game. If there are times where you have the skills to do development work for your own ideas, you can do that too!

    %article.faq
      %h4.close How long does a game idea remain on GameSprout?
      %p Once you have posted an idea on GameSprout, it remains there indefinitely.

    %article.faq
      %h4.close How can I make my idea more popular?
      %p A bit of preparation is key to making an idea exciting to others. Have you:
      %ul
        %li
          Thought your idea through entirely?
        %li
          Explained it well enough?
        %li
          Researched similar ideas to show how yours is different?
        %li
          Included some art or diagrams with your idea? See
          %a{:href => "http://jesseschell.tumblr.com/post/46186900979/nobody-wants-to-read-your-design"} “Nobody Wants to Read Your Design”
          for an example of how art can liven up an idea pitch.

      %p Helping other users can also encourage users to help you. In the future, we plan to add an influencing system to encourage users to help each other out even more.
      
      %p GameSprout does not encourage users to “spam” other users to try to drum up support for ideas. But you can tell your friends about GameSprout, and your idea, to encourage some more to come and join us and leave feedback. Sometimes a little activity on an idea is all it takes to get the wheels turning!
    
      %p
        You can also try getting some help with your idea in our
        = succeed "." do
          %a{:href => forum_path} Forums

  %h2.bookmark#Account Account
  %section
    %article.faq
      %h4.close I forgot my password!
      %p No worries! Click on this #{link_to "reset password link", new_password_path(:user)} and we’ll send you an email to reset it.

    %article.faq
      %h4.close How can I change my password?
      %p 
        Go to your
        %a{:href => my_profile_path} Profile
        page to access your account settings -- you can change your password by entering the new password you want in the “Password” and “Verify Password” text fields and clicking the Save button.

    %article.faq
      %h4.close I created an account using Facebook -- how can I change my username or email without a password?

      %p A password was automatically generated for you when you used Facebook to create your account. In order to set a password of your own, just sign out and #{link_to "follow this link", new_password_path(:user)} to the forgot password page. Follow the instructions. Once you've created your own password, you can use it to change your username and email!

  %h2.bookmark#Technical_Issues  Technical Issues
  %section 
    %article.faq
      %h4.close I've just received an error message, what should I do?
      %p 
        Contact us at gs-support@schellgames.com or using
        %a{:href => new_feedback_path} our website contact form
        and inform us of the problem. We will respond as quickly as possible.

    %article.faq
      %h4.close How do I unsubscribe from email notifications?
      %p To unsubscribe from email notifications, you can visit your Profile page and click the Notification Settings link.

    %article.faq
      %h4.close What is the recommended system configuration for accessing the GameSprout website?
      %p For Windows, we recommend:
      %ul
        %li 
          2.33GHz or faster x86-compatible processor, or Intel® Atom™ 1.6GHz or faster processor for netbooks
        %li
          Microsoft® Windows® XP (32 bit), Windows Server® 2003 (32-bit), Windows Server 2008 (32 bit), Windows Vista® (32 bit), Windows 7 (32 bit and 64 bit)
        %li
          128MB of RAM (1GB of RAM recommended for netbooks); 128MB of graphics memory

      %p For Mac OS, we recommend:
      %ul
        %li
          Intel Core™ Duo 1.33GHz or faster processor
        %li
          Mac OS X v10.6 or v10.7
        %li
          256MB of RAM; 128MB of graphics memory

    %article.faq
      %h4.close What browsers should I use?
      %p For best results, you’ll want to have the most recent version of one or more of the following available to you when accessing GameSprout:
      %ul
        %li
          Chrome
        %li
          Firefox
        %li
          Safari

  %h2.bookmark#Other_Questions Other Questions
  %section
    %article.faq
      %h4.close GameSprout would be so much cooler if you did [XYZ]... any chance you’ll do that?
      %p 
        Maybe, especially if you let us know! Email us at
        %a{:href => "mailto:gs-support@schellgames.com"} gs-support@schellgames.com
        with your thoughts on how to make GameSprout better. It’s a great way to get ideas for changes and new features on our radar.

    %article.faq
      %h4.close Is GameSprout hiring?
      %p 
        Schell Games (the company that runs GameSprout) is a full-service game design and development company with a focus on creating transformational games and innovative interactive experiences. If you’re interested in applying to Schell Games, please check out our
        %a{:href => "http://www.schellgames.com/careers"}Careers page
        for more info. We’re always on the lookout for awesome and talented people!

    %article.faq
      %h4.close What if I have more questions?
      %p 
        Let us know what they are! Email us at
        %a{:href => "mailto:gs-support@schellgames.com"} gs-support@schellgames.com
        and we’ll help you out.