= title "From Iteration To Funding - GameSprout"

%title How Does an Idea Get Launched?

%p
	%img{src: 'http://gamefactory.puzzleclubhouse.com/images/gs-fundingprocess-6.png'}

%p
	%ol
		%li
			%h3 
				GameSprout Team Review
			%p
				The GameSprout team review happens at the end of an idea's "Playtesting & Review" phase. Before the idea can be considered for funding, the team has to make sure that the idea has met some basic requirements:
			%ol{type:"a"}
				%li
					%strong
						Has a "vertical slice" of gameplay been completed?
					%p
						A 'vertical slice' is an industry term that refers to building a small example of what the final gameplay will be like. The GameSprout team wants to see if the gameplay has been proven to be fun. That usually means having all the core systems playtested, with 2 levels worth of gameplay. (If your game is the type of game that needs levels!)
				%li
					%strong
						Is the existing gameplay fun enough to be marketable?
					%p
						After reviewing the game, the team has to take a close look at how fun the game is, and how fun it is for its target demographic.

				%li
					%strong
						How much of a risk does this game present?
					%p
						Some ideas are going to be more risky than others. The team has to consider how likely it is to be successful, what the total costs are, and if the game is likely to be worth the risk in the end.
		%li
			%h3
				Community Review
			%p
				Next, the idea goes to the community as a special kind of voting, visible from the frontpage. The community gets to vote on if they want to see the game funded, and if they feel that the game passes the 8 filters.  The results from the community poll factor heavily into the final stage of the review process.
		%li
			%h3
				Executive Review
			%p
				At this point the GameSprout executive team takes all the information from the team review and the community review and examines it. If everything checks out, and there's a clear way we think would work to find funding for the game- it gets approved for professional development!
		%li
			%h3
				Idea owner Gives the Green Light
			%p
				The final step of the process is in the hands of the idea owner. They can decide if they really want to follow through with launching the game, and whether or not they agree with any suggestions that the GameSprout team made in the review. If they are happy- the project is formally green-lit, and the search for funding can begin.


%h3
	Getting Funded
%p
	Once a game reaches this point, Schell Games will come up with a plan to find funding for the game. If the funding goals are met- SG puts together a development team of the appropriate size, and the game gets made.





		