= title "Need Help? - GameSprout"

= render :partial => 'shared/billboard', :locals => {title: "Need Help?", content: "Confused? Get here by accident? Don't worry, we've got you covered!",  img_url: "/assets/help-header.png" }

%section#content.static.help
	.centered-row
		= render :partial => 'quicklink_box', :locals => {title: "Introduction to GameSprout", content: "Learn what GameSprout is, and how it works",  img_url: "/assets/help-intro.jpg", img_link: about_path }
		= render :partial => 'quicklink_box', :locals => {title: "Frequently Asked Questions", content: "A list of all the most common questions about GameSprout",  img_url: "/assets/help-faq.jpg", img_link: faq_path }
		= render :partial => 'quicklink_box', :locals => {title: "Developer Center", content: "Learn how to earn Influence and money at GameSprout by helping to develop game ideas",  img_url: "/assets/help-dc.jpg", img_link: dev_center_path }
	.centered-row
		= link_to "Terms of Use", terms_path, class: 'btn btn-large btn-centered'
		= link_to "Contact Us", new_feedback_path, class: 'btn btn-large btn-centered'
