= title "News - GameSprout"
.news-main
  .column-left
    .item.news
      .title News Item Title 1
      .date Movember Beardteenth Eighteen Furty-fur
      .content Pork belly next level PBR, pickled post-ironic ennui kogi butcher tote bag bitters locavore 8-bit quis sunt. Banksy esse put a bird on it, excepteur aesthetic Godard PBR vegan irony beard ethnic freegan viral gastropub. Thundercats aesthetic vinyl, occupy narwhal roof party adipisicing placeat pug. Velit helvetica actually Vice labore messenger bag duis flexitarian ullamco. Letterpress wolf banjo, hella sed ugh iPhone elit. Scenester Carles blue bottle dreamcatcher, adipisicing assumenda tousled gastropub Portland lo-fi seitan. Food truck flexitarian hoodie pork belly pour-over officia, Austin umami.
    .item.news
      .title News Item Title 1
      .date Movember Beardteenth Eighteen Furty-fur
      .content Pork belly next level PBR, pickled post-ironic ennui kogi butcher tote bag bitters locavore 8-bit quis sunt. Banksy esse put a bird on it, excepteur aesthetic Godard PBR vegan irony beard ethnic freegan viral gastropub. Thundercats aesthetic vinyl, occupy narwhal roof party adipisicing placeat pug. Velit helvetica actually Vice labore messenger bag duis flexitarian ullamco. Letterpress wolf banjo, hella sed ugh iPhone elit. Scenester Carles blue bottle dreamcatcher, adipisicing assumenda tousled gastropub Portland lo-fi seitan. Food truck flexitarian hoodie pork belly pour-over officia, Austin umami.
  .column-right
    .title News Archive
    .list
      .item-link
        .icon.current
        .link
          %a.linkname New Item Link Title 1
          .date datey-date date date
      .item-link
        .icon.inactive
        .link
          %a.linkname New Item Link Title 2
          .date datey-date date date
    .btn#morenews Next 20 Entries
