= title "About Reputation - GameSprout"

%main.content#about-reputation
  %h2 About GameSprout's Reputation System
  
  - if @user_reputation_data
    %p 
      Since you came here from a user's profile, do you want to see the exact breakdown of this user's reputation?
      = link_to "Click here!", '#', :'data-expander-target-id' => 'user-rep-table'

    %table#user-rep-table{:'data-expander-id' => "user-rep-table"}
      %tr
        %th{width: "200px"} Property
        %th{width: "120px"} Count
        %th{width: "60px"}
        %th{width: "100px"} Multiplier
        %th{width: "120px"} Result

      - UserReputationData::REPUTATION_MULTIPLIERS.each do |property, multiplier|
        - value = @user_reputation_data.send(property) || 0
        %tr
          %td.property= property.to_s.humanize.downcase
          %td= value
          %td x
          %td= multiplier.to_s
          %td= (value * multiplier).to_s
      %tr
        %td{colspan: 4, style: "text-align: right;"} Total (rounded down):&nbsp;&nbsp;
        %td= @user.reputation


    %h4 Reputation Explained
  
  %p 
    Any time you participate in the conversation on other people's ideas, your reputation goes up! The following actions are all worth reputation points:

  %ul
    %li Commenting on other people's posts
    %li Posting discussions, polls, are and prototypes on other people's ideas
    %li Receiving thanks for the posts you made

  %p
  %p
    Each of these actions has a multiplier applied to, so for example a playable demo is worth more rep than a comment. Want to see the exact multipliers?
    = link_to "Click here!", '#', :'data-expander-target-id' => 'multiplier-table'

  %table#multiplier-table{:'data-expander-id' => 'multiplier-table'}
    %tr
      %th Property
      %th Multiplier
    - UserReputationData::REPUTATION_MULTIPLIERS.each do |property, multiplier|
      %tr
        %td.property= property.to_s.humanize.downcase
        %td.multiplier= multiplier.to_s

  %h4 Thanks? How do you count thanks?
  %p 
    "Thanks" are a new system added to GameSprout to help support reputation. When someone comments on your post with a thanks, you get reputation points. All you have to do is start any line in your comment with one of the following words (case insensitive):

  %ul
    %li thank
    %li nice
    %li sweet
    %li cool
    %li great
    %li wow
    %li awesome
    %li +1    

  %p
  %p 
    Whitespace is ignored. More importantly, the words "very", "such", and "much" are also ignored, so all of the following are valid thanks:

  %ul
    %li Thanks!
    %li thank you
    %li very cool
    %li such +1
    %li much great wow
    %li awesome
    %li GREAT!!

  %p
  %p
    If you put anything else in front of it, though, it won't count. So "have a +1" wouldn't actually count. The hope is that this system feels very natural, and even if they're
    not aware of it, people will end up using it. All of the comments made before the thanks system have been scanned for thanks and been marked appropriately!