#splash-page
  .sp-left-col
    .sp-welcome
      / .sp-header-small-text
      /   Are you a Game Designer? Artist? Programmer? Or are you just passionate about games? Then...
      .sp-header-big-text
        Welcome to
        Game<span style="color:#5AB329;">Sprout</span>
      .sp-header-smaller-text
        Whether you are a <span style="font-weight:bold;">Game Designer</span>, 
        <span style="font-weight:bold;">Artist</span>, 
        <span style="font-weight:bold;">Programmer</span>, or just want to be part of our
        <span style="font-weight:bold;">Game Design Conversation</span>, 
        GameSprout is the place for you.
      .sp-header-smaller-text
        We give you the community and the platform to help turn your game idea into the real thing.<span style="font-weight:bold;"> By creating a free GameSprout Account</span>, you will:
    .sp-about
      / .sp-centered-row
      /   .sp-image.left
      /     %img{:src => "/assets/P_01.png", style:"width:120%"}
      /   .sp-desc-container.right
      /     .sp-desc-title.left
      /       Turn your Game Idea into Reality
      /     .sp-desc-text
      /       I can't believe we get paid to MAKE games! All we have to do now is tighten up the graphics for level 3.
      .sp-centered-row
        .sp-image.left
          %img{:src => "/assets/P_02.png", style:"z-index:1002; position:relative;"}
        .sp-desc-container.right
          .sp-desc-title.left
            Have a Place to Work Together and Make Great Games
          / .sp-desc-text
          /   GameSprout offers a platform for everyone to turn their game ideas into reality. Post your ideas, get help from the community, and watch your game come to life.
      .sp-centered-row
        .sp-image.right
          %img{:src => "/assets/P_03.png", style:"z-index:1001; position:relative;"}
        .sp-desc-container.right
          .sp-desc-title.right
            Receive Help from the Community and Professional Game Developers
          / .sp-desc-text
          /   The GameSprout staff are experienced Game Developers with a variety of skillsets. Ideas posted to GameSprout will get the benefit of these developers not only giving you feedback, but concept art and prototypes for your idea. 
      .sp-centered-row
        .sp-image.left
          %img{:src => "/assets/P_04.png", style:"z-index:1000; position:relative;"}
        .sp-desc-container.right
          .sp-desc-title.left
            Get an Inside Look at the Game Development Process
          / .sp-desc-text
          /   I can't believe we get paid to MAKE games! All we have to do now is tighten up the graphics for level 3.
        //.sp-image
  .sp-right-col
    .sp-sprout
    .sp-signup
      .sp-form-container
        / .sp-signup-header
        /   Sign up for Your Free Account!
        .sp-signup-facebook
          = link_to "Sign Up with Facebook", omniauth_authorize_path(:user, :facebook), {class: 'btn btn-fb'}
        .sp-divider
          %img{:src => "/assets/or-1.png"}
        .sp-signup-form
          / %h2 Create a GameSprout Account
          = render :partial => 'devise/shared/sign_up', :locals => {resource: User.new, resource_name: "user"}
        .sp-signup-image
          %img{:src =>"/assets/community-page-header.png"}
