= title "Terms Of Use - GameSprout"
%main.content#terms
  %p Updated: May 17, 2013
  
  %h1 Terms of USE AND PRIVACY POLICY
  
  %p TERMS OF USE
  
  %p 1. Overview. GameSprout is a web site that allows users to submit video game ideas (“Game Ideas”) for feedback from the GameSprout team and community members (the “Community”). The web site is designed to provide a unique opportunity for users to contribute to and interact with the game design and development process.
  
  %p The GameSprout web site and its associated services (the “Services”) may be found at the domain and its related subdomains found at www.gamesprout.com (the “Site”). The Site is owned and operated exclusively by Schell Games LLC, a Pennsylvania limited liability company, and its corporate affiliates (collectively referred to herein as “Schell Games”, “GameSprout”, "us", "we" or the "Company"). By creating a user account and/or accessing or using the Site or by posting any content on the Site, you represent and warrant that you have read, understand and agree to be bound by these Terms of Use ("Terms of Use" or "Agreement”). We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice. If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the date these terms were last revised. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Use. If you do not agree to abide by these or any future Terms of Use, do not use or access (or continue to use or access) the Site or the Services. It is your responsibility to regularly check the Site to determine if there have been changes to these Terms of Use and to review such changes. Nothing in these Terms of Use shall be deemed to confer any third-party rights or benefits.
  
  %p PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED. PLEASE NOTE THAT BY AGREEING TO THE TERMS AND CONDITIONS PROVIDED FOR HEREIN YOU MAY BE TRANSFERRING VALUABLE INTELLECTUAL PROPERTY RIGHTS TO GAMESPROUT FOR ITS COMMERCIAL USE.
  
  %p 2. Basic Description. The Site is developed and operates using a variety of terms and phrases. The more commonly used terms are defined in more detail below.
  
  %p A. User Participation. The website allows users, to access and interact with its Content depending on his or her user status. Please find below, a brief summary of how a user’s status relates to his or her interactions with Content:
  
  %p Visitor: Access certain Site Content, including playing prototypes and viewing community forums and blogs.
  
  %p Community Member: Access all Site Content; submit Game Ideas; Support on Game Ideas, comment on Game Ideas; provide Collaboration Content; and post to Site forums.
  
  %p B. Site Dynamic. Please find below, a summary of how a Game Ideas flow through the Site:
  
  %ul
    %li Game Ideas are submitted by Community Members.
    %li Community Members can Support a Game Idea.
    %li Game Idea Submitters can request contributions from GameSprout and other Community Members. Community Members can submit Community Member Content in response to the requests.
    %li Game Idea Submitters may incorporate Community Member Content and GameSprout Content into their Game Idea.
  
  %p 3. Commonly Used Terms and their Definitions. All initial capitalized terms used in this Agreement shall have the meaning ascribed to such terms. In addition to the terms defined elsewhere in this Agreement, the following Terms shall have the meaning listed below:
  
  %p “Community Member” is a Person that creates an account online and is registered to post content on the Site.
  
  %p “Community Member Content” includes all information that a Community Member may transmit to the Site and which may become available for use or display, including without limitation all designs, text, graphics, pictures, video, animation, information, applications, software, programs, music, sound, audio, schematics, illustrations, diagrams, data, and other files and creative output, in whatever format. Community Member Content also includes information a Community Member provides to GameSprout outside of the Site in relation to Community Member Content transmitted to the Site, and such information shall constitute Community Member Content transmitted to the Site under this Agreement.
  
  %p “Game Idea” means a product concept, design or idea that is submitted by a Community Member to the Site as a Game Idea.
  
  %p “Game Idea Submitter” means any Community Member that submits a Game Idea to the Site.
  
  %p “Intellectual Property Rights” means any Invention, writing, trade name, trademark, service mark, mask work or any other material registered or otherwise protected or protectable under state, federal, or foreign patent, trademark, copyright, trade secret or similar laws.
  %p “Inventions” includes ideas, discoveries, inventions, developments and improvements, whether or not reduced to practice and whether or not patentable or otherwise within the definition of Intellectual Property.
  
  %p
    %br/
  
  %p “Proprietary Information” includes any scientific, technical, trade or business secrets of any person or entity and any scientific, technical, trade or business materials that a person or entity treats, or is obligated to treat, as confidential or proprietary, including, but not limited to, Inventions belonging to a person or entity and confidential information obtained by or given to a person or entity about or belonging to a third party.
  
  %p “Person” means any individual, trust or legal entity.
  
  %p “Site Content” means all information on the Site and available through the Services, including without limitation designs, text, graphics, pictures, video, animation, information, applications, software, programs, music, sound, audio, schematics, illustrations, diagrams, data, and other files and creative output, in whatever format, and their selection and arrangement.
  
  %p “Support” means the act of a Community Member of indicating that they would be interested in playing the Game Idea.
  
  %p “Visitor” is anyone that accesses the Site who is not a Community Member or the Company.
  
  %p 4. Access to Content and Ownership of Content.
  
  %p A. Eligibility. Participation in the Site is void where prohibited. This Site is intended solely for users who are eighteen (18) years of age or older. Any registration by, use of or access to the Site by anyone under 18 is unauthorized, unlicensed and in violation of these Terms of Use. By using the Services or the Site, you represent and warrant that you are 18 or older, and that you agree to and will abide by all of the terms and conditions of this Agreement. Notwithstanding the foregoing, you may participate in the Site if you are over thirteen (13) years old with the written consent of a legal guardian.  Such consent shall be recorded by the Site.
  
  %p B. GameSprout Control of the Site and Services. You acknowledge that GameSprout is a service provider that has created the Site to allow Community Members to interact via the Site regarding topics and content chosen by Community Members, and that Community Members can alter the information presented on the Site on a real-time basis. GameSprout generally does not regulate the content of communications between Community Members or Community Members ' interactions with the Services. As a result, GameSprout has very little control, if any, over the quality, safety, morality, legality, truthfulness or accuracy of Community Member Content provided by Community Members. Nonetheless, GameSprout reserves the right to monitor and/or limit any Community Members Content posted by a Community Member to the Site, including, without limitation Game Ideas. GameSprout reserves the right to interrupt the Site with or without prior notice for any reason or no reason. You agree that GameSprout will not be liable for any interruption of the Site, delay or failure to perform. GameSprout has the right at any time for any reason or no reason to change and/or eliminate any aspect(s) of the Site and/or the Services as it sees fit in its sole discretion and with or without prior notice.
  
  %p C. Rights in Community Member Content and Site Content. You acknowledge that: (i) by using the Site you will have access to Community Member Content provided by other Community Members, and (ii) Community Member Content and Site Content may be provided under license by independent content providers, including contributions from other Community Member. The Company may not pre-screen Community Member Content submitted by Community Member to the Site. You acknowledge that the Company and other Community Member have rights in their respective Site Content and Community Member Content under copyright and other applicable laws and treaty provisions, and that except as described in this Agreement, such rights are not licensed or otherwise transferred by mere use of the Services or posting on the Site. You accept full responsibility and liability for your use of any Site Content or Community Member Content in violation of any such rights.
  
  %p D. Proprietary Rights in Site Content; Limited License. All Site Content is the proprietary property of the Company, with all rights reserved. No Site Content may be modified, copied, distributed, reproduced, republished, downloaded, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, without the Company's prior written permission, except that the foregoing does not apply to Community Member Content that is legally posted on the Site, which is addressed in more detail in the section below titled “Ownership of Community Member Content.” Provided that you are eligible for use of the Site, you are granted a limited license to access and use the Site and the Site Content and to download or print a copy of any portion of the Site Content to which you have properly gained access solely for your own personal use, in connection with participating on the Site. Except for your own Community Member Content, you may not upload or republish Site Content on any Internet, Intranet or Extranet site or incorporate the information in any other database or compilation, and any use of the Site Content not explicitly permitted herein is strictly prohibited. The foregoing license is subject to these Terms of Use and does not include use of any data mining, robots or similar data gathering or extraction methods. Any use of the Site or the Site Content other than as specifically authorized herein, without the prior written permission of Company, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws including copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms of Use shall be construed as conferring any license to Intellectual Property Rights, whether by estoppel, implication or otherwise. The foregoing license is revocable at any time by the Company without notice and with or without cause.
  
  %p E. Ownership of Community Member Content.
  
  %p (1) The Company and each Community Member that is a party to this Agreement acknowledges and agrees that, subject to the terms and conditions of this Agreement, Community Members may retain any and all applicable copyright and other Intellectual Property Rights with respect to any Community Member Content that a Community Member creates or submits using the Services, to the extent such Community Member has such rights under applicable law.
  
  %p (2) You understand and agree that by submitting Community Member Content to any area of the Site, you automatically grant (and you represent and warrant that you have the right to grant): (i) to the Company: (a) a royalty-free, worldwide, fully paid-up, perpetual, irrevocable, non-exclusive right and license to use, reproduce and distribute your Community Member Content within the Services, as permitted by you through your interactions on the Services, (b) the perpetual and irrevocable right to delete any or all of your Community Member Content from Company owned, controlled or used servers and from the Site, for any reason or no reason, whether intentional or unintentional, and, without any liability of any kind to you or any other party; and (c) a royalty-free, fully paid-up, perpetual, irrevocable, non-exclusive right and license to copy, analyze and use any of your Community Member Content as the Company may deem necessary or desirable for purposes of debugging, testing and/or providing support services in connection with the Services; and (ii) to other Community Members a limited license to access and use your Community Member Content for their own personal use, in connection with participating on the Site, during the duration of the evaluation and development of a submitted Game Idea for which such Community Member Content was originally posted. Other than as expressly provided herein, no Community Member shall acquire any license or ownership in other Community Members’ Community Member Content. Further, you agree to grant to Company a royalty-free, worldwide, fully paid-up, perpetual, irrevocable, non-exclusive, sublicensable right and license to exercise the copyright, publicity, and database rights you have in your account information, including any data or other information generated by your account activity, in any media now known or not currently known, in accordance with our privacy policy as set forth below.
  
  %p (3) You further understand and agree that: (i) you are solely responsible for understanding all copyright, patent, trademark, trade secret and other intellectual property or other laws that may apply to your Community Member Content hereunder, including without limitation, any rights or obligations you may or may not have concerning Open Source Software; (ii) you are solely responsible for, and the Company will have no liability in connection with, the legal consequences of any actions or failures to act on your part while using the Site, including without limitation any legal consequences relating to your or any other Person’s Intellectual Property Rights or Proprietary Information; and (iii) the Company’s acknowledgement hereunder of your Intellectual Property Rights in your Community Member Content does not constitute a legal opinion or legal advice, but is intended solely as an expression of the Company’s intention not to require Community Member of the Site to forego certain Intellectual Property Rights with respect to Community Member Content they submit to the Site, subject to the terms of this Agreement.
  
  %p F. Ownership of Community Member account data. GameSprout owns all Community Member account data, regardless of any Intellectual Property Rights in Community Member Content. You agree that even though you may retain certain copyright or other Intellectual Property Rights with respect to Community Member Content that is submitted on the Site, you do not own the account you use to access the Site, nor do you own any data GameSprout stores on its servers (including without limitation any data representing or embodying any or all of your Community Member Content). Your Intellectual Property Rights in any Community Member Content, if any, do not confer any rights of access to the Site, the Services or any rights to data stored by or on behalf of the Company.
  
  %p G. Trademarks. “GAMESPROUT” and other GameSprout graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, trademarks or trade dress (collectively, the “Marks”) of Schell Games in the U.S. and/or other countries. The Marks may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion or association or affiliation with GameSprout and may not be copied, imitated, or used, in whole or in part, without the prior written permission of the Company.
  
  %p 5.
  
  %p Conduct by Visitors and Community Members; Prohibited Conduct. You agree that you shall not: (i) take any action or upload, post, e-mail or otherwise transmit to or via the Site any Community Member Content that infringes or violates any third party rights, including without limitation all Intellectual Property Rights, or that constitutes any other Person’s Proprietary Information; (ii) impersonate any Person without their consent, including, but not limited to, a Company employee, or falsely state or otherwise misrepresent your affiliation with any Person; (iii) take any action or upload, post, e-mail or otherwise transmit to or via the Site any User Content that violates any law or regulation; (iv) take any action or upload, post, e-mail or otherwise transmit to or via the Site any Community Member Content as determined by Company at its sole discretion that is harmful, threatening, abusive, harassing, causes tort, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable; (v) take any actions or upload, post, e-mail or otherwise transmit to or via the Site any Community Member Content that contains any viruses, Trojan horses, worms, spyware, time bombs, cancelbots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; (vi) take any action or upload, post, email or otherwise transmit to or via the Site any Community Member Content that would violate any right or duty under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements); (vii) upload, post, email or otherwise transmit to or via the Site any unsolicited or unauthorized advertising, or promotional materials, that are in the nature of "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation that the Company considers in its sole discretion to be of such nature; (viii) interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services; (ix) attempt to gain access to any other Community Member’s account or password; or (x) "stalk", abuse or attempt to abuse, or otherwise harass another user; (xi) charge any third party for use of the Site or the Services; or (xii) modify, adapt, reverse engineer, decompile or attempt to discover the source code of the Site or any of its algorithms that are utilized to allocate Contribution. Any violation by you of the terms of the foregoing may result in immediate and permanent suspension or cancellation of your account.
  
  %p 6. Digital Millennium Copyright Act ("DMCA").
  
  %p A. Notice. If you are a copyright owner or an agent thereof and believe that any Site Content or Community Member Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
  
  %ul
    %li A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
    %li Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
    %li Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material;
    %li Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail;
    %li A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
    %li A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
  
  %p
    GameSprout's designated Copyright Agent to receive notifications of claimed infringement is Christopher F. Arnold, 2313 East Carson Street, Suite 200, Pittsburgh, PA 15203, email:
    = succeed "," do
      %b [legal@schellgames.com]
    fax: 412-390-0202. You acknowledge that if you fail to comply with all of the requirements of this Section, your DMCA notice may not be valid.
  
  %p
    %br/
  
  %p B. Counter-Notice. If you believe that your Community Member Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization 
  from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the material in your Community Member Content, you may send a counter-notice containing the following information to the Copyright Agent:
  
  %ul
    %li Your physical or electronic signature;
    %li Identification of the Community Member Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled;
    %li A statement that you have a good faith belief that the Community Member Content was removed or disabled as a result of mistake or a misidentification of the Content; and
    %li Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in Pittsburgh, Pennsylvania, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
  
  %p If a counter-notice is received by the Copyright Agent, GameSprout may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Community Member Content or cease disabling it in ten (10) business days. Unless the copyright owner files an action seeking a court order against the Community Member Content provider, member or user, the removed Content may be replaced, or access to it restored, in ten (10) to fourteen (14) business days or more after receipt of the counter-notice, at GameSprout's sole discretion.
  
  %p C. Repeat Infringer Policy. In accordance with the DMCA and other applicable law, GameSprout has adopted a policy of terminating, in appropriate circumstances and at GameSprout’s sole discretion, Community Members who are deemed to be repeat infringers. GameSprout may also at its sole discretion limit access to the Site and/or terminate the accounts of any Community Members who infringe any Intellectual Property Rights or who disclose Proprietary Information of others, whether or not there is any repeat infringement or disclosure. Any amounts that may otherwise be or may become due from the Company to any Community Member, who has submitted Community Member Content that infringes any Intellectual Property Rights or discloses Proprietary Information of any other Person is subject to forfeiture, at the sole discretion of the Company.
  
  %p 7. Warranty Disclaimer.
  
  %p YOU AGREE THAT YOUR USE OF THE GAMESPROUT SITE SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, GAMESPROUT, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF. GAMESPROUT MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT OR THE CONTENT OF ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SITE, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SITE BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONSIN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE GAMESPROUT SITE. GAMESPROUT DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE GAMESPROUT SITE OR ANY HYPERLINKED SITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND GAMESPROUT WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.
  
  %p 8. Limitation of Liability.
  
  %p IN NO EVENT SHALL GAMESPROUT, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SITE, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SITE BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE GAMESPROUT SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
  
  %p YOU SPECIFICALLY ACKNOWLEDGE THAT GAMESPROUT SHALL NOT BE LIABLE FOR COMMUNITY MEMBER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
  
  %p The Site is controlled and offered by GameSprout from its facilities in the United States of America. GameSprout makes no representations that the GameSprout Site is appropriate or available for use in other locations. Those who access or use the GameSprout Site from other jurisdictions do so at their own volition and are responsible for compliance with local law.
  
  %p 9. Indemnity. You hereby agree to defend, indemnify and hold harmless Company, its shareholders, affiliates, directors, officers, subsidiaries, employees, agents, suppliers, licensees, distributors, successors and assigns, from all damages, liabilities, claims and expenses, including without limitation attorneys' fees and costs, arising from any breach of this Agreement by you, or from your use of the Services. You agree to defend, indemnify and hold harmless the Company, its shareholders, affiliates, directors, officers, subsidiaries, employees, agents, suppliers, licensees, and distributors, successors and assigns from all damages, liabilities, claims and expenses, including without limitation attorneys' fees and costs, arising from any claims by third parties that your activity on the Site or your Community Member Content infringes upon, violates or misappropriates any of their Intellectual Property Rights or discloses their Proprietary Information.
  
  %p 10. Assignment. These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by GameSprout without restriction.
  
  %p 11. Third Party Websites. The Site may contain links to third party websites that are not owned or controlled by GameSprout. GameSprout has no control over, and assumes no responsibility or liability for, the content, privacy policies, or practices of any third party websites. In addition, GameSprout will not and cannot censor or edit the content of any third-party site. By using the Site, you expressly relieve GameSprout from any and all liability arising from your use of any third-party website. Accordingly, we encourage you to be aware when you leave the GameSprout Site and to read the terms and conditions and privacy policy of each other website that you visit.
  
  %p 12. Media Waiver. You agree that the Company has the absolute right and permission to use your name, voice, image, likeness, and your applicable Community Member compensation information, including for example your Contribution percentage, as well as representations made by you, in any media (including, without limitation, television, print, radio and the Internet), world-wide, for the purposes of advertising, promoting, reporting and disseminating information about the Company, or the Company’s business.
  
  %p 13. Miscellaneous. You agree that: (i) the GameSprout Site shall be deemed solely based in Pennsylvania; and (ii) the GameSprout Site shall be deemed a passive website that does not give rise to personal jurisdiction over Schell Games LLC, either specific or general, in jurisdictions other than Pennsylvania. These Terms of Use shall be governed by the internal substantive laws of the State of Pennsylvania, without respect to its conflict of laws principles. Any claim or dispute between you and GameSprout that arises in whole or in part from the GameSprout Site shall be decided exclusively by a court of competent jurisdiction located in Allegheny County, Pennsylvania. These Terms of Use, together with the Privacy Policy and any other legal notices published by GameSprout on the Site, shall constitute the entire agreement between you and GameSprout concerning the GameSprout Site. If any provision of these Terms of Use is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full force and effect. No waiver of any term of this these Terms of Use shall be deemed a further or continuing waiver of such term or any other term, and GameSprout's failure to assert any right or provision under these Terms of Use shall not constitute a waiver of such right or provision. GameSprout reserves the right to amend these Terms of Use at any time and without notice, and it is your responsibility to review these Terms of Use for any changes. Your use of the GameSprout Site following any amendment of these Terms of Use will signify your assent to and acceptance of its revised terms. GameSprout may give notice to you by means of a general notice on our website, by electronic mail to your e-mail address in our records for your account, or by written communication sent by first class mail, postage prepaid, or overnight courier to your address on record for your account. All notices given by you or required under this Agreement shall be mailed to us at legal@schellgames.com unless otherwise provided in this Agreement. YOU AND GAMESPROUT AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE GAMESPROUT SITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
  
  %p
    %br/
  
  %p PRIVACY POLICY
  
  %p 1. Collection and Uses of Your Personal Information.
  
  %p You acknowledge and agree that GameSprout, in its sole discretion, may track, record, observe or follow any and all of your interactions within the Services. Except as otherwise provided herein, including without limitation, in the Section “Media Waiver”, the personal information you provide to us during registration is used for the Company’s internal purposes only. GameSprout uses the information it collects to learn what you like and to improve the Services.
  
  %p You are required to provide a valid email address during User registration that will represent your identity on the Site. You may opt to provide your full name, gender, birthday, location and other personal information to be publicly displayed in connection with your account and activity on the Site. While we’d prefer that all Users use their real names, GameSprout offers an alias option for those who’d prefer more anonymity.
  
  %p Your chosen name is publicly displayed and connected to your Site activity. Other information visitors to the Site may see includes, without limitation, your date joined, profile information, feedback, total earnings to date, Product Ideas submitted, Product Ideas influenced.
  
  %p Some Users may connect to or register a GameSprout account using an external third-party application, such as Facebook. GameSprout may receive some data from those connected third-party applications. Connecting your GameSprout account to third-party applications or services is optional, and when you connect your account to an external application, you will be given the opportunity to grant permission. You can revoke your permission under your GameSprout account settings.
  
  %p You agree that GameSprout may communicate with you via email and any similar technology for any purpose relating to the Site.
  
  %p 2. Controlling and Accessing Your Personal Information.
  
  %p Content in a Community Member’s profile on the Site is publicly available. Visitors may be able to identify you, or associate you with your Community Member account if you include personal information in your profile. The messages you send or receive using the Site are only private to the extent that you and the sender/recipient keep them private. GameSprout does not have any control over whether a recipient of one of your personal messages publicly posts it or its contents.
  
  %p Depending on what Services you use on the Site, GameSprout may request additional personal information from you, including but not limited to billing address, proof of identification and physical mailing address.
  
  %p You can access and update your personal information and communication settings by selecting the “Edit Your Profile” option on your account dashboard. You may also terminate your account at any time by emailing GameSprout at gs-support@schellgames.com.
  
  %p 3. Sharing Your Personal Information. GameSprout will not give any of your personal information to any third party or otherwise disclose your personal information without your express approval except: as reasonably necessary (i) to fulfill your service request; (ii) to customer support, billing and credit verification services, and the like; (iii) to comply with tax and other applicable law; as otherwise expressly permitted by this Agreement or as otherwise authorized by you; (iv) to law enforcement or other appropriate third parties in connection with criminal investigations and other investigations of fraud; (v) in connection with a merger, sale, reorganization, dissolution or liquidation of Company businesses, to prospective or actual acquirers of Company assets; or (vi) as otherwise necessary to protect the Company, its agents and other users of the Services. GameSprout can (and you authorize GameSprout to) disclose any information about you to private entities, law enforcement agencies or government officials, as GameSprout, in its sole discretion, believes necessary or appropriate to investigate or resolve possible problems or inquiries, or as otherwise required by law. The Company may share general, demographic, or aggregated information with third parties about its users and any content, including Community Member Content, and Site usage, but that information will not include or be linked to any personally identifiable information without your consent.
  
  %p 4. Security of Your Personal Information.
  
  %p GameSprout follows generally accepted industry standards for the protection of the personal information that you submit, both during transmission and after receipt. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, although we strive to use commercially acceptable means to protect your personal information, we do not guarantee the security of any of your private transmissions against unauthorized or unlawful interception or access by third parties.
  
  %p 5. Retention of Your Personal Information.
  
  %p We may keep the information that we obtain from or about you as long as is permitted or required under the law. If your account is deleted, we will remove your profile from the 
  Site, but may retain your information as necessary for our future use as authorized under this Privacy Policy. If your account is terminated, we will terminate your access to your account, but will not remove your profile from the Site, and may retain your information as necessary for our future use as authorized under this Privacy Policy. We may use retained data to prevent, investigate, or identify possible wrongdoing in connection with the Site or to comply with legal obligations. Information may exist in backup storage even after it has been removed from our active databases.
  
  %p 6. Cookies.
  
  %p GameSprout may use a browser feature known as a "cookie," which is a small text file number that is stored on your hard drive when you begin to navigate the Site. The cookies used by the Site do not contain any personal information about you, but they may identify your specific computer. If you would like to disable cookies from GameSprout, please use the help function in your web browser to restrict cookies from the Site. If you block cookies from GameSprout, you may not be able to use certain functions or features of the Site.
  
  %p GameSprout may also use cookies to track activity and click-through behavior to better understand users' preferences and browsing habits, and to provide a more personalized 
  experience while visiting the Site
  
  %p 7. Linked Websites.
  
  %p The Site may contain links to third party websites that are outside GameSprout’s control and not covered by this Agreement. Except as set forth herein, GameSprout does not share your personal information with these sites, nor is GameSprout responsible for the privacy practices of these sites. Should you choose to visit these third party sites, we encourage you to review their privacy policies.
  
  %p 8. BLOG, FORUMS, CHAT ROOMS AND PARTICIPATE PAGES
  
  %p The blog, forums, chat rooms and participate pages associated with the Site are public. The information that you provide in such portions of the Site is publicly available to others, and can be read, collected and/or used by others, potentially outside the Site. Finally, the opinions expressed by each blog, forum, chat room or participate page participant (who is not an employee of GameSprout) is his/her own and do not represent the views of GameSprout.
  
  %p 9. Children’s Privacy.
  
  %p The Site is not directed to or intended to be used by children under the age of 13. GameSprout does not knowingly collect personal information from children under the age of 13. If GameSprout learns that it has collected personal information of a child under the age of 13 without parental consent, we will delete that data from our systems and terminate the child’s account. If you become aware that a child has provided GameSprout with personal information without parental consent, please contact GameSprout at legal@schellgames.com.
  
  %p 10. Contact GameSprout.
  
  %p If you have questions, suggestions or concerns related to this Privacy Policy, you may contact GameSprout at legal@schellgames.com.
  
  %p 11. Updates to this Privacy Policy.
  
  %p GameSprout may change, modify, add, or delete portions of this Privacy Policy at any time pursuant to the process disclosed above for changes to this Agreement.