%main.content.centered
  - if session[:visited_splash_page_07_13]
    .hidden
      <!-- Google Code for GameSprout Campaign June 2013 Conversion Page -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 993364592;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "HHUxCLCWxwUQ8JTW2QM";
      var google_conversion_value = 0;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/993364592/?value=0&amp;label=HHUxCLCWxwUQ8JTW2QM&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>

    - session.delete :visited_splash_page_07_13

  %h1
    Thanks for Signing Up

  %img.close{:src => 'assets/signup-thankyou-image.png'}

  %h3
    Here's how you can get started using GameSprout:

  %ul.unstyled.get-started
    %li.three-up
      %a{:href => new_idea_path}
        %i.icon-create.white
        Post your First Game Idea

    %li.three-up
      %a{:href => play_ideas_path}
        %i.icon-play.white
        Play Some Demos and Give Feedback
    
    %li.three-up
      %a{:href => browse_ideas_path}
        %i.icon-browse.white
        Contribute to Other Game Ideas

  %h3.close Have Questions?
  %a.btn.huge{href: faq_path} Read the FAQ
