- if comments["count"] == 0
  No comments yet!
- else
  - comments["comments"].each do |comment|
    .comment
      .comment-left
        On: 
        = link_to comment["title"].to_s, {:controller => 'ideas', :action => 'show', :id => comment["idea_id"], :anchor => comment["com_id"]}
      .comment-right
        %strong
          At: 
        = get_formatted_date(Time.at(comment["date"]), :include_time => true)
      .comment-text
        = comment["text"].to_s.html_safe