= title "#{@user.username} - GameSprout Member"

%main.content.account
  -if my_profile?
    = render :partial => 'devise/acct_sidebar', :locals => {current_setting: :profileView}

  %article.profile
    %img.avatar{:src => @user.avatar? ? @user.avatar : "/assets/default-avatar.png"}

    %h1.close= @user.username
    - if @user.admin?
      %span.badge.orange Staff
    %h3= @user.user_details.full_name

    %ul.unstyled.contact-details
      %li.location
        =(@user.user_details.nil? || @user.user_details.location.nil?) ? "No location" : @user.user_details.location
      - unless @user.user_details.nil? || @user.user_details.twitter_handle.nil? || @user.user_details.twitter_handle.strip.empty?
        %li.twitter-handle
          = twitter_handle_link(@user)

      %li.email
        =(@user.user_details.nil? || @user.user_details.public_email.nil?) ? "No public email" : @user.user_details.public_email

    %p.bio
      = (@user.user_details.nil? || @user.user_details.bio.nil?) ? "This user has no bio yet." : comment_content(@user.user_details.bio)

    - unless @user.admin?
      Reputation: #{current_user.reputation}
      = link_to "(learn more)", about_reputation_path(:user => @user.username)

    - if current_user.admin?
      %p.files= link_to 'View uploaded files', files_path(user: @user.id)

  .clear

  %h4.section-header= my_profile? ? "My Ideas" : "Ideas Owned by #{@user.username}"
  %article.grid.tile
    - if @user.owned_ideas.not_deleted.empty?
      %p This user does not currently own any ideas.
    - else
      - @user.owned_ideas.not_deleted.each do |idea|
        = render :partial => 'ideas_collection/design_game_card', :locals => {idea: idea}

  .clear   
  %h4.section-header
    = my_profile? ? "My Followed Ideas" : "Ideas That #{@user.username} is Following" 
  %article.grid.tile
    - if @user.followed_ideas.empty?
      %p= my_profile? ? "You aren't following any ideas yet!" : "#{@user.username} isn't following any ideas yet."
    - else
      - @followed_ideas.each do |idea|
        = render :partial => 'ideas_collection/design_game_card', :locals => {idea: idea}
