= form_for @news_item do |f|
  - if @news_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news_item.errors.count, "error")} prohibited this news item from being saved:"
      %ul
        - @news_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :summary
    = f.text_field :summary

  .field
    = f.label :content
    = f.text_area :content, {class: 'tinymce', 'data-editor-config' => 'admin'}

  .field.checkbox
    = f.check_box :publish_now
    = f.label :publish_now

  .field
    = f.label :pub_date
    = f.text_field :pub_date, {class: 'datetimepicker'}

  = f.submit 'Save'
