%h3.title= link_to news_item.title, news_item

.published_on.small 
  - if defined?(date_not_distance) && date_not_distance
    %b Pub date:
    = get_formatted_date(news_item.pub_date, :include_time => true)
  - else
    Published #{distance_of_time_in_words news_item.pub_date, Time.zone.now} ago by #{news_item.posted_by.username}

.summary= news_item.summary
