= title "Manage News Posts - Admin - GameSprout"

%main.content.centered.admin
  %h1 Latest News
  %a.btn.huge{:href => new_news_item_path}
    Create News Item
    /= link_to 'Create News Item', new_news_item_path, class: 'regularBtn'

  - @news_items.each do |news_item|
    .news-item
      = render :partial => 'news_item', :locals => {news_item: news_item, date_not_distance: true}
      
      .controls
        = link_to 'edit', edit_news_item_path(news_item)
        &nbsp;|&nbsp;        
        = link_to 'delete', news_item, method: :delete, data: { confirm: 'Are you sure?' }