#news-news_item-index
  %h4 Latest News

  - @news_items.each do |news_item|
    .news-news_item
      = render :partial => 'news_item', :locals => {news_item: news_item}
      .more= link_to 'read more', news_item