= title "#{@news_item.title} - GameSprout News"

#news_item-show
  .actions
    = link_to 'back to latest news', news_items_path
    - if admin?
      \|
      = link_to 'manage news (admin)', admin_news_items_path

  .title= @news_item.title
  #byline.small
    by #{@news_item.posted_by.username}
    
    - unless @news_item.future_dated?
      #{distance_of_time_in_words @news_item.pub_date, Time.zone.now} ago
      
    (#{get_formatted_date(@news_item.pub_date, :include_time => true)})

  - if @news_item.edited?
    #edited-by.small
      last edited by #{@news_item.edited_by.username}
      #{distance_of_time_in_words @news_item.updated_at, Time.zone.now} ago
      (#{get_formatted_date(@news_item.updated_at, :include_time => true)})

  #content= raw text_with_mention_links(@news_item.content, @news_item)

  - if admin?
    .title-small Admin Actions
    #admin-actions
      = link_to 'Edit', edit_news_item_path(@news_item), class: 'btn'
      
      = link_to 'Destroy', @news_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'