%div.file{style: "margin-bottom: 10px;"}
  .file 
    #{link_to file.filename, file.url} | uploaded on: #{get_formatted_date file.created_at, include_time: true}

  .url 
    %span{style: 'font-weight: bold;'} copy this--> 
    #{file.url}

  %em.description= file.description if file.description