- if @user.id != current_user.id
  ADMIN VIEW | user: #{link_to @user.username, @user}, id: #{@user.id}
  %hr

%h4 All Uploaded Files for #{current_user.username}
%div{style: "margin-top: -20px; margin-bottom: 16px;"}= link_to 'back to file upload', files_path(params[:user] ? {:user => params[:user]} : {})

= render :partial => 'file', :collection => @all_files, :as => :file