- if @user.id == current_user.id
  %h4 Upload and manage files

  %div
    %p Want to link to an image or document but don't want to host it elsewhere? Just upload it here, copy the generated url, and then paste it into the text box.

  #upload-file
    %div.description
      = label_tag :file_description, "Brief Description (optional)"
      %em Please fill in before selecting a file. No one will see this except you.
      = text_field_tag :file_description

    - date_string = DateTime.now.strftime("%Y-%m-%d-%k-%M-%S-%L")
    = s3_uploader_form key: "uploads/files/user_#{current_user.id.to_s}/#{date_string}/${filename}", id: 'js_file_uploader' do
      = file_field_tag :file, multiple: false

    %script{id: 'template-upload', type: 'text/x-tmpl'}
      :plain
        <div id="file-{%=o.unique_id%}" class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>      
        </div>

- else
  ADMIN VIEW | user: #{link_to @user.username, @user}, id: #{@user.id}

%br
%hr

%div.previous
  %h4 Previously Uploaded Files
  = render :partial => 'file', :collection => @recent_files, :as => :file

- if @recent_files.count < @all_files.count
  = link_to 'View All Files', all_files_path(params[:user] ? {:user => params[:user]} : {})
