= form_for @discussion do |f|
  = render :partial => 'posts/hidden-fields', :locals => {f: f, post: @discussion}

  .field
    = f.text_area :text, placeholder: 'What do you think of this idea?', :style => "height: 4em", :'data-show-mention-ui' => true

  = f.submit class: "btn"