.editable
  .gameinfo
    .splash
      %img{:src => idea.details.banner_image.nil? ? "/assets/default-idea.png" : idea.details.banner_image}
      = link_to "Edit Banner Image", "#", {class: 'edit', 'data-dialog-target-id' => ("banner" + idea.id.to_s), id: 'edit-banner-image'}
      .image-dialog-content{title: "Change Banner Image", id: ("banner" + idea.id.to_s), 'data-dialog-size' => '400x200'}
        = render :partial => '/ideas/design_document/edit_banner_image', :locals => {idea: idea}

    .details
      %h1.h3.title
        = idea.title
        = render :partial => 'ideas/show/share_buttons', :locals => {idea: idea}
      %p.byline= render :partial => 'ideas_collection/byline', :locals => {user: idea.owner}
      %p.description= idea.details.pitch

      = render :partial => 'ideas_collection/tags', :locals => {idea: idea, simple_tags: true}

      = link_to "Edit Idea Details", edit_idea_path(idea), {class: 'edit', id: 'edit-main-details'}
