.gameinfo
  %img.splash{:src => idea.details.banner_image.nil? ? "/assets/default-idea.png" : idea.details.banner_image}
  .details
    %h1.h3.title
      = idea.title
      = render :partial => 'ideas/show/share_buttons', :locals => {idea: idea}
    %p.byline= render :partial => 'ideas_collection/byline', :locals => {user: idea.owner}
    %p.description= idea.details.pitch

    = render :partial => 'ideas_collection/tags', :locals => {idea: idea, simple_tags: true}

    - if !user_owns_idea?
      - if following?(idea)
        = link_to "Unfollow", unfollow_idea_path(idea), {:method => :delete, id: 'btn_follow', class: 'btn narrow'}
      - elsif user_signed_in?
        = link_to "Follow", follow_idea_path(idea), {:method => :post, id: 'btn_follow', class: 'btn narrow'}
