.ownerctrl
  = yield

  - if user_owns_idea? || current_user.admin?
    = link_to 'Delete Idea', @idea, :method => :delete, :confirm => 'Are you sure?', :class => 'btn red narrow'

    / %a.btn.red{:heft => '#', :'data-method' => :delete, :confirm => "Are you sure?"}
    /   Delete Idea