// Note that only prototypes and videos are ever supposed to be viewed this way.
%main.content
  // Actual demo area
  .dv-demo
    .dv-direct-link
      Not displaying correctly?
      %a{href:(@post.file_url || @post.url), target:"_blank"}
        Open in a new window.

    .dv-demo-instructions
      = render :partial => 'posts/prototypes/instruction_overlay'
      
    .dv-demo-embed{:style => "display: none;"}
      - if @post.is_video?
        = raw youtube_embed(@post.url)
      
      - elsif @post.is_browser_playable?
        %iframe.prototype-frame{src: (@post.will_upload_files ? @post.file_url : @post.url), height: "700", width: "100%"}

  / Leave the current markup as is if you can, but do whatever you like inside the two #tabs-x divs
  .updates-frame
    %ul
      %li
        %a{:href => "#tabs-1"} About
      %li
        %a{:href => "#tabs-2"} Comments [#{@post.comments.size.to_s}]

    #tabs-1
      %article.dv-tab-idea-info
        %h2.h3.display.centered The idea:

        %a.screencap{title: @post.title, href: design_document_idea_path(@post.idea)}
          %img{:src => @post.idea.details.banner_image.nil? ? "/assets/default-idea.png" : @post.idea.details.banner_image}

        %a{:href => design_document_idea_path(@post.idea)}
          %h3.title.close #{@post.idea.title}

        %p.byline= render :partial => 'ideas_collection/byline', :locals => {user: @post.idea.owner}

      %h5 Summary:
      %p= content text_with_mention_links(@post.description, @post)

      - if @post.is_browser_playable?
        %h5 Instructions:
        %p= comment_content @post.instructions

      - if @post.source_url && !@post.source_url.empty?
        %h4 Source Url:
        %p= link_to @post.source_url, @post.source_url


      = link_to 'Leave a Comment', "#tabs-2", :'data-open-tab' => '#tabs-2', :class => "btn narrow"

    #tabs-2      
      .commentarea
        = render :partial => 'shared/comments', :locals => {comments: @post.comments, post: @post}
  
  = link_to '<< Back to Game Idea', idea_path(@post.idea), :class => "back"