%h4 Uploading file for post: #{@post.title}

%div
  - if @post.uploaded_file
    Current file: #{link_to @post.uploaded_file.filename, @post.uploaded_file.url} - if you upload a new file, it will replace this one.
  - else
    This post does not currently have a file associated with it.

%div
  %p Select a file to upload.
  - if @post.is_browser_playable?
    %p Be sure that all necessary data files have been compiled into the .swf or .unity3d file. If uploading a Unity Web demo, select just the .unity3d file. You can ignore the generated html and js files.
%br

- date_string = DateTime.now.strftime("%Y-%m-%d-%k-%M-%S-%L")
= s3_uploader_form callback_url: upload_completed_post_path, key: "uploads/demos/post_#{@post.id.to_s}/user_#{current_user.id.to_s}/#{date_string}/${filename}", id: 'myS3Uploader', data: {:demo_id => @post.id.to_s} do
  = file_field_tag :file, multiple: false

%script{id: 'template-upload', type: 'text/x-tmpl'}
  :plain
    <div id="file-{%=o.unique_id%}" class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>