#demo-tab-links
  %h4.close What kind of Demo are you posting?
  %p NOTE: This is for posting demos you have already created, not requesting new ones to be made.
  = link_to 'Web Playable Game', '#', :'data-show-form' => 'form-1', :class => 'active secondary-nav'
  = link_to 'Video', '#', :'data-show-form' => 'form-2', :class => 'secondary-nav'
  = link_to 'Download', '#', :'data-show-form' => 'form-3', :class => 'secondary-nav'

#demo-tab-forms
  #form-1.form.visible
    - @prototype = @browser_playable_prototype
    = render :partial => 'posts/prototypes/form'

  #form-2.form
    - @prototype = @video_prototype
    = render :partial => 'posts/prototypes/form'

  #form-3.form
    - @prototype = @downloadable_prototype
    = render :partial => 'posts/prototypes/form'