%p.intro.centered
  - if @prototype.is_browser_playable?
    Upload Flash, Unity or audio files, or to a web page serving a Unity or Flash game you have made. To avoid scroll bars on all major browsers,
    your game should be no larger than 968x556. (Note: at this time, we don't support uploading multiple files. If you have a demo with many files, eg. an HTML5 game, either link to it using the URL field after unchecking "I will upload...", or archive it and upload it as a downloable prototype.)
  - elsif @prototype.is_downloadable?
    Upload or link directly to an exe or archive file you have uploaded.
  - elsif @prototype.is_video?
    Link to a Youtube video.

/ Inherited fields. All Prototype-based forms use this.
= form_for @prototype do |f|
  = render :partial => 'posts/hidden-fields', :locals => {f: f, post: @prototype}

  .field
    = f.label :title
    .instructions= get_title_descriptor(@prototype.class.name)
    = f.text_field :title

  .field
    = f.label :description
    .instructions= get_description_descriptor(@prototype.class.name)
    = f.text_area :description, {style: 'height: 60px;', maxlength: 280, :'data-show-mention-ui' => true}

  .field
    = f.label :image, "Image Url"
    .instructions= get_image_descriptor(@prototype.class.name)
    = f.text_field :image  

  - if @prototype.is_prototype? && @prototype.new? # not video
    .field
      = f.check_box :"will_upload_files_#{@prototype.type}", :checked => true, :'data-demo-type ' => @prototype.type
      = f.label :"will_upload_files_#{@prototype.type}", "I want to upload my files and have GameSprout host them for me!"
      .instructions
        If unchecked, you must provide a url for your demo. If checked, you can upload one more more files for GameSprout to host after submitting the initial post. The url field will be ignored.
        %a{href: '#', :'data-open-dialog-id' => "hosting-limitations_#{@prototype.type}"} Learn more about GameSprout hosting requirements and limitations.
        %div{:'data-dialog-id' => "hosting-limitations_#{@prototype.type}", :style => 'display: none;', :title => 'GameSprout Hosting Limitations'}
          %p GameSprout can support any number of files, but no individual file can exceed 1 gigabyte (#{number_with_delimiter(1.gigabyte)} bytes).
          %p Only one file per post is allowed. For downloadable games, archive your files. For Web Playable games, you will need to upload your swf or unity3d file. Unfortunately, we currently can't host HTML5 games as web playable games, so you will need to either upload them as a downloadable prototype, or link to them directly.
          %p File sizes above 500 megabytes can sometimes fail to upload.

  #demo_url.field{:'data-demo-type' => @prototype.type, style: (show_demo_url_field? ? "" : 'display: none;')}
    = f.label :url
    .instructions= get_url_descriptor(@prototype.class.name)
    = f.text_field :url

  .field
    = f.label :source_url
    .instructions= get_source_url_descriptor(@prototype.class.name)
    = f.text_field :source_url    

  - if @prototype.is_browser_playable?
    .field
      = f.label :instructions
      .instructions= get_instructions_descriptor(@prototype.class.name)
      = f.text_area :instructions, :value => (@prototype.instructions.nil? ? "" : @prototype.instructions.restore_linebreaks)


  / - if @prototype.respond_to?(:image_links)
  /   = render :partial => 'form_image_links', :locals => {f: f}

  = f.submit "#{@prototype.new? ? 'Create' : 'Update'} #{@prototype.class.to_s.titleize.gsub('Prototype', 'Demo')}", class: "btn"