.instruction-container
  %h1.close
    Now Playing: #{@post.idea.title}
  %h3.close
    =@post.title

  %p
    Demo Submitted by:
    %a{title: @post.user.username, href: user_path(@post.user.username)}
      %img.avatar{:src => @post.user.avatar? ? @post.user.avatar : "/assets/default-avatar.png"}
      =@post.user.username

  - if @post.will_upload_files && @post.uploaded_file.nil?
    Oops! It looks like the user has not yet finished uploading their demo. Please check back soon!
  - elsif @post.is_downloadable?
    %a#play-or-download.btn.huge{:href => @post.will_upload_files ? @post.file_url : @post.url}
      Download
  - else
    %a#play-or-download.btn.huge{:'data-playable' => "true"}
      Start Playing