- if @goal.errors.any?
  = render :partial => 'shared/errors', :locals => {doc: @goal, centered: false}

= form_for [@idea, @goal] do |f|
  .field
    = f.label :summary, "Summary:"
    .instructions
      Briefly describe what kind of help you need. Example: "Need Concept Art for Main Character"
    = f.text_field :summary

  .field
    = f.label :what_kind, "What kind of Call for Help is this?"
    = f.select :what_kind, options_for_select(Goal.what_kind_options, :selected => @goal.what_kind)

  .field
    = f.label :details, "Detailed Description:"
    .instructions
      Use this to get into specifics about your Call for Help.  Why do you need this assistance? 
    = f.text_area :details, :rows => 5

  = f.submit 'Save', class: 'btn'
  = link_to "Cancel", @idea, class: 'btn', :style => "display: inline-block;"
