= title "#{@idea.title} - GameSprout Idea"
%main.content#goal
  %h2.help-wanted.close
    Call for Help!      

  %p.intro
    Need art, sound, programming, or design help? Get help from the community!

  %hr.double
  %h4.title Create a new goal for #{@idea.title}
  = render :partial => 'form'