%section.sidebar
	%nav.account
		%ul.unstyled
			%li{:class => ('selected' unless current_setting != :profileView)}
				= link_to "View Profile", my_profile_path

			%li{:class => ('selected' unless current_setting != :acct)}
				= link_to "Account Settings", edit_user_registration_path

			%li{:class => ('selected' unless current_setting != :profile)}
				= link_to "Profile Settings", user_details_path
				
			%li{:class => ('selected' unless current_setting != :notify)}
				= link_to "Notifications Settings", notification_settings_path


	= link_to user_omniauth_authorize_path(:facebook), class: 'btn facebook' do
		Facebook Sync
