%p Hi #{@resource.username} &mdash; welcome to GameSprout, the community for game designers!

%p To activate your account please verify your email address by clicking the following link:

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p 
  You can then use your email address or your username [#{@resource.username}] to log in to your account. If you have any questions, just email us at #{link_to 'gs-support@schellgames.com', 'mailto:GameSprout <gs-support@schellgames.com>'}.

%p Thanks for joining us &mdash; we look forward to making games with you!