.feedback-item{id: feedback_item.id}
  .type Type: #{feedback_item.type.to_s}
  - if feedback_item.user?
    .from From: #{feedback_item.user.username} (#{feedback_item.user.email})
  
  .email Email: #{feedback_item.email}
  .item-logged 
    Logged? #{feedback_item.logged? ? "Yes" : "No"}
    - if defined?(shorten)
      %input.action_url{type: 'hidden', value: change_logged_feedback_path(feedback_item)}
      - if feedback_item.logged?
        %a.btn{"data-feedback-action" => 'unlog', href: '#'} un-log
      - else
        %a.btn{"data-feedback-action" => 'log', href: '#'} log  
    
  .sent-on.small
    Created on #{get_formatted_date(feedback_item.created_at, :include_time => true)}
    (#{distance_of_time_in_words feedback_item.created_at, Time.zone.now} ago)
  
  - if defined?(shorten) && shorten
    .content.shortened.small= feedback_item.shortened_content
    .read-more= link_to 'view', feedback_path(feedback_item), class: 'btn'
  
  - else
    .content= feedback_item.content