- if @feedback_item.errors.any?
  There was an error saving the notes.

#feedback-show
  = link_to 'back to feedback item', @feedback_item, :class => "back"
  
  = render :partial => 'item', :locals => {feedback_item: @feedback_item}

  = form_for @feedback_item do |f|
    .field
      = f.label :notes
      = f.text_area :notes, {class: 'tinymce', 'data-editor-config' => 'admin'}

    = f.submit