= title "View Feedback - Admin - GameSprout"

#feedback-index
  = form_tag  feedback_index_path, :method => :get do
    = hidden_field_tag "view", params[:view]
    %table
      %tr
        %td
          Logged Status:
        %td
          = select_tag "category", options_for_select(["Not Logged", "Logged", "All"], params[:category])
      %tr
        %td
          Type:
        %td
          - types = ["All"].push *(Feedback.types)
          = select_tag "type", options_for_select(types, params[:type])
      %tr
        %td
        %td
          = text_field_tag "owner", params[:owner], :placeholder => "Search by Username or Email..."
      %tr
        %td
        %td
          = submit_tag "Filter"

  - if @feedback.any?
    #feedback-items
      - @feedback.each do |feedback_item|
        = render :partial => 'item', :locals => {shorten: true, feedback_item: feedback_item}
    
  - else
    #no-feedback
      There are no feedback items to look at in this scope.