= title "Contact Us - GameSprout"

= render :partial => 'shared/billboard', :locals => {title: "Contact Us", content: "Have a question? Find a bug? Let us know!",  img_url: "/assets/contact-us-header.png" }

%main.content#contact
  %p.intro
    You can email us at #{link_to 'gs-support@schellgames.com', 'mailto:gs-support@schellgames.com'}, talk to us via any of our social media pages (
    %a.social-button.fbLike{:href => Rails.configuration.facebook_url, :title => "Like GameSprout on Facebook"}
      Like GameSprout on Facebook
    
    %a.social-button.twitter{:href => Rails.configuration.twitter_url, :title => "Follow GameSprout on Twitter"}
      Follow GameSprout on Twitter
    ), or you can use the contact form below!

  #contact-form
    = render :partial => 'shared/errors', :locals => {doc: @feedback, centered: false}

    = form_for @feedback do |f|
      .field
        = f.label :email
        = f.text_field :email, {value: (user_signed_in? ? current_user.email : '')}

      .field
        = f.label :type, "Subject"
        = f.select :type, Feedback.types_with_names, {include_blank: "Please pick one", default: nil, :selected => params[:feedback_type]}

      .field
        = f.label :content, "Message"
        = f.text_area :content, {class: 'feedback', maxlength: 1000}

      = f.submit "Submit Feedback"