= title "View Feedback - Admin - GameSprout"

#feedback-show
  = link_to 'back to feedback index', feedback_index_path, :class => "back"

  = render :partial => 'item', :locals => {feedback_item: @feedback_item}
  
  .title-small Admin Notes
  #notes= @feedback_item.notes.empty? ? "(none)" : admin_content(@feedback_item.notes)

  #actions    
    %input.action_url{type: 'hidden', value: change_logged_feedback_path}
    - if @feedback_item.logged?
      = link_to 'un-log feedback', '#', class: 'btn', "data-feedback-action" => 'unlog'
    - else
      = link_to 'log feedback', '#', class: 'btn', "data-feedback-action" => 'log'

    = link_to 'edit admin note', edit_feedback_path, class: 'btn'