= title "Thanks For Contacting Us - GameSprout"
%main.content#bugsubmitted
  %h1 Thanks for contacting us! 

  %p.intro
    If this is a help request, we will try to get back to you as soon as possible. If you're reporting a bug or providing feedback, <strong><em>thank you</em></strong>! Websites, like games, can only improve with iteration, and your feedback helps us improve the site. We'll try to fix bugs as quickly as we can, while overall feedback might take a little longer &mdash; but we're definitely listening!