= title "Edit My Profile Info - GameSprout"

%main.content.account
	= render :partial => 'devise/acct_sidebar', :locals => {current_setting: :profile}
	
	.settings
		- if @user_details.errors.any?
			= render :partial => 'shared/errors', :locals => {doc: @user_details, centered: false}

		%h1 Profile Page Settings		

		= form_for @user_details, url: update_user_details_path, :html => {:method => 'post'} do |f|
			.float-left
				.field
					= f.label :location_label, "Name:"
					= f.text_field :full_name

				.field
					= f.label :location_label, "Location: "
					= f.text_field :location

				.field
					= f.label :twitter_label, "Twitter Handle: "
					= f.text_field :twitter_handle

				.field
					= f.label :public_email_label, "Contact Email: "
					.instructions This will be displayed publicly.
					= f.text_field :public_email

			
			%img.avatar.large.float-right{src: current_user.user_details.nil? ? "/assets/default-avatar.png" : current_user.user_details.avatar}

			.clear
			.field
				= f.label :avatar_label, "Link a Profile Picture: "
				.instructions	(240x240 recommended)
				= f.text_field :avatar, class: 'long'

			.field
				= f.label :bio_label, "Bio: "
				.instructions Tell us about yourself!
				= f.text_area :bio, :'data-limit-id' => 'bio', :style => "height: 90px;"
				= render :partial => 'shared/char_limit', :locals => {limit_id: 'bio', max_chars: 600}

			= f.submit "Save Settings", class: 'btn'
