
- if idea && !idea.new?
  %meta{:property => "og:title", :content => idea.title}
  %meta{:property => "og:type", :content => "game"}
  %meta{:property => "og:url", :content => "http://" + ENV['HOST_URL'].to_s + design_document_idea_path(idea)}
  %meta{:property => "og:image", :content => idea.details.banner_image.nil? ? "http://www.gamesprout.com/assets/square-img.png" : idea.details.banner_image}
  %meta{:property => "og:site_name", :content => "Gamesprout"}
  %meta{:property => "og:description", :content => idea.details.pitch}
- else
  %meta{:property => "og:title", :content => "GameSprout"}
  %meta{:property => "og:type", :content => "game"}
  %meta{:property => "og:url", :content => "http://www.gamesprout.com/"}
  %meta{:property => "og:image", :content => "http://www.gamesprout.com/assets/square-img.png"}
  %meta{:property => "og:site_name", :content => "Gamesprout"}
  %meta{:property => "og:description", :content => "Collaborative game design and development!"}