!!!
%html
  %head
    %title GameSprout
    
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    = render :partial => 'layouts/meta_tags', :locals => {idea: @idea}

    = javascript_include_tag "http://code.jquery.com/jquery-1.9.0.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.0/jquery-ui.js"
    = javascript_include_tag "application"

    / TODO: temporary, convert to coffeescript
    = javascript_include_tag "/main.js"

    / helps with @mention textarea display, from: https://github.com/component/textarea-caret-position
    = javascript_include_tag "/textarea-caret-position.js"

    / fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Alef:400,700|Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"} 
    
    = stylesheet_link_tag "/jquery-ui-1.10.3.custom.css"
    = stylesheet_link_tag "application", :media => "all"

    / lightbox 2    
    = javascript_include_tag "/lightbox2/js/lightbox.js"
    = stylesheet_link_tag    "/lightbox2/css/lightbox.css"

    / Masonry -- Can't get it to load the images first, but would love to use it.
    /
    /  = javascript_include_tag "/masonry.pkgd.min.js"
    /
      :javascript
        docReady( function() {
          // document is ready, let's do some fun stuff!
          var container = document.querySelector('.grid');
          var msnry;
          // initialize Masonry after all images have loaded
          imagesLoaded( container, function() {
            msnry = new Masonry( container );
          });
        });
  

    <link rel="stylesheet" type="text/css" href="/assets/ie-fixes.css" />
    
    - if browser_is_IE10?
      = stylesheet_link_tag "ie-fixes"

    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>    

    = csrf_meta_tags

  %body
    //= render :partial => 'shared/sign_in_overlay'

    - if notice
      .alert.alert-success= notice

    - if alert
      .alert.alert-error= alert

    = render :partial => 'shared/header'
    #wrapper
      
      = yield

      .clear
      = render :partial => 'shared/footer'
    / end wrapper
    
    = render :partial => 'shared/google_analytics_script'
