%html
  %head
  %body{style: body_style}
    /#header{style: header_style}
    %img{src: (absolute_src '/assets/email-header.png'), style: header_style}
    
    #email-content{style: email_content_style}
      = yield

      %p{style: 'text-align: right;'} - The GameSprout Team

    #footer
      %img#footer-divider{src: (absolute_src '/assets/email-footer.png'), style: footer_divider_style}
      #footer-content{style: footer_content_style}
        #p-container{style: footer_p_container_style}
          %p 
            Be a part of the game development community! Add 
            = link_to "gs-support@schellgames.com", "mailto:GameSprout <gs-support@schellgames.com>"
            to your address book.

          %p{style: small_style}
            This message was mailed to #{@user.username} <#{@user.email}> by GameSprout. This information email has been sent to you as a member of the GameSprout community.

          %p
            = link_to "Unsubscribe", notification_settings_url
            \|
            = link_to "Terms of Use", terms_url
            \|
            = link_to "Contact Us", new_feedback_url

          %p{style: small_style}
            &copy;2013 Schell Games. GameSprout and the GameSprout logo used in this email are owned by Schell Games. All rights reserved.