!!!
%html
  %head
    %title GameSprout
    
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    = render :partial => 'layouts/meta_tags', :locals => {idea: @idea}

    = javascript_include_tag "http://code.jquery.com/jquery-1.9.0.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.0/jquery-ui.js"
    = javascript_include_tag "application"

    / TODO: temporary, convert to coffeescript
    = javascript_include_tag "/main.js"

    %link{:href => "http://fonts.googleapis.com/css?family=Alef:400,700", :rel => "stylesheet", :type => "text/css"}
    
    = stylesheet_link_tag "/jquery-ui-1.10.3.custom.css"
    = stylesheet_link_tag "new-home", :media => "all"

    / lightbox 2    
    = javascript_include_tag "/lightbox2/js/lightbox.js"
    = stylesheet_link_tag    "/lightbox2/css/lightbox.css"

    <link rel="stylesheet" type="text/css" href="/assets/ie-fixes.css" />
    
    - if browser_is_IE10?
      = stylesheet_link_tag "ie-fixes"

    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>    

    = csrf_meta_tags

  %body
    //= render :partial => 'shared/sign_in_overlay'

    - if notice
      .alert.alert-success= notice

    - if alert
      .alert.alert-error= alert

    #wrapper
      
      / centers the page
      = render :partial => 'shared/navigation'
      
      = yield

      .clear
      
      = render :partial => 'shared/footer'
      = render :partial => 'shared/google_analytics_script'
    / end wrapper