#add-demo-gallery
	= form_tag add_gallery_demo_idea_path, :method => :post do
		%h3 Choose a Demo from your Activity Feed
		= label_tag :demo, "Select a demo that you would like to add to the gallery on your design document page."
		%br
		%select{:name => "demo", :multiple => ""}
			- idea.posts.prototypes.reverse.each do |demo|
				-if !idea.demo_gallery.include? demo.id.to_s
					%option{:value => demo.id} #{demo.title}
		%br
		= submit_tag "Choose Demo", class: 'btn btn-success', :id => 'bottom-submit'

	%br
	%em Note: if you want to create a demo, #{link_to 'go to your activity feed', idea_path(@idea, :anchor => 'activity-feed')} and select the demo tab!