= form_tag add_gallery_image_idea_path, :method => :post do
  = label_tag :url, "Image url"
  = text_field_tag :url, nil
  = submit_tag "Save Image", class: 'btn', :id => 'top-submit', :'data-add-gallery-image' => true
  %img.ajax-loader{src: '/assets/ajax-loader.gif', style: 'display: none;'}