%section.demos
  %h5.section-header Demos
  %ul.unstyled
    - idea.demo_gallery.each do |demo|
      %li.thumb
        - if user_owns_idea?
          .editable
            = link_to image_tag("/assets/x-icon.png"), remove_gallery_demo_idea_path(:demo => demo.id), {:method => :post, :confirm => "Are you sure you want to remove this demo from the gallery?", class: 'btn rm-gallery-demo'}
          %a{:href => post_path(demo)}
            %img{:src => demo.image.nil? || demo.image.strip.empty? ? "/assets/default-demo.png" : demo.image, width: 250, height: 180}
        - else
          %a{:href => post_path(demo)}
            %img{:src => demo.image.nil? || demo.image.strip.empty? ? "/assets/default-demo.png" : demo.image, width: 250, height: 180}

    - if user_owns_idea?
      %li.thumb
        = link_to "+ Add Demo", '', {class: 'add', 'data-dialog-target-id' => ("demo" + idea.id.to_s)}
        .demo-dialog-content{title: "Add to Demo Gallery", id: ("demo" + idea.id.to_s), 'data-dialog-size' => 'auto'}
          = render :partial => '/ideas/design_document/add_demo', :locals => {idea: idea}