%section.design-details
  %h5.section-header Additional Design Details
  %ul.unstyled.cmds
    - idea.design_docs.each do |add_doc|
      %li
        = link_to add_doc.title, idea_design_doc_path(@idea, add_doc.id), :class => "item"
        - if user_owns_idea?
          .controls
            &nbsp;
            = link_to 'Edit', edit_idea_design_doc_path(@idea, add_doc.id)
            |
            = link_to 'Delete', idea_design_doc_path(@idea, add_doc), {:method => :delete, :confirm => "Are you sure you want to delete " + add_doc.title, :title => 'Delete'}


    - if user_owns_idea?
      = link_to "+ Add Design Detail", new_idea_design_doc_path(@idea), :class => "add"