#design-details
  = form_tag edit_details_idea_path, :method => :post do
    //Platform
    %section#core-platform
      %h5.section-header.close 
        Platform
        %a.btn-edit-platform 
          Edit

      - if !details.platform.nil? && !details.platform.empty?
        = details.platform
      - else
        = "No platform information yet."

    %section#core-platform-edit
      %h5.section-header.close
        Platform

      = label_tag :platform, "Which platforms will be the game be for?"
      .instructions (ex. iOS, PC, console, web)
      
      .field
        = text_field_tag :platform, @idea.details.platform, :'data-limit-id' => 'platform'
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'platform', max_chars: 600}

      %a.btn.toggled-off.btn-edit-platform.narrow Cancel
      = submit_tag "Save Changes", {class: 'toggled-off btn-save-platform btn narrow'}

  = form_tag edit_details_idea_path, :method => :post do
    //Mechanics
    %section#core-mechanics
      %h5.section-header.close
        Core Mechanics
        %a.btn-edit-mechanics 
          Edit
      - if !details.mechanics.nil? && !details.mechanics.empty?
        = comment_content details.mechanics
      - else
        = "No mechanics information yet."

    %section#core-mechanics-edit
      %h5.section-header.close
        Core Mechanics

      = label_tag :mechanics, "Describe your game's core mechanics"
      .instructions Core mechanics are the moment-to-moment actions that the player will be taking. Think of this as the heart of the game.

      .field
        = text_area_tag :mechanics, @idea.details.mechanics, :'data-limit-id' => 'mechanics'
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'mechanics', max_chars: 600}

      %a.toggled-off.btn.narrow.btn-edit-mechanics Cancel
      = submit_tag "Save Changes", {class: 'toggled-off btn narrow btn-save-mechanics'}

  = form_tag edit_details_idea_path, :method => :post do
    //Aesthetics
    %section#core-aesthetics
      %h5.section-header 
        Look and Feel
        %a.btn-edit-aesthetics 
          Edit
      - if !details.aesthetics.nil? && !details.aesthetics.empty?
        = comment_content details.aesthetics
      - else
        = "No aesthetics information yet."

    %section#core-aesthetics-edit
      %h5.section-header 
        Look and Feel

      = label_tag :aesthetics, "Briefly describe what you imagine the game looks and feels like"
      .instructions Try adding some images to your gallery to help show what you imagine!

      .field
        = text_area_tag :aesthetics, @idea.details.aesthetics, :'data-limit-id' => 'aesthetics'
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'aesthetics', max_chars: 600}

      %a.toggled-off.btn.narrow.btn-edit-aesthetics Cancel
      = submit_tag "Save Changes", {class: 'toggled-off btn narrow btn-save-aesthetics'}

  = form_tag edit_details_idea_path, :method => :post do
    //Favorite Thing
    %section#core-favorite
      %h5.section-header 
        Favorite Thing About This Idea (Wow Factor!)
        %a.btn-edit-favorite 
          Edit
      - if !details.favorite.nil? && !details.favorite.empty?
        = comment_content details.favorite
      - else
        = "No favorite thing information yet."

    %section#core-favorite-edit
      %h5.section-header 
        Favorite Thing About This Idea (Wow Factor!)

      = label_tag :favorite, "What's your favorite thing about this game?"
          
      .field
        = text_area_tag :favorite, @idea.details.favorite, :'data-limit-id' => 'favorite'
        = render :partial => 'shared/char_limit', :locals => {limit_id: 'favorite', max_chars: 600}

      %a.toggled-off.btn.narrow.btn-edit-favorite Cancel
      = submit_tag "Save Changes", {class: 'toggled-off btn narrow btn-save-favorite'}
