#design-details
  %section#core-platform
    - if !details.platform.nil? && !details.platform.empty?
      %h5.section-header Platform
      %p= details.platform

  %section#core-mechanics
    - if !details.mechanics.nil? && !details.mechanics.empty?
      %h5.section-header Core Mechanics
      = comment_content details.mechanics

  %section#core-aesthetics
    - if !details.aesthetics.nil? && !details.aesthetics.empty?
      %h5.section-header Look and Feel
      = comment_content details.aesthetics

  %section#core-favorite
    - if !details.favorite.nil? && !details.favorite.empty?
      %h5.section-header Your Favorite Thing
      = comment_content details.favorite

  = link_to 'Comment', @idea, :class => 'btn narrow'