= form_tag edit_details_idea_path, :method => :post do
	.field
		= label_tag :title, "Edit the title of your idea (40 characters max)"
		= text_field_tag :title, idea.details.title, {:maxlength => 40, :size => 40, class: 'title'}
	.field
		= label_tag :pitch, "Edit your idea's pitch (600 characters max)"
		= text_area_tag :pitch, idea.details.pitch, {:maxlength => 600, :size => "75x12", class: 'description'}
	= submit_tag "Save Idea Details"