= form_tag edit_banner_image_idea_path, :method => :post, :id => "edit-banner-image-form" do
	= label_tag :url, "Change your idea's banner image (540x370)"
	%br
	Url: 
	= text_field_tag :url, nil, :size => 40
	= submit_tag "Save Image", class: 'btn btn-success', :id => 'top-submit'