%section.featured-demo
	- demo = idea.featured_demo
	- if !demo.nil?
		-if user_owns_idea?
			%a.btn.orange.narrow{:href => '', 'data-dialog-target-id' => ("featured" + idea.id.to_s)}
				Change Featured Demo

			.featured-dialog-content{title: "Feature a Demo", id: ("featured" + idea.id.to_s), 'data-dialog-size' => ''}
				= render :partial => '/ideas/design_document/select_featured_update', :locals => {idea: idea}

		%h4.section-header
			Featured Demo
		%time.post-date
			Demo Posted on #{demo.created_at.strftime("%B %d, %Y")}
		= render :partial => '/ideas/show/post_type_prototype', :locals => {idea: idea, post: demo}
	- else

		-if user_owns_idea?
			%h4.section-header
				Featured Demo
			.featured-area
				%p.no-demo.close There is no featured demo for this idea. Feature one from your activity feed!
				%a.btn.orange.stacked{:href => '', 'data-dialog-target-id' => ("featured" + idea.id.to_s)}
					Feature a Demo
				.featured-dialog-content{title: "Feature a Demo", id: ("featured" + idea.id.to_s), 'data-dialog-size' => ''}
					= render :partial => '/ideas/design_document/select_featured_update', :locals => {idea: idea}

