%section.gallery
  %h5.section-header Gallery
  %ul.unstyled.thumbnails
    - unless idea.details.image_links.nil? || idea.details.image_links.empty?
      - idea.details.image_links.reverse.each do |image|
        %li.thumb
          - if user_owns_idea?
            .editable
              %a.gallery-img{:href => image.url, :rel => "lightbox[design_gallery]", :title => image.description.nil? ? "" : image.description, :style => "background-image: url(#{image.url})"}

              = link_to '', remove_gallery_image_idea_path(:image => image.id.to_s), {:method => :post, :confirm => "Are you sure you want to remove this image from the gallery?", class: 'icon-remove', :title => 'Remove'}
          - else
            %a.gallery-img{:href => image.url, :rel => "lightbox[design_gallery]", :title => image.description.nil? ? "" : image.description, :style => "background-image: url(#{image.url})"}
              
    
    - if user_owns_idea?
      %li.thumb.add
        = link_to '+ Add Image', '', {'data-dialog-target-id' => ("gallery" + idea.id.to_s)}

        .image-dialog-content{title: "Add an Image to the Gallery", id: ("gallery" + idea.id.to_s), 'data-dialog-size' => 'auto'}
          = render :partial => '/ideas/design_document/add_gallery_image', :locals => {idea: idea}