#add-demo-featured
	= form_tag select_featured_demo_idea_path, :method => :post do
		%h3 Feature a Demo:
		= label_tag :demo, "Select a demo post from your activity feed that you'd like to feature on your design document page!"
		%br
		%select{:name => "demo", :multiple => ""}
			- idea.posts.prototypes.reverse.each do |demo|
				%option{:value => demo.id} #{demo.title}
		%br
		= submit_tag "Feature Demo", class: 'btn btn-success'
		= submit_tag "Remove Featured Demo", {class: 'btn btn-success'}